extends base

block title
    | Newsletter list - Don Mills Online Judge

block content_title
    | Newsletter list

block body
    if user.is_authenticated
        form(method='POST', action='')
            - csrf_token
            | {{ formset.management_form }}
            table.form-area
                tr
                    th Newsletter
                    th Subscribe
                each form in formset.forms
                    tr
                        td {{ form.id }}{{ form.newsletter }}
                            a(href='{% url "newsletter_detail" form.instance.newsletter.slug %}')
                                = form.instance.newsletter.title
                        td #{form.subscribed}
        p
            input(id='id_submit', name='submit', value='Update subscriptions', type='submit')
    else
        table.form-area
            tr
                th Newsletter
            each newsletter in object_list
                tr
                    td
                        a(href='{% url "newsletter_detail" newsletter.slug %}')= newsletter.title
