{% extends "base.html" %}

{% block title %}Newsletter subscribe{% endblock %}

{% block body %}
    <h1>Newsletter subscribe {{ newsletter.title }}</h1>
    <p>Welcome, {{ request.user }}!</p>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% else %}
        Do you want to subscribe to this newsletter?
        <form enctype="multipart/form-data" method="post"
              action="{{ url('newsletter_subscribe_confirm', newsletter.slug) }}">
            {% csrf_token %}
            <p><input id="id_submit" name="submit" value="Subscribe" type="submit"></p>
        </form>
    {% endif %}
{% endblock %}