{% extends "newsletter/common.html" %}

{% block title %}{{ _('Newsletter unsubscribe') }}{% endblock title %}

{% block body %}
    <h1>{{ _('Newsletter unsubscribe') }} {{ newsletter.title }}</h1>

    <p>Welcome, {{ request.user }}!</p>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% else %}
        {{ _('Do you want to unsubscribe from this newsletter?') }}
        <form enctype="multipart/form-data" method="post"
              action="{{ url('newsletter_unsubscribe_confirm', newsletter.slug) }}">
            {% csrf_token %}
            <p><input id="id_submit" name="submit" value="{{ _('Unsubscribe') }}" type="submit"></p>
        </form>
    {% endif %}

{% endblock body %}
