extends base

block title
    | Newsletter #{newsletter.title} #{action} activate

block body
    h1 Newsletter #{newsletter.title} #{action} activate

    p Your subscription has successfully been activated.