extends base
- load staticfiles
- load cache
- load markdown
- load i18n

block js_media
    include status/media-js

block media
    include status/media-css
    block content_media

block header
    if perms.judge.change_judge
        .title-line-action [#[a(href='{% url "admin:judge_judge_change" judge.id %}') {% trans "Edit" %}]]

block body
    .content-description
        - cache 86400 judge_html judge.id
            | #{judge.description|markdown:"judge"}

    h3 {% trans "All Judges" %}
    hr
    table#judge-status.table
        include status/judge-status-table
