extends base

- load static from staticfiles
- load i18n

block js_media
    include status/media-js

block media
    include status/media-css
    block content_media

block title_ruler

block title_row
    - var tab = 'judges'
    include status/status-tabs

block body
    table#judge-status.table
        include status/judge-status-table
