extends base

- load static from staticfiles
- load i18n

block js_media
    include status/media-js

block media
    include status/media-css
    block content_media

block header
    if perms.judge.change_judge
        .title-line-action [#[a(href='{% url "admin:judge_judge_changelist" %}') {% trans "Admin" %}]]

block body
    p
        - blocktrans with name=SITE_NAME
            | This page shows the live status of {{ name }}'s judging servers.
    h3 {% trans "Judges" %}
    hr
    table#judge-status.table
        include status/judge-status-table
