extends base

- load cache
- load markdown_trois_tags
- load i18n

block media
    style.
        .table td.language {
            white-space: nowrap;
        }

        .table td.info .content-description {
            margin-top: -1em;
            margin-bottom: -1em;
        }
        
        .table td {
            text-align: left;
        }

block header
    if perms.judge.change_language
        .title-line-action [#[a(href='{% url "admin:judge_language_changelist" %}') {% trans "Admin" %}]]

block body
    table.table
        thead
            tr
                th {% trans "ID" %}
                th {% trans "Name" %}
                th {% trans "Runtime Info" %}
        tbody
            each language in languages
                if language.runtime_versions or language.description
                    tr
                        td= language.short_display_name
                        td.language
                            span= language.name
                        td.info
                            if language.description
                                .content-description
                                    - cache 86400 language_html language.id
                                        | #{language.description|markdown:"language"}
                            else
                                - var runtime_versions = language.runtime_versions
                                code
                                    include runtime-version-fragment
    
