extends base

- load cache
- load markdown
- load i18n

block media
    style.
        .table td.language {
            white-space: nowrap;
        }

        .table td.info .content-description {
            margin: -1em 1em -1em 1em;
        }

        td.info { width: 100%; }
        
        .table td {
            text-align: left;
        }

block title_ruler

block title_row
    - var tab = 'runtimes'
    include status/status-tabs

block body
    table.table
        thead
            tr
                th {% trans "ID" %}
                th {% trans "Name" %}
                th {% trans "Runtime Info" %}
        tbody
            each language in languages
                // All online languages have runtime_versions, even if we're not going to display them
                if language.runtime_versions
                    tr
                        td= language.short_display_name
                        td.language
                            span= language.name
                        td.info
                            - var runtime_versions = language.runtime_versions
                            code
                                include runtime-version-fragment
                            if language.description
                                .content-description
                                    - cache 86400 language_html language.id
                                        | #{language.description|markdown:"language"}
    
