- load i18n

.page-title: .tabs
    h2 {% trans title %}
    span.spacer
    ul
        li.tab(class=('active' if tab == 'judges' else ''))
            a(href='{% url "status_all" %}') #[i.tab-icon.fa.fa-server] {% trans "Judges" %}
        li.tab(class=('active' if tab == 'runtimes' else ''))
            a(href='{% url "runtime_list" %}') #[i.tab-icon.fa.fa-code] {% trans "Runtimes" %}