{% extends "base.html" %}

{% block media %}
    <style>

    </style>
{% endblock %}

{% block title_ruler %}{% endblock %}

{% block title_row %}
    {% set tab = 'judges' %}
    {% include "status/status-tabs.html" %}
{% endblock %}

{% block body %}
    <table id="judge-versions" class="table">
        <thead>
        <tr>
            <th></th>
            {% for judge in judges %}
                <th>{{ judge.name }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for language in languages %}
            <tr>
                <th>{{ language.name }}</th>
                {% for judge in judges %}
                    {% set versions = matrix[(judge.id, language.id)] %}
                    <td class="version version-
                        {%- if not versions -%}
                            blank
                        {%- elif versions.is_latest -%}
                            latest
                        {%- else -%}
                            outdated
                        {%- endif %}">
                        {%- for version in versions -%}
                            {{ version.name }}&nbsp;{{ version.version }}{% if not loop.last %}<br>{% endif %}
                        {%- else -%}
                            &mdash;
                        {%- endfor -%}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}