{% extends "base.html" %}

{% block js_media %}
    {{ form.media.js }}
    <script type="text/javascript">
        window.django = {jQuery: $};

        function pluralidx(count) {
            return (count == 1) ? 0 : 1;
        }

        function gettext(msgid) {
            return msgid;
        }

        function interpolate(fmt, obj, named) {
            if (named) {
                return fmt.replace(/%\(\w+\)s/g, function (match) {
                    return String(obj[match.slice(2, -2)])
                });
            } else {
                return fmt.replace(/%s/g, function (match) {
                    return String(obj.shift())
                });
            }
        }
    </script>
{% endblock %}

{% block media %}
    {{ form.media.css }}
    <link rel="stylesheet" href="{{ static('admin/css/widgets.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ static('admin/css/pagedown.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ static('problem_edit.css') }}" type="text/css">
    <style>
        #id_about {
            width: 500px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="centered-form">
        <form action="" method="post" class="form-area">
            {% csrf_token %}
            <table border="0" class="django-as-table">{{ form.as_table() }}</table>
            <button class="submit-bar" type="submit">{{ _('Update') }}</button>
        </form>
    </div>
{% endblock %}
