extends common-content
- load staticfiles
- load markdown
- load cache
- load i18n
- load reference

block info_float
    if request.user.is_authenticated
        - with profile=request.user.profile
            if profile in organization
                a.unselectable.button.full(href='{% url "leave_organization" organization.key %}')
                    | {% trans "Leave organization" %}
            elif organization.is_open
                a.unselectable.button.full(href='{% url "join_organization" organization.key %}')
                    | {% trans "Join organization" %}
            else
                a.unselectable.button.full(href='{% url "request_organization" organization.key %}')
                    | {% trans "Request membership" %}
        hr
    if can_edit
        div: a(href='{% url "edit_organization" organization.key %}') {% trans "Edit organization" %}
        if not organization.is_open
            div: a(href='{% url "organization_requests_pending" organization.key %}') {% trans "View requests" %}
    if perms.judge.change_organization
        div: a(href='{% url "admin:judge_organization_change" organization.id %}') {% trans "Admin organization" %}
    div: a(href='{% url "organization_users" organization.key %}') {% trans "View members" %}

block description
    - cache 3600 organization_html organization.id MATH_ENGINE
        | #{organization.about|with_math_engine:MATH_ENGINE|markdown:"organization-about"|reference}
