extends common-content
-load staticfiles
-load markdown_trois_tags
-load cache
-load smart_math

block info_float
    if request.user.is_authenticated
        - with profile=request.user.profile
            if profile in organization
                a.unselectable.button.full(href='{% url "leave_organization" organization.key %}')
                    | Leave organization
                hr
            elif organization.is_open
                a.unselectable.button.full(href='{% url "join_organization" organization.key %}')
                    | Join organization
                hr
            else
                a.unselectable.button.full(href='{% url "request_organization" organization.key %}')
                    | Request membership
                hr
    if can_edit
        a(href='{% url "edit_organization" organization.key %}') Edit organization
        br
        if not organization.is_open
            a(href='{% url "organization_requests_pending" organization.key %}') View requests
    a(href='{% url "organization_users" organization.key %}') View members
        
block description
    -cache 3600 organization_html organization.id
        | #{organization.about|markdown:"organization-about"|smart_math}
