{% extends "common-content.jade" %}{%  load staticfiles %}{%  load markdown %}{%  load cache %}{%  load i18n %}{%  load reference %}{% block info_float %}{% if  request.user.is_authenticated %}{%  with profile=request.user.profile %}{% if  profile in organization %}<a href="{% url "leave_organization" organization.key %}" class="unselectable button full">{% trans "Leave organization" %}</a>{% elif  organization.is_open %}
<a href="{% url "join_organization" organization.key %}" class="unselectable button full">{% trans "Join organization" %}</a>{% else %}
<a href="{% url "request_organization" organization.key %}" class="unselectable button full">{% trans "Request membership" %}</a>{% endif %}{% endwith %}
<hr/>{% endif %}
{% if  can_edit %}
<div><a href="{% url "edit_organization" organization.key %}">{% trans "Edit organization" %}</a>
</div>{% if  not organization.is_open %}
<div><a href="{% url "organization_requests_pending" organization.key %}">{% trans "View requests" %}</a>
</div>{% endif %}{% endif %}{% if  perms.judge.change_organization %}
<div><a href="{% url "admin:judge_organization_change" organization.id %}">{% trans "Admin organization" %}</a>
</div>{% endif %}
<div><a href="{% url "organization_users" organization.key %}">{% trans "View members" %}</a>
</div>{% endblock %}{% block description %}{%  cache 3600 organization_html organization.id MATH_ENGINE %}{{organization.about|with_math:MATH_ENGINE|markdown:"organization-about"|reference|escape}}{% endcache %}{% endblock %}