{% extends "base.html" %}
{% block js_media %}
    <script src="{{ static('libs/tablesorter.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $("#organization-table").tablesorter();
        });
    </script>
{% endblock %}

{% block title_ruler %}{% endblock %}

{% block title_row %}
    {% set tab = 'organizations' %}
    {% set title = _('Organizations') %}
    {% include "user/user-list-tabs.html" %}
{% endblock %}

{% block body %}
    <table id="organization-table" class="table">
        <thead>
        <tr>
            <th style="width:85%">{{ _('Name') }}</th>
            <th>{{ _('Members') }}</th>
        </tr>
        </thead>
        <tbody>
        {% for org in organizations %}
            <tr>
                <td><a href="{{ org.get_absolute_url() }}">{{ org.name }}</a></td>
                <td><a href="{{ org.get_users_url() }}">{{ org.member_count }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
