extends base
- load cache
- load staticfiles

block js_media
    script(src='{% static "tablesorter.js" %}', type='text/javascript')
    script(type='text/javascript')
        $(document).ready(function () {
            $("#organization-table").tablesorter();
        });

block body
    br
    table.table#organization-table
        thead
            tr
                th ID
                th(style='width:85%') Name
                th Members
        tbody
            each org in organizations
                tr
                    td= org.key
                    td
                        a(href='{% url "organization_home" org.key %}')= org.name
                    td
                        - cache 86400 org_member_count org.id
                            a(href='{% url "organization_users" org.key %}')= org.member_count
