extends base

- load media_extract

block js_media
    | #{form.media|media_type:"js"}

block media
    | #{form.media|media_type:"css"}

block body
    form.form-area(action='', method='post')
        - csrf_token
        table(border=0, style='text-align:left') #{form.as_table}
        button(type='submit') Create
