extends base

block body
    form.form-area(action='', method='post')
        - csrf_token
        b Your reason for joining:
        br
        | #{form.reason}
        button(type='submit') Request
