{% extends "user/base-users.html" %}
{% block users_media %}
    <style>
        #users-table td:nth-child(2), #users-table th:nth-child(2) {
            border-right: none;
            text-align: left;
        }

        .kick-form .button {
            margin: -8px 0;
        }
    </style>

    {% if is_admin %}
        <style>#users-table td:nth-child(3), #users-table th:nth-child(3) {
            border-right: none;
        }
        </style>
    {% endif %}
{% endblock %}

{% block users_js_media %}
    <script type="text/javascript">
        $(function () {
            $('form.kick-form').find('a.button').click(function () {
                if (confirm('Are you sure you want to kick?')){
                    $(this).parent().submit();
                }
                return false;
            })
        });
    </script>
{% endblock %}

{% block users_table %}{% include "organization/users-table.html" %}{% endblock %}
