.idea
.vscode
.sass-cache
*.sqlite3
*.py[co]
*.mo
*~
*.swp
dmoj/local_settings.py
resources/dark
resources/martor-description.css
resources/select2-dmoj.css
resources/style.css
resources/vars.scss
sass_processed
