[submodule "resources/pagedown"]
	path = resources/pagedown
	url = https://github.com/DMOJ/dmoj-pagedown.git
	branch = master
[submodule "resources/libs"]
	path = resources/libs
	url = https://github.com/DMOJ/site-assets.git
	branch = master
