Django>=2.1,<2.2
django_compressor
django-mptt
django-pagedown
django-registration-redux
django-reversion
django-social-share
django-sortedm2m
django-impersonate
-e git://github.com/DMOJ/dmoj-wpadmin.git#egg=dmoj-wpadmin
lxml
Pygments
mistune
social-auth-app-django
pytz
django-statici18n
pika
ua-parser
pyyaml
jinja2
django_jinja
llist
requests
django-fernet-fields
pyotp
qrcode[pil]
jsonfield
pymoss
packaging
celery
ansi2html
