<b>Thanks for registering on the {{ site.name }}! We're glad to have you.</b>
<br><br>
The last step is activating your account. Please activate your {{ SITE_NAME }} account in the next {{ expiration_days }} days.
<br><br>
Please click on the following link to activate your account:
<p style="margin-left:1em">
      <a href="http://{{ site.domain }}/accounts/activate/{{ activation_key }}/">http://{{ site.domain }}/accounts/activate/{{ activation_key }}</a>
</p>

Alternatively, you can reply to this message to activate your account.
Your reply must keep the following text intact for this to work:

<pre style="margin-left:1em">
{{ activation_key }}
</pre>

{% if SITE_ADMIN_EMAIL %}
See you soon!
<br>
If you have problems activating your account, feel free to send us an email at <a href="mailto:{{ SITE_ADMIN_EMAIL }}">{{ SITE_ADMIN_EMAIL }}</a>.
{% else %}
See you soon!
{% endif %}
