extends base

block media
    style
        #content-body {
          position: fixed;
          top: 170px;
          left: 0px;
          right: 0px;
          bottom: 0px;
        }

        #login-panel {
          position: absolute;
          margin: -5em auto auto -10em;
          top: 40%;
          left: 50%;
        }
        i {
            display:inline;
            font-size:1.9em;
        }
        .google-icon {
            display:inline;
        }
        .google-icon i {
            color:#55ACEE;
        }
        .facebook-icon {
            display:inline;
        }
        .facebook-icon i {
            color:#133783;
        }
block body
    #login-panel
        form.form-area(action='', method='post')
            -csrf_token
            
            if form.errors
                #form-errors
                    p.error Invalid username or password.
            table(border=0, style='text-align:left')
                tr
                    th
                        i.fa.fa-user.fa-fw
                    td
                        | #{form.username}
                tr
                    th
                        i.fa.fa-key.fa-fw
                    td
                        | #{form.password}
            hr
            button(style="float:right;", type='submit') Login!
            input(type='hidden', name='next', value=next)
        br
        a(href='{% url "password_reset" %}') Forgot your password?
        h4 Or login with...
        a.google-icon(href='{% url "social:begin" "google-oauth2" %}?next={{ next }}')
            i.fa.fa-google-plus-square
        = ' '
        a.facebook-icon(href='{% url "social:begin" "facebook" %}?next={{ next }}')
            i.fa.fa-facebook-square
        = ' '
        a.github-icon(href='{% url "social:begin" "github-secure" %}?next={{ next }}')
            i.fa.fa-github-square
        = ' '
        a.dropbox-icon(href='{% url "social:begin" "dropbox-oauth2" %}?next={{ next }}')
            i.fa.fa-dropbox
