extends base
- load i18n

block media
    style.
        #login-panel {
            position: relative;
            margin: 5em auto auto -10em;
            top: 40%;
            left: 50%;
        }
        h4 {
            padding-top:1em;
        }
        .social {
            display:inline;
            font-size:2.3em;
            float: none;
        }
        .google-icon i {
            color:#DD4B38;
        }
        .facebook-icon i {
            color:#133783;
        }
        .github-icon i {
            color:black;
        }
        .dropbox-icon i {
            color:#55ACEE;
        }
block body
    #login-panel
        form.form-area(action='', method='post')
            -csrf_token
            
            if form.errors
                #form-errors
                    p.error {% trans "Invalid username or password." %}
            table(border=0, style='text-align:left')
                tr
                    th
                        i.fa.fa-user.fa-fw
                    td
                        | #{form.username}
                tr
                    th
                        i.fa.fa-key.fa-fw
                    td
                        | #{form.password}
            hr
            button(style="float:right;", type='submit') {% trans "Login!" %}
            input(type='hidden', name='next', value=next)
        br
        a(href='{% url "password_reset" %}') {% trans "Forgot your password?" %}
        h4 {% trans "Or log in with..." %}
        a.social.google-icon(href='{% url "social:begin" "google-oauth2" %}?next={{ next }}')
            i.fa.fa-google-plus-square
        = ' '
        a.social.facebook-icon(href='{% url "social:begin" "facebook" %}?next={{ next }}')
            i.fa.fa-facebook-square
        = ' '
        a.social.github-icon(href='{% url "social:begin" "github-secure" %}?next={{ next }}')
            i.fa.fa-github-square
        = ' '
        a.social.dropbox-icon(href='{% url "social:begin" "dropbox-oauth2" %}?next={{ next }}')
            i.fa.fa-dropbox
