extends base

block body
    if form.errors
        p.error Invalid username or password.
    form.form-area(action='', method='post')
        -csrf_token
        table(border=0, style='text-align:left') #{form.as_table}
        hr
        button(style="float:right;", type='submit') Login!
        input(type='hidden', name='next', value=next)
    br
    a(href='{% url "password_reset" %}') Forgot your password?
