extends base
- load i18n

block body
    form.form-area(action='', method='post')
        -csrf_token
        table(border=0) #{form.as_table}
        hr
        button(style="float:right;", type='submit') {% trans "Send Reset Email" %}
        input(type='hidden', name='next', value=next)
