<span style="display:block;margin: 0 2px;padding: 1em;border: 3px solid #FFDE05;background-color: #000;border-radius: 6px;font-size: .95em;color: #444;margin-bottom:0.75em">
<div style="display:table;margin-left:2em"><img src="https://avatars1.githubusercontent.com/u/6934864?v=3&s=101" style="display:inline;vertical-align: middle"/>
<h1 style="font-size:4em;display:inline;vertical-align: middle"><a href="http://dmoj.ca" style="text-decoration:none;color:gray"><span style="color: #FFDE05">DM::</span>OJ</a>
      </h1>
</div>
</span>
<span style="display:block;margin: 0 2px;padding: 1em;border: 3px solid #2980B9;background-color: #f8f8f8;border-radius: 6px;font-size: .95em;color: #444;">

<b>Forgot your password on the Don Mills Online Judge? Don't worry!</b><br/>
To reset the password for your account "{{ user.get_username }}", click the below button.
<p align="center">
<a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}/" style="cursor: pointer;display:block;text-align: center;padding: 4px 2px 5px;color: white;border: 1px solid #666;border-radius: 1px;background: #2980b9;background: linear-gradient(180deg, #00aee0, #2980b9);text-decoration: none;line-height:2em;font-size:1emm;width:12em;">Reset password</a>
</p>
See you soon! If you have problems resetting your password, feel free to shoot us an email at <a href="mailto:admin@dmoj.ca">admin@dmoj.ca</a>

</span>