{% extends "base.html" %}

{% block body %}
    <div class="centered-form">
        <form action="" method="post" class="form-area">
            {% if request.session.password_pwned %}
                <h4>{{ (_('We found your password in [a database of compromised passwords][0].') + '\n\n  [0]: https://haveibeenpwned.com/Passwords')|markdown('default', strip_paragraphs=True) }}
                    {{ _('To protect your account, we are requiring you to change your password to a more secure password.') }}</h4>
            {% endif %}
            {% csrf_token %}
            <table border="0" class="django-as-table">{{ form.as_table() }}</table>
            <hr>
            <button class="submit-bar" type="submit">{{ _('Change Password') }}</button>
        </form>
    </div>
{% endblock %}
