<meta charset="utf-8">
<span style="display:block;margin: 0 2px;padding: 1em;border: 3px solid #2980B9;background-color: #f8f8f8;border-radius: 6px;font-size: .95em;color: #444;">

这是一封密码重置邮件，用于重置 {{ SITE_LONG_NAME }}HBU_OJ 上的账号<br/><br/>
您要重置的用户名是 "{{ user.get_username }}", 请点击以下按钮跳转到重置页面

<p align="center">
<a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" style="cursor: pointer;display:block;text-align: center;padding: 4px 2px 5px;color: white;border: 1px solid #666;border-radius: 1px;background: #2980b9;background: linear-gradient(180deg, #00aee0, #2980b9);text-decoration: none;line-height:2em;font-size:1emm;width:12em;">Reset password</a>
</p>
{% if SITE_ADMIN_EMAIL %}
    如有疑问，请与系统管理员联系： <a href="mailto:{{ SITE_ADMIN_EMAIL }}">{{ SITE_ADMIN_EMAIL }}</a>
{% else %}
    我们稍后见！
{% endif %}
</span>
