extends base

block body
    form.form-area(action='', method='post')
        -csrf_token
        table(border=0, style='text-align:left') #{form.as_table}
        hr
        button(style="float:right;", type='submit') Change Password
        input(type='hidden', name='next', value=next)
