{% extends "base.html" %}
{% block media %}
    <link rel="stylesheet" href="{{ static('libs/timezone-map/timezone-map.css') }}">
    {{ form.media.css }}
    <style>
        .map-inset {
            background: url('{{ TIMEZONE_MAP }}') 50% 50%
        }

        .map-wrap {
            display: none
        }

        .featherlight .featherlight-content {
            min-width: 80%
        }
    </style>
{% endblock %}

{% block js_media %}
    {{ form.media.js }}
    <script type="text/javascript">
        $(function () {
            try {
                var tz = Intl.DateTimeFormat().resolvedOptions().timeZone;
                if (typeof tz === 'string' && $('#id_timezone option[value="' + tz + '"]').length) {
                    $('#id_timezone').val(tz).change();
                }
            } catch (e) {}
        });
    </script>
{% endblock %}

{% block body %}
    <form action="" method="post" class="form-area">
        {% csrf_token %}
        <table border="0" style="text-align:left">{{ form.as_table() }}</table>
        <input type="submit" style="float:right;" value="{{ _('Continue >') }}">
    </form>

    <div class="map-wrap">
        <div class="map-inset">
            <div class="map-axis-x"></div>
            <div class="map-axis-y"></div>
        </div>
    </div>
{% endblock %}
