{% extends "base.html" %}

{% block header %}
    <span class="submission-info">
        <span class="submission-date">{{ submission.date|date(_("N j, Y, g:i a")) }}
            {%- if perms.judge.change_submission and submission.judged_on %}
                on {{ submission.judged_on.name }}
            {% endif %}
            <br/>
            <span>{{ submission.language }}</span>
            {% if perms.judge.change_submission %}
                [<a href="{{ url('admin:judge_submission_change', submission.id) }}">{{ _('Admin') }}</a>]
            {% endif %}
        </span>
    </span>
{% endblock %}
