extends base

block content_title
    = 'Submission of '
    a(href='{% url "problem_detail" submission.problem.code %}')= submission.problem.name
    = ' by '
    a(href='{% url "user_page" submission.user.user.username %}')= submission.user.user.username

block header
    span.submission-info
        span.submission-date
            | #{submission.date|date:"N j, o, g:i a"}
            br
            a(href='{% url "runtime_info" submission.language.key %}')= submission.language
            = ' '
            if perms.judge.change_submission
                | [
                a(href='{% url "admin:judge_submission_change" submission.id %}') Admin
                | ]
