extends base
- load i18n

block content_title
    - url "problem_detail" submission.problem.code as problem_url
    - url "user_page" submission.user.user.username as user_url
    - blocktrans with problem_name=submission.problem.name user_name=submission.user.user.username
        | Submission of #[a(href='{{ problem_url }}') {{ problem_name }}] by #[a(href='{{ user_url }}') {{ user_name }}]

block header
    span.submission-info
        span.submission-date
            | #{submission.date|date:"N j, o, g:i a"}
            br
            a(href='{% url "runtime_info" submission.language.key %}')= submission.language
            = ' '
            if perms.judge.change_submission
                | [
                a(href='{% url "admin:judge_submission_change" submission.id %}') {% trans "Admin" %}
                | ]
