<h3 style="color:red;font-weight:bold">
    {% if request.user == submission.user.user %}
        {% trans trimmed %}
            An internal error occurred while grading, and the {{ SITE_NAME }} administrators have been notified.<br>
            In the meantime, try resubmitting in a few seconds.
        {% endtrans %}
    {% else %}
        {{ _('An internal error occurred while grading.') }}
    {% endif %}
</h3>

{% if submission.error and request.user.is_authenticated %}
    {% if request.profile.id in submission.problem.editor_ids or perms.judge.edit_all_problem %}
        <hr style="float:left;width:30%"><br>
        <h4>{{ _('Error information') }}</h4>
        <pre><code>{{ submission.error|highlight('pytb') }}</code></pre>
    {% endif %}
{% endif %}