{%  load code_highlight %}{%  load i18n %}
<h3 style="color:red;font-weight:bold">{% if  request.user == submission.user.user %}{%  blocktrans %}An internal error occurred while grading, and the {{ SITE_NAME }} administrators have been notified.<br/>In the meantime, try resubmitting in a few seconds.{% else %}
{% trans "An internal error occurred while grading." %}{% endif %}
</h3>
{% if  submission.error and request.user.is_authenticated %}{% if  request.user.profile.id in submission.problem.editor_ids or perms.judge.edit_all_problem %}
<hr style="float:left;width:30%"/><br/>
<h4>{% trans "Error information" %}</h4>
<pre><code>{{submission.error | highlight:"pytb"|escape}}</code>
</pre>{% endif %}{% endif %}