
			var chart;
            function stats_graph(raw_data) {
                var colors = {
                    TLE: '#a3bcbd',
                    AC: '#00a92a',
                    WA: '#ed4420',
                    CE: '#42586d',
                    ERR: '#ffa71c',
                };
                var canvas = $('#status-graph').find('canvas');
                var ctx = canvas[0].getContext('2d');
                var font = $('body').css('font-family');
                if (typeof chart != "undefined") {
					chart.destroy();
                }
                chart = new Chart(ctx).Pie(raw_data.categories.map(function (entry) {
                   	return {
                       	color: colors[entry.code],
                       	label: entry.name,
                       	value: entry.count,
                   	};
                }), {
                   	animation: false,
                   	scaleFontFamily: font,
                   	tooltipFontFamily: font,
                   	tooltipTitleFontFamily: font,
                });
                $('#total-submission-count').text(raw_data.total);
            }
