{% set can_view, can_edit = submission_layout(submission, profile_id, request.user, completed_problem_ids, editable_problem_ids, tester_problem_ids) %}
<div class="sub-result {{ submission.result_class }}">
    <div class="score">
        {%- if submission.is_graded -%}
            {%- if submission.status in ('IE', 'CE', 'AB') -%}
                ---
            {%- else -%}
                {{ submission.case_points|floatformat(0) }} / {{ submission.case_total|floatformat(0) }}
            {%- endif -%}
        {%- else -%}
            <i class="fa fa-spinner fa-pulse"></i>
        {%- endif -%}
    </div>

    <div class="state">
        <span title="{{ submission.long_status }}" class="status">{{ submission.short_status }}</span> |
        <span class="language">{{ submission.language.short_display_name }}</span>
    </div>
</div>
<div class="sub-info{% if submission.status == 'G' %} sub-info-grading{% endif %}">
    {% if show_problem %}
        <div class="name"><a href="{{ url('problem_detail', submission.problem.code) }}">{{ problem_name }}</a></div>
    {% endif %}
    <div>
        {{ link_user(submission.user) }}
        <span class="time">{{ relative_time(submission.date) }}</span>
        {% if not request.in_contest and submission.contest_object_id %}
            <a href="{{ url('contest_view', submission.contest_object.key) }}"
               class="submission-contest">
                <i title="{{ submission.contest_object.name }}" class="fa fa-dot-circle-o"></i>
            </a>
        {% endif %}
    </div>
</div>

{% if submission.status == 'G' %}
    <div class="sub-testcase">
        {%- if submission.current_testcase > 0 -%}
            {{ _('Case #%(case)s', case=submission.current_testcase) }}
        {%- else -%}
            ...
        {%- endif -%}
    </div>
{% endif %}

{% if can_view %}
    <div class="sub-prop"><div>
        <a href="{{ url('submission_status', submission.id) }}">
            <i class="fa fa-eye fa-fw"></i><span class="label">{{ _('view') }}</span>
        </a>
        {% if perms.judge.rejudge_submission and can_edit %} ·
            {% if not submission.is_locked %}
                <a href="#" onclick="rejudge_submission({{ submission.id }}, event);return false">
                    <i class="fa fa-refresh fa-fw"></i><span class="label">{{ _('rejudge') }}</span>
                </a>
            {% else %}
                <i class="fa fa-refresh fa-fw grey-icon"></i><span class="label grey-label" title="{{ _('This submission has been locked, and cannot be rejudged.') }}">{{ _('locked') }}</span>
            {% endif %}
        {% endif %}
        {% if can_edit %} ·
            <a href="{{ url('admin:judge_submission_change', submission.id) }}">
                <i class="fa fa-cog fa-fw"></i><span class="label">{{ _('admin') }}</span>
            </a>
        {% endif %}
    </div></div>
{% endif %}

<div class="sub-usage">
    {% if submission.status in ('QU', 'P', 'G', 'CE', 'IE', 'AB') %}
        <div class="time">---</div>
        <div class="memory">---</div>
    {% else %}
        {% if "TLE" != submission.result %}
            <div title="{{ submission.time or 0 }}s" class="time">
                {{ (submission.time or 0)|floatformat(2) }}s
            </div>
        {% else %}
            <div class="time">---</div>
        {% endif %}
        {# No one actually like IEC prefixes, Jinja2. #}
        <div class="memory">{{ (submission.memory_bytes|filesizeformat(True)).replace('i', '') }}</div>
    {% endif %}
</div>
