extends submission/info-base

- load static from staticfiles
- load strings
- load i18n

block media
    style.
        .submission-info {
            text-align: right;
            float: right;
        }

        .submission-info .submission-date {
            color: gray;
        }

        .line {
            position: relative;
        }

        .highlighter {
            position: absolute;
            width: 9999px;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }

        a:active .line .highlighter {
            background: rgba(255, 212, 0, 0.48);
        }

block body
    br
    div: a(href='{% url "submission_status" submission.id %}') {% trans "View status" %}
    div: a(href='{% url "submission_source_raw" submission.id %}') {% trans "View raw source" %}
    if request.user == submission.user.user or perms.judge.resubmit_other
        div: a(href='{% url "problem_submit" submission.problem.code submission.id %}') {% trans "Resubmit" %}
    if perms.judge.rejudge_submission
        div: form(action='{% url "submission_rejudge" %}', method='post')
            -csrf_token
            a(href='#', onclick='parentNode.submit();') {% trans "Rejudge" %}
            input(type='hidden', name='id', value=submission.id)
            input(type='hidden', name='path', value='{% url "submission_status" submission.id %}')

    hr(style='float:left;width:30%')
    br
    .source-wrap: table: tr
        td.source-ln: div
            for line in raw_source|split
                a(href='#line-{{ forloop.counter }}', name='line-{{ forloop.counter }}')
                    pre.line= forloop.counter
        td.source-code #{highlighted_source}
