{%  load list_processor %}{%  load filesize %}{%  load counter %}{%  load i18n %}{%  load strings %}{%  load code_highlight %}{% if  IN_CONTEST and submission.contest_or_none and CONTEST.id == submission.contest_or_none.participation_id %}{% set prefix_length = submission.contest_or_none.problem.output_prefix_override %}{% else %}{% set prefix_length = None %}{% endif %}{% set is_pretest = submission.is_pretested %}{% if  submission.status != 'IE' %}{% if  submission.status == 'QU' %}
<h4>{% trans "We are waiting for a suitable judge to process your submission..." %}</h4>{% elif  submission.status == 'P' %}
<h4>{% trans "Your submission is being processed..." %}</h4>{% elif  submission.status == 'CE' %}
<h3>{% trans "Compilation Error" %}</h3>
<pre>{{submission.error|safe|escape}}</pre>{% else %}{% if  submission.error %}
<h3>{% trans "Compilation Warnings" %}</h3>
<pre>{{submission.error|safe|escape}}</pre>
<hr class="half-hr"/><br/>{% endif %}{% if  is_pretest %}
<h3>{% trans "Pretest Execution Results" %}</h3>{% else %}
<h3>{% trans "Execution Results" %}</h3>{% endif %}<br/>{%  regroup test_cases by batch as batches %}{%  get_counter as test_case_id %}{% for batch in __pyjade_iter(batches,1) %}{% if  batch.grouper %}<b>{% trans "Batch " %}#{{test_case_id|escape}}</b>{{' '|escape}}{%  blocktrans with points=batch.list|list_getattr:"points"|min_list|floatformat:"0" total=batch.list|list_getattr:"total"|max_list|floatformat:"0" %}({{ points }}/{{ total }} points)<br/><div class="batch-cases">{% endif %}
<table>{% for case in __pyjade_iter(batch.list,1) %}
  <tr{{__pyjade_attrs(attrs=[('id',(case.id))])}} class="case-row toggle closed">
    <td>{% if  case.status != 'AC' and case.output %}<span class="fa fa-chevron-right fa-fw"></span>{% endif %}{% if  batch.grouper %}<b>{% trans "Case" %} #{{forloop.counter|escape}}:</b>{% else %}{% if  is_pretest %}<b>{% trans "Pretest" %} #{{test_case_id|escape}}:</b>{% else %}<b>{% trans "Test case" %} #{{test_case_id|escape}}:</b>{% endif %}{% endif %}
    </td>
    <td><span{{__pyjade_attrs(attrs=[('title',(case.long_status))])}} class="case-{{ case.status }}">{% if  case.status == 'SC' %}&mdash;{% else %}
{{case.status|escape}}{% endif %}</span>{% if  case.feedback %}&nbsp;({{case.feedback|escape}}){% endif %}
    </td>
    <td>{% if  case.status != 'SC' %}{% if  case.status == 'TLE' %}[&gt;<span>{{time_limit|floatformat:"3"|escape}}s,</span>{% else %}[<span title="{{ case.time }}s">{{case.time|floatformat:"3"|escape}}s,</span>{% endif %}{% endif %}
    </td>
    <td>{% if  case.status != 'SC' %}{{case.memory|kbdetailformat|escape}}]{% endif %}
    </td>
{% if  not batch.grouper %}
    <td>({{case.points|floatformat:"0"|escape}}/{{case.total|floatformat:"0"|escape}})</td>{% endif %}
  </tr>{% if  case.status != 'AC' and case.output %}
  <tr{{__pyjade_attrs(attrs=[('id',(case.id))])}} style="display:none" class="toggled">
    <td colspan="5">
      <div class="case-info"><strong>{% trans "Your output (clipped)" %}</strong>{% if  prefix_length == None %}
        <pre class="case-output">{{case.output|linebreaksbr|escape}}</pre>{% else %}
        <pre class="case-output">{{case.output|cutoff:prefix_length|linebreaksbr|escape}}</pre>{% endif %}
      </div>
    </td>
  </tr>{% endif %}{% endfor %}
</table>{% if  batch.grouper %}</div>{% endif %}<br/>{% endfor %}{% if  submission.is_graded %}<br/>{% if  submission.result != "AB" %}{% if  is_pretest %}<b>{% trans "Final pretest score:" %}</b>{% else %}<b>{% trans "Final score:" %}</b>{% endif %} {{submission.case_points|floatformat:"0"|escape}}/{{submission.case_total|floatformat:"0"|escape}}
{% if  IN_CONTEST and submission.contest_or_none %}{%  with contest=submission.contest_or_none %}{%  blocktrans with points=contest.points|roundfloat:"3" total=contest.problem.points %}({{ points }}/{{ total }} points){% endwith %}{% else %}
{%  blocktrans with points=submission.points|roundfloat:"3" total=submission.problem.points|floatformat:"-1" %}({{ points }}/{{ total }} points){% endif %}
{% if  is_pretest and submission.result == "AC" %}<br/><i>{% trans "Passing pretests does not guarantee a full score on system tests." %}</i>{% endif %}{% else %}<b>{% trans "Submission aborted!" %}</b>{% endif %}<br/>{% endif %}{% endif %}{% else %}{% include "submission/internal-error-message.jade" %}{% endif %}