extends submission/info_base
-load staticfiles

block media
    script(type='text/javascript', src='{% static "common.js" %}')
    script(type='text/javascript', src='{% static "event.js" %}')
    style
        #test-cases {
        }

        .batch-cases {
            margin: 0;
            padding-left: 1em;
            padding-bottom: 3px;
            padding-top: 3px;
            border: 1px solid #BBB;
            border-left-width: .5em;
            border-radius: 4px;
            color: #222;
            max-width: 250px;
        }

        .submission-info {
            text-align: right;
            float: right;
        }

        .submission-info .submission-date {
            color: gray;
        }

        table td {
            margin: 0;
            padding: 0 5px 0 0;
        }

        .AC {
            color: green;
            font-weight: bold;
        }

        .WA {
            color: red;
            font-weight: bold;
        }

        .TLE, .SC {
            color: gray;
            font-weight: bold;
        }

        .MLE, .OLE, .RTE, .IR {
            color: orange;
            font-weight: bold;
        }


    if not submission.is_graded and last_msg
        script(type='text/javascript')
            $(function () {
                var receiver = new EventReceiver(
                    "{{ EVENT_DAEMON_LOCATION }}", "{{ EVENT_DAEMON_POLL_LOCATION }}",
                    ['sub_{{ submission.id }}'], {{ last_msg }}, function (message) {
                        var list = $('#test-cases');
                        switch (message.type) {   
                            case 'internal-error':
                            case 'grading-end':                                                                           
                            case 'compile-error':
                               $('#abort-button').remove();
                               $('#grading-label').remove();
                            case 'test-case':
                            case 'grading-begin':
                                $.ajax({
                                    url: '{% url "judge.views.submission_testcases_query" %}',
                                    data: {id: '{{ submission.id }}'}
                                }).done(function (data) {
                                    list.html(data);
                                }).fail(function (data) {
                                    console.log('Failed to update testcases!');
                                });
                                
                                if($(window).scrollTop() + $(window).height() > $(document).height() - 100) {
                                    $("html, body").animate({ scrollTop: $(document).height() }, 0);
                                }
                                
                        }                        
                    }
                );
            });

block body
    br
    a(href='{% url "submission_source" submission.id %}') View source
    br
    if request.user == submission.user.user
        a(href='{% url "judge.views.problem_submit" submission.problem.code submission.id %}') Resubmit
        br
    hr(style='float:left;width:30%')
    br

    #test-cases
        include submission/status_testcases

    if not submission.is_graded
        if request.user == submission.user.user or request.user.is_admin
            #abort-button
                br
                hr(style='float:left;width:30%')
                br
                form(action='{% url "judge.views.abort_submission" submission.id %}', method='post')
                    -csrf_token
                    input.button(style='float:left', type='submit', value='Abort')
                    br
                    br
            
