- load i18n

div.page-title
    ul.tabs(style='margin: 0px 0px 8px;padding:0px;width:100%')
        h2(style='color:#393630; display: inline-block') #{title}
        span.spacer
        li(class=('active' if tab == 'all_submissions_list' else ''))
            a(href=all_submissions_link) {% trans "All submissions" %}
        if my_submissions_link or tab == 'my_submissions_tab'
            li(class=('active' if tab == 'my_submissions_tab' else ''))
                a(href=my_submissions_link) {% trans "My submissions" %}
        if tab == 'user_submissions_tab'
            li.active: a
                - blocktrans with username=tab_username
                    | {{ username }}'s submissions
        if perms.judge.change_submission
            li: a(href='{% url "admin:judge_submission_changelist" %}') {% trans "Admin" %}