{% extends "admin/change_form.html" %}
{% load i18n %}

{% block extrahead %}{{ block.super }}
    <script type="text/javascript">
        django.jQuery(function ($) {
            $('.submissions-link').appendTo('div#bottombar').show();
            $('.problem-votes-link').appendTo('div#bottombar').show();
            $('.test-data-link').appendTo('div#bottombar').show();
            $('.clone-problem-link').appendTo('div#bottombar').show();
        });
    </script>
{% endblock extrahead %}

{% block after_field_sets %}{{ block.super }}
    {% if original %}
        <a style="display: none" title="{{ _('View submissions') }}" class="button submissions-link"
           href="{% url 'admin:judge_submission_changelist' %}?problem__code={{ original.code }}">
            <i class="fa fa-lg fa-search-plus"></i>
            <span class="text">{{ _('View submissions') }}</span>
        </a>
        <a style="display: none" title="{{ _('View problem votes') }}" class="button problem-votes-link"
           href="{% url 'admin:judge_problempointsvote_changelist' %}?problem__code={{ original.code }}">
           <i class="fa fa-lg fa-envelope"></i>
           <span class="text">{{ _('View problem votes') }}</span>
        </a>
        {% if not original.is_manually_managed %}
        <a style="display: none" title="{{ _('Edit test data') }}" class="button test-data-link"
           href="{% url 'problem_data' original.code %}" target="_blank">
           <i class="fa fa-lg fa-database"></i>
           <span class="text">{{ _('Edit test data') }}</span>
        </a>
        {% endif %}
        <a style="display: none" title="{{ _('Clone problem') }}" class="button clone-problem-link"
           href="{% url 'problem_clone' original.code %}">
           <i class="fa fa-lg fa-copy"></i>
           <span class="text">{{ _('Clone problem') }}</span>
        </a>
    {% endif %}
{% endblock %}
