{% extends "admin/change_form.html" %}

{% block extrahead %}{{ block.super }}
    <script>
        django.jQuery(function ($) {
            $('.reratelink').appendTo('div#bottombar').show();
        });
    </script>
{% endblock extrahead %}

{% block after_field_sets %}{{ block.super }}
    {% if original and original.is_rated and perms.judge.contest_rating %}
        <a style="display: none" title="Rate" href="{% url 'admin:judge_contest_rate' original.pk %}"
           class="button reratelink">
            <i class="fa fa-lg fa-signal"></i>
            <span class="text">Rate</span>
        </a>
    {% endif %}
{% endblock %}
