- load i18n

.page-title: .tabs
    h2 {% trans title %}
    span.spacer
    ul
        li.tab(class=('active' if tab == 'detail' else ''))
            a(href='{% url "contest_view" contest.key %}') #[i.tab-icon.fa.fa-info-circle] {% trans "Info" %}
        if contest.start_time <= now or perms.judge.see_private_contest
            li.tab(class=('active' if tab == 'ranking' else ''))
                a(href='{% url "contest_ranking" contest.key %}') #[i.tab-icon.fa.fa-bar-chart] {% trans "Rankings" %}
            if request.user.is_authenticated
                li.tab(class=('active' if tab == 'participation' else ''))
                    a(href='{% url "contest_participation_own" contest.key %}') #[i.tab-icon.fa.fa-users] {% trans "Participation" %}
        if perms.judge.change_contest
            li.tab: a(href='{% url "admin:judge_contest_change" contest.id %}') #[i.tab-icon.fa.fa-edit] {% trans "Edit" %}
        if request.user.is_authenticated
            if contest.can_join or participating or is_organizer
                if contest.ended
                    // They're in the contest because they're participating virtually
                    if in_contest
                        a.contest-join-pseudotab.unselectable.button.full.leaving-forever(href='{% url "contest_leave" contest.key %}')
                            | {% trans "Leave contest" %}
                    else
                        // They can virtual-join the contest
                        a.contest-join-pseudotab.unselectable.button.full(href='{% url "contest_join" contest.key %}')
                            | {% trans "Virtual join" %}
                else
                    // Allow people with ended participations to continue spectating
                    if in_contest
                        a.contest-join-pseudotab.unselectable.button.full(href='{% url "contest_leave" contest.key %}')
                            if participating and participation.ended or request.user.profile in contest.organizers.all
                                | {% trans "Stop spectating" %}
                            else
                                | {% trans "Leave contest" %}
                    elif participating and participation.ended or is_organizer
                        a.contest-join-pseudotab.unselectable.button.full(href='{% url "contest_join" contest.key %}')
                            | {% trans "Spectate contest" %}
                    elif participating
                        a.contest-join-pseudotab.unselectable.button.full(href='{% url "contest_join" contest.key %}')
                            | {% trans "Join contest" %}
                    else
                        a.contest-join-pseudotab.unselectable.button.full.first-join(href='{% url "contest_join" contest.key %}')
                            | {% trans "Join contest" %}
        elif contest.can_join
            a.contest-join-pseudotab.unselectable.button.full(href='{% url "auth_login" %}?next={{ LOGIN_RETURN_PATH|urlencode }}')
                | {% trans "Login to participate" %}
