- load i18n

div.page-title
    ul.tabs(style='margin: 0px 0px 8px;padding:0px;width:100%')
        h2(style='color:#393630; display: inline-block') {% trans title %}
        span.spacer
        li(class=('active' if tab == 'detail' else ''))
            a(href='{% url "user_list" %}') {% trans "Info" %}
        li(class=('active' if tab == 'ranking' else ''))
            a(href='{% url "contest_ranking" contest.key %}') {% trans "Rankings" %}
        if perms.judge.change_contest
            li: a(href='{% url "admin:judge_contest_change" contest.id %}') {% trans "Edit" %}
