{% extends "common-content.html" %}

{% block title_ruler %}{% endblock %}

{% block title_row %}
    {% set tab = 'detail' %}
    {% set title = contest.name %}
    {% include "contest/contest-tabs.html" %}
{% endblock %}

{% block content_js_media %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.time-remaining').each(function () {
                count_down($(this));
            });
        });
    </script>
    {% include "contest/media-js.html" %}
    {% include "comments/media-js.html" %}
{% endblock %}

{% block content_media %}
    {% include "comments/media-css.html" %}
{% endblock %}

{% block body %}
    <div id="banner">
        <a href="https://www.timeanddate.com/worldclock/fixedtime.html?msg={{ contest.name|urlquote('') }}&amp;iso=
                {{- contest.start_time|utc|date('Y-m-d\TH:i:s') }}" class="date">
            {%- if contest.is_in_contest(request.user) and not request.participation.live -%}
                {% if request.participation.spectate %}
                    {{- _('Spectating, contest ends in %(countdown)s.', countdown=contest.time_before_end|as_countdown) -}}
                {% elif request.participation.end_time %}
                    {{- _('Participating virtually, %(countdown)s remaining.', countdown=request.participation.time_remaining|as_countdown) -}}
                {% else %}
                    {{- _('Participating virtually.') -}}
                {% endif %}
            {%- else -%}
                {% if contest.start_time > now %}
                    {{- _('Starting in %(countdown)s', countdown=contest.time_before_start|as_countdown) -}}
                {% elif contest.end_time < now %}
                    {{- _('Contest is over.') -}}
                {% else %}
                    {%- if has_joined -%}
                        {% if live_participation.ended %}
                            {{- _('Your time is up! Contest ends in %(countdown)s.', countdown=contest.time_before_end|as_countdown) -}}
                        {% else %}
                            {{- _('You have %(countdown)s remaining.', countdown=live_participation.time_remaining|as_countdown) -}}
                        {% endif %}
                    {%- else -%}
                        {{ _('Contest ends in %(countdown)s.', countdown=contest.time_before_end|as_countdown) }}
                    {%- endif -%}
                {% endif %}
            {%- endif -%}
        </a>
        <div id="time">
            {% if contest.time_limit %}
                {% trans trimmed start_time=contest.start_time|date(_("F j, Y, G:i T")), end_time=contest.end_time|date(_("F j, Y, G:i T")), time_limit=contest.time_limit|timedelta('localized-no-seconds') %}
                    <b>{{ time_limit }}</b> window between <b>{{ start_time }}</b> and <b>{{ end_time }}</b>
                {% endtrans %}
            {% else %}
                {% trans trimmed length=contest.contest_window_length|timedelta("localized-no-seconds"), start_time=contest.start_time|date(_("F j, Y, G:i T")) %}
                    <b>{{ length }}</b> long starting on <b>{{ start_time }}</b>
                {% endtrans %}
            {% endif %}
        </div>
    </div>

    <div class="content-description">
        {% cache 3600 'contest_html' contest.id MATH_ENGINE %}
            {{ contest.description|markdown('contest', MATH_ENGINE)|reference|str|safe }}
        {% endcache %}
    </div>

    {% if contest.ended or request.user.is_superuser or is_organizer %}
        <hr>
        <div class="contest-problems">
            <h2 style="margin-bottom: 0.2em"><i class="fa fa-fw fa-question-circle"></i>{{ _('Problems') }} </h2>
            <table id="contest-problems" class="table">
                <thead>
                <tr>
                    <th>{{ _('Problem') }}</th>
                    <th>{{ _('Points') }}</th>
                    <th>{{ _('AC Rate') }}</th>
                    <th>{{ _('Users') }}</th>
                    {% if contest_has_public_editorials %}
                        <th>{{ _('Editorials') }}</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for problem in contest_problems %}
                    <tr>
                        <td>
                            {% if problem.is_public %}
                                <a href="{{ url('problem_detail', problem.code) }}">{{ problem.i18n_name }}</a>
                            {% else %}
                                {{ problem.i18n_name }}
                            {% endif %}
                        </td>
                        <td>{{ problem.points|floatformat }}{% if problem.partial %}p{% endif %}</td>
                        <td>{{ problem.ac_rate|floatformat(1) }}%</td>
                        <td>
                            {% if problem.is_public %}
                                <a href="{{ url('ranked_submissions', problem.code) }}">{{ problem.user_count }}</a>
                            {% else %}
                                {{ problem.user_count }}
                            {% endif %}
                        </td>
                        {% if contest_has_public_editorials %}
                            <td>
                                {% if problem.is_public and problem.has_public_editorial %}
                                    <a href="{{ url('problem_editorial', problem.code) }}">{{ _('Editorial') }}</a>
                                {% endif %}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

    <hr>
    <span class="social">
        {{ post_to_gplus(request, contest, '<i class="fa fa-google-plus-square"></i>') }}
        {{ post_to_facebook(request, contest, '<i class="fa fa-facebook-official"></i>') }}
        {{ post_to_twitter(request, SITE_NAME + ':', contest, '<i class="fa fa-twitter"></i>') }}
    </span>

    {% include "comments/list.html" %}
{% endblock %}

{% block description_end %}{% endblock %}

{% block bodyend %}
    {{ super() }}
    {% include "comments/math.html" %}
{% endblock %}
k
