extends base
- load staticfiles
- load timedelta

block body
    br
    h3 Upcoming Contests
    i There are no scheduled contests at this time.
    br
    br
    h3 Past Contests
    br
    table.table.striped
        thead
            tr
                th(style='width:85%') Name
                th Time limit
        tbody
            each contest in past_contests
                if not contest.ongoing
                    tr
                        td
                            a(href='{% url "contest_view" contest.key %}')= contest.name
                        td
                            if contest.start_time
                                | #{contest.start_time} - #{contest.end_time}
                            else
                                | #{contest.time_limit}
