{% extends "base.html" %}

{% block body %}
    {% if error.is_private %}
        <p><i>{{ _('This contest is private to specific users.') }}</i></p>
    {% endif %}

    {% if error.is_organization_private %}
        {% if error.is_private %}
            <p>{{ _('Additionally, only the following organizations may access this contest:') }}</p>
        {% else %}
            <p>{{ _('Only the following organizations may access this contest:') }}</p>
        {% endif %}
        <ul>
            {% for org in error.orgs %}
                <li><a href="{{ org.get_absolute_url() }}">{{ org.name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
