extends user/base_users

block users_media
    style
        #users-table td {
            height: 2.5em;
        }

        .rank {
            min-width: 2.5em
        }

        .points {
            min-width: 4em;
        }

        .full-score {
            font-weight: bold;
            color: green;
        }

        .partial-score {
            color: green;
        }

        .failed-score {
            font-weight: bold;
            color: red;
        }

        .user-points {
            font-weight: bold;
            color: black;
        }

        .solving-time {
            color: gray;
            font-weight: normal;
            font-size: 0.75em;
            padding-bottom: -0.75em;
        }

        .point-denominator {
            border-top: 1px solid gray;
            font-size: 0.7em;
        }

block users_table
    include contest/ranking_table