extends user/base_users

block users_media
    style
        #users-table td {
            height: 2.5em;
        }

        .rank {
            min-width: 2.5em
        }

        .points {
            min-width: 4em;
        }

        .full-score {
            font-weight: bold;
            color: green;
        }

        .partial-score {
            color: green;
        }

        .failed-score {
            font-weight: bold;
            color: red;
        }

        .user-points {
            font-weight: bold;
            color: black;
        }

        .solving-time {
            color: gray;
            font-weight: normal;
            font-size: 0.75em;
            padding-bottom: -0.75em;
        }

        .point-denominator {
            border-top: 1px solid gray;
            font-size: 0.7em;
        }
    if last_msg
        script(type='text/javascript', src='{% static "event.js" %}')
        script(type='text/javascript')
            $(function () {
                var receiver = new EventReceiver(
                    "{{ EVENT_DAEMON_LOCATION }}", "{{ EVENT_DAEMON_POLL_LOCATION }}",
                    ['contest_#{contest.id}'], #{last_msg}, function (message) {
                        var table = $('#users-table');
                        switch (message.type) {
                            case 'update':
                                $.ajax({
                                    url: '{% url "judge.views.contest_ranking_ajax" contest.key %}'
                                }).done(function (data) {
                                    table.html(data);
                                }).fail(function () {
                                    console.log('Failed to update table!');
                                });
                        }
                    }
                );
            });

block users_table
    include contest/ranking_table