{% extends "base.html" %}

{% block js_media %}
    <style>
        .button-line {
            text-align: right;
        }
    </style>
    <script type="text/javascript">
        $(function () {
            $('#register-link').click(function (event) {
                event.preventDefault();
                if (confirm('Are you sure you want to register?'))
                    $(this).closest("form").submit();
            })
        });
    </script>
{% endblock %}

{% block body %}
    <form action="" method="post" class="form-area">
        {% csrf_token %}
        {{ contest.registration_page|markdown('contest', MATH_ENGINE)|reference }}
        <p class="button-line">
            <button id="register-link" type="submit">{{ _('Register') }}</button>
        </p>
    </form>
{% endblock %}
