.wmd-wrapper {
    padding-right: 15px !important;
}

.wmd-preview {
    margin-top: 15px;
    padding: 0 15px;
    background-color: #f8f8f8;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    line-height: 1.5em;
    font-size: 1em;
}