@-ms-viewport
  min-width: 480px
  max-width: device-width

@-o-viewport
  min-width: 480px
  max-width: device-width

@viewport
  min-width: 480px
  max-width: device-width

.full
  width: 100%

table.sortable thead
  background-color: #eee
  color: #666
  font-weight: bold
  cursor: default

th
  &.headerSortDown:after
    content: " ▾"
  &.headerSortUp:after
    content: " ▴"

hr
  display: block
  height: 0
  border: 0
  font-style: italic
  border-bottom: 1px solid #CCC
  padding: 0

.dashed
  border-bottom: 1px dashed #CCC

.table
  border-spacing: 0
  width: 100%
  margin-left: auto
  margin-right: auto
  margin-bottom: .5em
  background: rgba(0, 0, 0, 0.01)
  &.striped tr:nth-child(even)
    background: #f7f7f7
  td:first-child
    border-color: #d4d4d4
    border-width: 1px 1px 0 1px
  tr:last-child td
    &:first-child
      border-color: #d4d4d4
      border-width: 1px 1px 1px 1px
    border-color: #d4d4d4
    border-width: 1px 1px 1px 0
  thead th
    vertical-align: middle

th
  vertical-align: middle

.table
  th
    color: #FFF
    background-color: #393630
    border-color: #555
    border-width: 1px 1px 0 0
    border-style: solid
    padding: 3px
    vertical-align: top
    text-align: center
  td
    border-color: #d4d4d4
    border-width: 1px 1px 0 0
    border-style: solid
    padding: 7px 5px
    vertical-align: middle
    text-align: center

.form-area
  display: inline-block
  background: #fafafa
  padding: 5px 10px 10px 15px
  border-radius: 4px
  border: 1px solid #ccc

div.info-float
  float: right
  padding: 10px

footer
  color: gray
  display: block
  width: 100%
  position: absolute
  bottom: 0px

body
  position: relative
  min-height: 100%
  margin: 0px auto
  max-width: 107em
  font-size: 13px
  line-height: 1.231
  background: #f7f7f7
  font-family: 'Segoe UI', 'Lucida Grande', Arial, sans-serif
  color: #000
  height: 100%

.unselectable
  cursor: default

h1
  font-size: 5em
  letter-spacing: -2px
  margin: 0
  padding: 0
  line-height: 1em

b
  font-weight: bold

h2
  font-weight: 300
  font-size: 2em
  border-radius: 4px
  padding: 0
  margin: 0

h3
  font-weight: 300
  font-size: 1.4em
  border-radius: 4px
  padding: 0
  margin: 0

h4
  font-size: 1.1em
  padding: 0
  margin: 0

header
  background: #111
  color: #aaa
  text-align: left
  display: block
  height: 60px
  margin-top: -10px
  padding: 10px 10px 10px 5%

#user-links
  bottom: 10px
  right: 6px
  position: absolute
  color: #5c5954
  a
    color: #FFF

#nav-shadow
  height: 3px
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent)

#nav-container
  background: #3B3B3B
  background: rgba(0, 0, 0, 0.77)
  // opacity: 0.77
  // filter: alpha(opacity=77)
  height: 100%

#navigation
  position: fixed
  top: 0px
  left: 0px
  right: 0px

nav
  position: relative
  position: -webkit-sticky
  position: sticky
  top: 0
  width: 100%
  margin: 0px auto
  z-index: 500
  text-align: left
  ul
    margin: 0 0 0 -5px
    padding: 0 0 0 1%
    text-align: left
    display: inline
    list-style: none
    background: transparent
    li
      display: inline-block
      color: #FFF
      text-transform: uppercase
      font-size: 1.1em
      position: relative
      &.home-nav-element a
        padding: 0
      a
        display: inline-block
        text-decoration: none
        vertical-align: middle
        color: #FFF
        padding: 13px 7px
        &:link
          color: #FFF
        &:hover
          color: #FFF
          background: rgba(255, 255, 255, 0.25)
          margin: 0
        &.active
          color: #FFF
          background: #2980b9
      ul
        padding: 0
        position: absolute
        left: 5px
        display: none
        li
          &:first-child
            a.active
              border-top: 1px dashed #3B3B3B
        li
          display: block
          a
            padding: 8px 15px 8px 8px
            font-size: .8em
            display: block
            border-left: 4px solid #2980b9
      &:hover > ul, &:active > ul, &:focus > ul
        display: block
        background: #000
        color: #fff
        background: #3B3B3B
        background: rgba(0, 0, 0, 0.77)
      &.home-nav-element a:hover
        border-bottom: 0
        padding-top: 0
        padding-bottom: 0
        background: transparent

nav
  ul
    li.home-nav-element
      a
        &:hover
          border-bottom: none
          padding-top: 0px
          padding-bottom: 0px

hr
  color: rgba(0, 0, 0, 0.2)

#content
  margin: auto
  margin-top: 52px // Header
  width: 90%
  height: 100%
  min-height: 25em
  max-width: 1300px
  display: block
  .title
    color: #393630

footer
  text-align: center
  height: 40px
  border-top: 1px solid #cccccc
  background: #ededed

html
  position: relative
  height: 100%

a
  text-decoration: none
  display: inline

noscript #noscript
  font-family: Arial, sans-serif
  font-size: 111%
  color: white
  font-weight: bold
  background: #ae0000
  text-align: center
  max-width: 30%
  padding: 15px 10px 5px
  right: 0
  position: fixed
  border-radius: 4px
  z-index: 100

#announcement
  font-family: Arial, sans-serif
  font-size: 111%
  color: white
  font-weight: bold
  background: #ae0000
  text-align: center
  max-width: 30%
  padding: 15px 10px 5px
  right: 0
  position: fixed
  border-radius: 4px
  z-index: 100
  bottom: -4px
  right: -4px
  padding: 5px 6px 6px 5px

.toggle
  font-weight: bold
  .fa
    transition: transform 0.4s
  &.open .fa
    transform: rotate(90deg)

#form-errors
  background: rgba(255, 0, 0, 0.3)
  border: 3px solid red
  border-radius: 4px
  padding: 0 1em .1em 1em
  margin: 0.3em 0 0.5em 0

#navicon
  display: none

#nav-placeholder
  height: 47px
  max-width: 107em
  background: white
  border-right: 1px solid #CCC
  border-left: 1px solid #CCC

#page-container
  min-height: 100%
  max-width: 1300px
  position: relative
  margin: 0px auto
  border-right: 1px solid #CCC
  border-left: 1px solid #CCC
  background: white
  // border-bottom: 1px solid rgb(204, 204, 204)
  // border-bottom-left-radius: 4px
  // border-bottom-right-radius: 4px

#content-body
  padding-bottom: 4em // Offset the footer

@media(max-width: 1300px)
  #page-container
    border-left: none
    border-right: none
    border-bottom-left-radius: 0px
    border-bottom-right-radius: 0px

@media (max-width: 760px)
  #navigation
    height: 36px
  #navigation ul li.home-nav-element
    display: none
  #navicon
    transition-duration: .25s
    display: block
    line-height: 28px
    font-size: 1.5em
    color: #FFF
    padding: 0 .25em
    margin: 4px .25em
    border: 1px solid #888
    border-radius: 5px
    white-space: nowrap
    float: left
    &:hover
      background: #2980B9
      transition-duration: 0.25s
  #nav-list
    display: none
  #navigation ul
    padding: 0
    margin-left: 0
    border-left: 4px solid #2980B9
    position: fixed
    top: 0
    background: #3B3B3B
    background: rgba(0, 0, 0, 0.77)
    bottom: 0
    width: 8em
    left: 0
    box-shadow: none
    li
      display: block
      a
        display: block
      ul
        left: 8em
        top: auto
        bottom: auto
        margin-top: -36px
  #user-links
    bottom: 6px
    right: 6px
    position: absolute
  #content
    width: auto
    padding: 0 5px

@media (min-width: 761px)
  #nav-list
    display: block !important
