.blog-content
  padding-right: 1em
  width: 73.5%
  display: table-cell
  border-radius: 4px
  vertical-align: top

  .post
    border-bottom: 1px solid #EEE
    padding-top: 0.5em
    &:last-child
      border-bottom: none

  .time
    color: #555

.blog-sidebox
  position: relative
  display: table-cell
  float: right
  border: 1px solid #ccc
  width: 100%
  margin-bottom: 1em
  h3
    padding-bottom: 0.25em
    padding-left: 0.5em
    border-bottom: 1px solid #EEE
    .fa
      float: right
      margin: 0.2em 0.4em 0 0
      color: #777

  ul
    list-style: none
    padding-left: 1em
    padding-right: 0.5em
    font-size: 110%
    li
      margin-bottom: 0.75em

  .time
    color: #555

  .contest
    padding: 1.25em 0 1.5em 0
    text-align: center
    border-bottom: 1px solid #EEE

    &:last-child
      border-bottom: none

    .name
      font-size: 1.5em

#blog-container
  display: table
  border-collapse: separate
  border-spacing: 1em
  margin-left: -1em
  margin-right: -1em

.rssatom
  float: right
  padding-right: 1em
  span
    width: 1em
    height: 1em
    padding: 0.1em
    font-size: 0.8em
    color: white
    border-radius: 0.2em
    display: inline-block
    margin-right: 0.2em
    border: 1px solid rgb(201, 90, 18)
    background: #fb9e39
    background: linear-gradient(135deg, #e46d27 0, #fb9e39 47%, #e46d27 100%)
    i
      text-align: center
      display: block
