@import "vars";

.comment-score {
    font-weight: bold;
    text-align: center;
}

a {
    &.upvote-link, &.downvote-link {
        color: $color_primary100;
    }

    &.voted {
        text-shadow: 0 0 4px $color_primary100, 0 0 9px blue;
    }
}

.comment-area {
    h2 {
        margin-bottom: 20px;
    }
}

.no-comments-message {
    margin-top: -15px;
    margin-left: 2.75em;
}

.comment-author {
    font-weight: bold;
    color: #333;
}

.comment-header {
    color: rgba(1, 1, 1, 1);
    background: rgba(0, 0, 0, 0.1);
    padding: 5px 10px 5px 5px;
    margin-left: 30px;
    border: 1px solid $color_primary25;
    border-radius: $widget_border_radius;
    display: flex;
}

.comment-spacer {
    flex: 1;
}

.comment-edits:not(:empty) {
    padding-right: 2px;
    color: $color_primary75;
}

.comment-operation {
    flex: auto;

    .fa {
        color: $color_primary75;
    }

    a + a {
        padding-left: 2px;
    }
}

.form-area.comment-submit {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    box-sizing: border-box;
}

.comment-post-wrapper {
    padding-bottom: 5px;

    input, textarea {
        min-width: 100%;
        max-width: 100%;

        // Hack for 4k on Chrome
        font-size: $base_font_size;
    }
}

.comment-box {
    border-radius: $widget_border_radius;
    padding: 5px 10px 10px 15px;
    border: 1px solid $color_primary25;
    background: rgba(0, 0, 0, 0.01);
}

.comment {
    list-style: none none;
    border-radius: $widget_border_radius;
    margin: 0 0 10px -40px;

    &:target > .comment-box {
        border-left: 10px solid $highlight_blue;
        padding-left: 5px;
    }

    &:before {
        display: block;
        content: " ";
        margin-top: -50px;
        height: 50px;
        visibility: hidden;
    }
}

.reply-comment {
    margin: 0 0 10px -40px;
}

@media (max-width: 760px) {
    .comments {
        padding-inline-start: 5%;
    }
    .comment {
        margin-left: -5%;
    }
}

.comment-author {
    margin-bottom: 1em;

    img {
        width: 1.25em;
        height: 1.25em;
        border-radius: 0.2em;
        vertical-align: bottom;
        margin-right: 0.3em;
    }
}

.comment-body {
    word-wrap: break-word;
    word-break: break-word;
}

.revision-text p:first-child {
    margin-top: 0;
}

.revision-text p:last-child {
    margin-bottom: 0;
}

.previous-revision, .next-revision {
    color: $color_primary75;
}

.new-comments {
    .comment-display {
        display: flex;
        margin-top: -0.25em !important;
        padding-left: 1em;
        padding-top: 0.5em !important;
        border: 1px solid $color_primary25;
        background: $color_primary5;
        border-radius: $widget_border_radius;
    }

    .comment .detail {
        margin: 0px 15px 0px;
        width: 100%;

        .header {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 2px 0px;
            font-weight: normal;
            border-bottom: 1px $color_primary50 solid;
            color: $color_primary50;
            text-align: right;
        }
    }

    .comment:target > .comment-display {
        border: 1px solid $highlight_blue;
        border-left: 10px solid $highlight_blue;
        padding-left: 5px;
    }

    .comment-edits {
        padding-right: 0.75em;
    }

    .header i {
        color: $color_primary50 !important;
    }

    .info {
        padding-top: 0.4em;
        display: flex;
    }

    .gravatar {
        width: 75px;
        max-width: 75px;
    }

    .gravatar-mobile {
        display: none;
    }

    .gravatar-main {
        display: unset;
    }

    .vote {
        margin-right: 1em;
        height: 75px;
        padding-top: 0.4em;
    }
}

@media (max-width: 760px) {
    .new-comments {
        .gravatar {
            width: 10px;
            max-width: 10px;
        }

        .gravatar-mobile {
            display: unset;
        }

        .gravatar-main {
            display: none;
        }

        .vote {
            margin-right: 0em;
        }
    }
}

.comments.top-level-comments {
    margin-bottom: -3px;
}

.bad-comment {
    opacity: 0.3;

    &:hover {
        opacity: 1;
        /* This is necessary to prevent random flickering */
        -webkit-transform: translatez(0);
        -moz-transform: translatez(0);
        -ms-transform: translatez(0);
        -o-transform: translatez(0);
        transform: translatez(0);
    }
}
