@import "vars";

.comment-score {
    font-weight: bold;
    text-align: center;
}

a {
    &.upvote-link, &.downvote-link {
        color: $color_primary100;
    }

    &.voted {
        text-shadow: 0 0 4px $color_primary100, 0 0 9px blue;
    }
}

.no-comments-message {
    margin: 10px 0 15px 2.75em;
}

.comment-header-space {
    height: 20px;
}

.comment-lock {
    margin: 0 0 5px;
}

.comments.top-level-comments {
    padding: 0;
    margin: 0 0 5px;
}

.comment-spacer {
    flex: 1;
}

.comment-edits:not(:empty) {
    padding-right: 2px;
    color: $color_primary75;
}

.comment-operation {
    flex: auto;

    .fa {
        color: $color_primary75;
    }

    a + a {
        padding-left: 2px;
    }
}

.form-area.comment-submit {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    box-sizing: border-box;
}

.comment-post-wrapper {
    padding-bottom: 5px;

    input, textarea {
        min-width: 100%;
        max-width: 100%;

        // Hack for 4k on Chrome
        font-size: $base_font_size;
    }
}

.comment {
    list-style: none none;
    border-radius: $widget_border_radius;
    margin: 0 0 5px;

    &:before {
        display: block;
        content: " ";
        margin-top: -50px;
        height: 50px;
        visibility: hidden;
    }
}

.reply-comment {
    margin: 0 0 5px;
}

.comment-body {
    word-wrap: break-word;
    word-break: break-word;
}

.previous-revision, .next-revision {
    color: $color_primary75;
}

.new-comments {
    .comment-display {
        display: flex;
        padding-left: 1em;
        padding-top: 0.5em !important;
        border: 1px solid $color_primary25;
        background: $color_primary5;
        border-radius: $widget_border_radius;
    }

    .comment .detail {
        margin: 0px 15px 0px;
        width: 100%;

        .header {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 2px 0px;
            font-weight: normal;
            border-bottom: 1px $color_primary50 solid;
            color: $color_primary50;
            text-align: right;
        }
    }

    .comment:target > .comment-display {
        border: 1px solid $highlight_blue;
        border-left: 10px solid $highlight_blue;
        padding-left: 5px;
    }

    .comment-edits {
        padding-right: 0.75em;
    }

    .header i {
        color: $color_primary50 !important;
    }

    .info {
        padding-top: 0.4em;
        display: flex;
    }

    .gravatar {
        width: 75px;
        max-width: 75px;
    }

    .gravatar-mobile {
        display: none;
    }

    .gravatar-main {
        display: unset;
    }

    .vote {
        margin-right: 1em;
        height: 75px;
        padding-top: 0.4em;
    }

    @media (max-width: 760px) {
        .gravatar {
            width: 10px;
            max-width: 10px;
        }

        .gravatar-mobile {
            display: unset;
        }

        .gravatar-main {
            display: none;
        }

        .vote {
            margin-right: 0em;
        }
    }
}

.bad-comment {
    opacity: 0.3;

    &:hover {
        opacity: 1;
        /* This is necessary to prevent random flickering */
        transform: translatez(0);
    }
}
