@use "vars" as *;
@use "base-description";

.content-description {
    @include base-description.content-description;
}

.display-math {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1025px) {
    // Wide screen: Three columns side by side (3:2:1 ratio)
    #common-content {
        display: flex;
        flex-direction: row-reverse;
        gap: 1.5em;
    }

    #content-left {
        flex: 3;
        width: 100%;
        min-width: 0;

        &.split-common-content {
            width: auto;
        }

        .content-description {
            width: 100%;
        }
    }

    #content-middle {
        flex: 2;
        min-width: 300px;
        max-width: 600px;

        .submission-float {
            position: sticky;
            top: 70px;
        }
    }

    #content-right {
        flex: 1;
        max-width: 12.5em;
        padding-top: 1em;

        .info-float {
            float: none;
            padding: 0;
            position: sticky;
            top: 70px;
            width: 100%;
        }
    }
}

@media (min-width: 700px) and (max-width: 1024px) {
    // Tablet: 2 columns - Left (description + submission stacked), Right (info)
    #common-content {
        display: flex;
        flex-direction: row;          // Left to right (not row-reverse)
        flex-wrap: wrap;              // Allow wrapping to stack description and submission
        gap: 1.5em;
        align-items: flex-start;
    }

    #content-left {
        flex: 1 1 calc(100% - 14em);  // Width to fit next to sidebar (12.5em + 1.5em gap)
        max-width: calc(100% - 14em); // Prevent growing beyond this
        min-width: 300px;
        order: 1;                     // First item (left column)
    }

    #content-middle {
        flex: 1 1 calc(100% - 14em);  // Same width as description to align properly
        max-width: calc(100% - 14em); // Prevent growing beyond this
        min-width: 300px;
        order: 3;                     // Third item (wraps below left column)

        .submission-float {
            position: static;
        }
    }

    #content-right {
        flex: 0 0 12.5em;             // Fixed width sidebar
        order: 2;                     // Second item (right column)
        padding-top: 1em;

        .info-float {
            position: sticky;
            top: 70px;
        }
    }
}

@media not all and (min-width: 700px) {
    // Mobile: Stack vertically - info, then description, then submission
    #common-content {
        display: flex;
        flex-direction: column;
    }

    #content-right {
        order: 1;  // Info first

        .info-float {
            float: none;
            width: 100% !important;
            position: static !important;
            box-sizing: border-box;
        }
    }

    #content-left {
        order: 2;  // Description second
    }

    #content-middle {
        order: 3;  // Submission third
        width: 100%;
        margin-top: 1em;

        .submission-float {
            position: static;
        }
    }
}

a.view-pdf {
    padding-top: 0.6em;
    display: inline-block;
}

.problem-title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    .spacer {
        display: inline-block;
        flex: 1 1 1px;
    }
}

.info-float .fa {
    color: $color_primary100;
    padding-right: 0.2em;
}

#problem-types, #allowed-langs {
    .toggled {
        margin-left: 1.3em;
    }
}
