@import "vars";

#contest-calendar {
    border-collapse: collapse;
    width: 100%;

    th {
        border: 1px solid $color_primary25;
        background: $color_primary5;
    }

    td {
        height: 110px;
        width: 170px;
        vertical-align: top;
        border: 1px solid $color_primary25;
        transition-duration: 0.2s;

        .num {
            text-align: right;
            font-weight: bold;
            display: block;
            border-bottom: 1px dashed $color_primary25;
            padding-right: 0.2em;
            margin-bottom: 0.4em;
        }

        ul {
            font-size: 0.75em;
            padding: 0;
            margin: 0;

            li {
                margin: 0 0 0.2em 17px;

                i.fa {
                    color: $color_link200;
                }

                a {
                    color: $color_primary75;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        &:hover {
            background: rgba($color_link100, 0.2);
        }
    }

    .noday {
        background: $color_primary10;
    }

    .today {
        background: rgba($color_link200, 0.2);
    }
}

#banner {
    border-bottom: 1px solid $color_primary25;
    padding-bottom: 1em;
    color: $color_primary75;
    font-size: $base_font_size;

    a.date {
        display: block;
        text-decoration: none;
        text-align: center;
        line-height: 1.3;
        font-size: 2.3em;
        padding-bottom: 0.15em;
        color: $color_link50;

        &:hover {
            color: $color_link100;
        }

        &:active {
            color: $color_link200;
        }
    }

    #time {
        text-align: center;
        display: block;
    }

    div#details ul {
        margin-bottom: 0;
        list-style: none;
        p {
            margin: 0;
        }
    }
}

.contest-list {
    td {
        vertical-align: middle !important;

        &:nth-child(2) {
            min-width: 4em;
        }

        &:nth-child(3) {
            min-width: 6em;
        }
    }

    tbody tr {
        height: 4em;
    }

    .time-left {
        text-align: left;
        color: $color_primary50;
        padding-top: 0.5em;
    }

    .contest-tags {
        padding-left: 0.75em;
        vertical-align: top;
    }

    .participate-button {
        display: inline-block;
        width: 90px;
    }

    .contest-block {
        text-align: left;
        padding: 0.5em 0.5em 0.5em 1em;
    }

    a.contest-sort-link {
        color: $color_primary0;
    }
}

.contest-tag {
    box-shadow: inset 0 -0.1em 0 rgba(0, 0, 0, 0.12);
    padding: 0.15em 0.3em;
    border-radius: 0.15em;
    font-weight: 600;
    margin-right: 0.45em;
    position: relative;
}

.contest-list-title {
    font-size: 18px;
    font-weight: 600;
}

form.contest-join-pseudotab {
    display: inline;
    padding: 6px 8px !important;
    line-height: 1.7em;
    margin-left: 0.5em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    input {
        display: inline;
        border: none;
        padding: 0;
        background: none;
        font-weight: 600;
    }
}

.contest-participation-operation {
    float: right;

    .fa {
        color: $color_primary75;
    }

    a + a {
        padding-left: 1px;
    }

    padding: 0 5px;
}
