@import "base-description";

form .martor-preview {
    @include content-description;

    min-height: 400px;

    ul li {
        list-style: unset !important;
    }

    ul, ol {
        margin-left: 0 !important;
    }

    h5 {
        text-transform: none !important;
    }
}

.main-martor-fullscreen {
    z-index: 99999 !important;
}

.section-martor {
    div[data-tab^="editor-tab-"] {
        padding: 0;
    }

    .markdown-selector.markdown-emoji {
        display: none !important;
    }

    .tab-martor-menu a.item {
        font-size: 0.8rem;
    }

    .martor-toolbar {
        flex: 0 1 auto !important;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .martor-field {
        height: 400px;
    }

    @if not $is_light_theme {
        background: white;
        border-radius: 4px;

        .martor-preview {
            background: black !important;
        }
    }
}
