@import "vars";

.mwe-math-mathml-inline {
  display: inline !important;
}

.mwe-math-mathml-display {
  display: block !important;
  margin-left: auto;
  margin-right: auto;
}

.mwe-math-mathml-a11y {
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.mwe-math-fallback-image-inline {
  display: inline-block;
  vertical-align: middle;
}

.mwe-math-fallback-image-display {
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
}

@font-face {
  font-family: 'Latin Modern Math';
  src: url($path_to_root + '/libs/latinmodernmath/latinmodern-math.eot'); /* IE9 Compat Modes */
  src: local('Latin Modern Math'), local('LatinModernMath-Regular'),
    url($path_to_root + '/libs/latinmodernmath/latinmodern-math.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url($path_to_root + '/libs/latinmodernmath/latinmodern-math.woff2') format('woff2'), /* Modern Browsers */
    url($path_to_root + '/libs/latinmodernmath/latinmodern-math.woff') format('woff'), /* Modern Browsers */
    url($path_to_root + '/libs/latinmodernmath/latinmodern-math.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}

math {
  font-family: "Latin Modern Math";
}

img.inline-math {
  display: inline;
}