@import "vars";

#judge-versions {
    .version {
        font-family: $monospace-fonts;
    }

    .version-blank {
        background: $color_primary10;
    }

    .version-latest {
        background: #af3c;
        color: black;
    }

    .version-outdated {
        background: #f00c;
        color: white;
    }

    tr:first-child {
        position: sticky;
        top: 43px;
    }
}

.django-as-table {
    text-align: left;

    th {
        vertical-align: top;
        padding-top: 4px;
    }
}

.centered-form {
    max-width: 800px;
    margin: auto;

    .submit-bar {
        float: right;
    }
}

@media (min-width: 700px) {
    .xs-br {
        display: none;
    }
}

.auth-flow-form {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    padding-top: 5%;
}

.grayed {
    color: $color_primary75;
}
