.wmd-input {
    background: #fff;
}

.wmd-preview {
    background: none;
}

.wmd-panel {
    margin: 0;
    width: 100%;
	min-width: 0;
}

.wmd-wrapper, .wmd-wrapper div {
    padding-right: 0 !important;
}