.wmd-panel {
    margin: 0;
    width: 100%;
    min-width: 0;
}

.wmd-button-bar {
    width: 100%;
    background-color: Silver;
}

.wmd-input {
    height: 300px;
    width: 100%;
    background: #fff;
    border: 1px solid DarkGray;
    font-family: Consolas, "Liberation Mono", Monaco, "Courier New", monospace;
}

.wmd-preview {
    background: none;
}

.wmd-button-row {
    position: relative;
    margin: 10px 5px 5px;
    padding: 0;
    height: 20px;
}

.wmd-spacer {
    width: 1px;
    height: 20px;
    margin-left: 14px;

    position: absolute;
    background-color: Silver;
    display: inline-block;
    list-style: none;
}

.wmd-button {
    width: 20px;
    height: 20px;
    padding-left: 2px;
    padding-right: 3px;
    position: absolute;
    display: inline-block;
    list-style: none;
    cursor: pointer;
}

.wmd-button > span {
    background: url(pagedown/wmd-buttons.png) no-repeat 0 0;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.wmd-spacer1 {
    left: 50px;
}

.wmd-spacer2 {
    left: 175px;
}

.wmd-spacer3 {
    left: 300px;
}

.wmd-prompt-background {
    background-color: Black;
}

.wmd-prompt-dialog {
    border: 1px solid #999999;
    background-color: #F5F5F5;
}

.wmd-prompt-dialog > div {
    font-size: 0.8em;
    font-family: arial, helvetica, sans-serif;
}

.wmd-prompt-dialog > form > input[type="text"] {
    border: 1px solid #999999;
    color: black;
}

.wmd-prompt-dialog > form > input[type="button"] {
    border: 1px solid #888888;
    font-family: trebuchet MS, helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: bold;
}

.wmd-wrapper {
    padding-right: 0 !important;
}

.wmd-preview {
    margin-top: 15px;
    padding: 7px;
    background: white;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    line-height: 1.5em;
    font-size: 1em;
    border: 1px solid #a9a9a9;
    border-radius: 5px;
}

.wmd-preview h1, .wmd-preview h2, .wmd-preview h3, .wmd-preview h4, .wmd-preview h5, .wmd-preview h6 {
    font-weight: bold;
    color: #111;
    margin-bottom: .75em;
    padding: 0;
    background: 0;
    margin-left: 0;
}

.wmd-preview h1 {
    font-size: 1.6em;
    margin: 0;
    padding: 0;
}

.wmd-preview h2 {
    font-size: 1.4em
}

.wmd-preview h3 {
    font-size: 1em
}

.wmd-preview h4, .wmd-preview h5, .wmd-preview h6 {
    font-size: .9em
}