#problem-table
  td
    &.category
      text-align: left
      padding: 0 1em

    &.problem
      text-align: left
      padding-left: 1em
      width: 100%

    &.code
      text-align: left
      padding: 0 1em
      white-space: nowrap

    &.users
      text-align: left
      padding: 0 1em
      white-space: nowrap

    &.types
      text-align: left
      padding: 0 1em

    &.points
      white-space: nowrap

  tr
    transition: background-color linear .2s

    &:hover
      background: #eaeaea

#filter-form
  vertical-align: top
  margin-bottom: 0.5em

  a
    margin-left: 5px
    display: inline
    padding: 3px 10px
    vertical-align: middle

  input
    vertical-align: middle

  label
    vertical-align: middle

#search
  width: 250px