.rate-box {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    border: solid 2px;
    display: block;
}

.rate-box span {
    width: 1em;
    position: absolute;
    bottom: 0;
    display: block;
}

.rate-box.rate-none {
    border: none;
}

.rate-box.rate-newbie {
    border-color: #999;
}

.rate-box.rate-amateur {
    border-color: #00a900;
}

.rate-box.rate-expert {
    border-color: #66f;
}

.rate-box.rate-master {
    border-color: #dc0;
}

.rate-box.rate-grandmaster, .rate-box.rate-target {
    border-color: #e00;
}

.rate-box.rate-newbie span {
    background: #999;
}

.rate-box.rate-amateur span {
    background: #00a900;
}

.rate-box.rate-expert span {
    background: #66f;
}

.rate-box.rate-master span {
    background: #dc0;
}

.rate-box.rate-grandmaster span {
    background: #e00;
}

.rate-box.rate-target span {
    top: 0.28em;
    bottom: 0.28em;
    left: 0.28em;
    right: 0.28em;
    background: #e00;
    height: auto !important;
    width: auto !important;
    border-radius: 50%;
}

.rating {
    font-weight: bold;
}

.rate-none {
    color: black;
    font-weight: lighter;
}

.rate-newbie {
    color: #999;
}

.rate-amateur {
    color: #00a900;
}

.rate-expert {
    color: #66f;
}

.rate-master {
    color: #dc0;
}

.rate-grandmaster, .rate-target {
    color: #e00;
}

.rate-group, .rate-group .rating {
    display: inline-block;
}

.rate-group .rate-box {
    display: inline-block;
    margin-right: 0.2em;
    vertical-align: bottom;
    font-size: 0.8em;
}

