.AC {
    background-color: #53D93F;
    color: green;
}

.WA {
    background-color: #CCC;
    color: #EF1B53;
}

.TLE {
    background-color: #CCC;
    color: black;
}

.MLE {
    background-color: #CCC;
    color: black;
}

.IR {
    background-color: #FAB623;
    color: black;
}

.CE {
    background-color: #CCC;
    color: black;
}

.RTE {
    background-color: #FAB623;
    color: black;
}

.IE {
    background-color: red;
    color: black;
}

.QU {
    background-color: white;
    color: black;
}
