@-ms-viewport {
    min-width: 420px;
    max-width: device-width
}

@-o-viewport {
    min-width: 420px;
    max-width: device-width
}

@viewport {
    min-width: 420px;
    max-width: device-width
}

.full {
    width: 100%
}

.button, button, input[type='submit'] {
    cursor: pointer;
    display: block;
    text-align: center;
    padding: 4px 2px 5px;
    color: white;
    border: 1px solid #666;
    border-radius: 1px;
    background: #2980b9;
    background: -webkit-linear-gradient(270deg, #00aee0, #2980b9);
    background: linear-gradient(180deg, #00aee0, #2980b9);
    text-decoration: none
}

.button:hover, button:hover, input[type='submit']:hover {
    background: #00a3e0
}

.button:active, button:active, input[type='submit']:hover {
    background: #00aee0;
    background: -webkit-linear-gradient(270deg, #2980b9, #00aee0);
    background: linear-gradient(180deg, #2980b9, #00aee0)
}

textarea, input[type="text"], input[type="password"] {
    border: 1px solid #CCC;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear .2s, -webkit-box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
    border-radius: 4px
}

textarea:hover, input[type="text"]:hover, input[type="password"]:hover {
    border-color: rgba(82, 168, 236, 0.8);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 4px rgba(82, 168, 236, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 4px rgba(82, 168, 236, .6)
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus {
    border-color: rgba(82, 168, 236, 0.8);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(82, 168, 236, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(82, 168, 236, .6);
    outline: 0
}

table.sortable thead {
    background-color: #eee;
    color: #666;
    font-weight: bold;
    cursor: default;
    -ms-behavior: url("unselectable.9340c5b17351.htc")
}

th.headerSortDown:after {
    content: " \25BE"
}

th.headerSortUp:after {
    content: " \25B4"
}

hr {
    display: block;
    height: 0;
    border: 0;
    font-style: italic;
    border-bottom: 1px solid #CCC;
    padding: 0
}

.dashed {
    border-bottom: 1px dashed #CCC
}

.table {
    border-spacing: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .5em;
    background: rgba(0, 0, 0, 0.01)
}

.table.striped tr:nth-child(even) {
    background: #f7f7f7
}

.table td:first-child {
    border-color: #d4d4d4;
    border-width: 1px 1px 0 1px
}

.table tr:last-child td:first-child {
    border-color: #d4d4d4;
    border-width: 1px 1px 1px 1px
}

.table tr:last-child td {
    border-color: #d4d4d4;
    border-width: 1px 1px 1px 0
}

.table thead th, th {
    vertical-align: middle
}

.table th {
    color: #FFF;
    background-color: #393630;
    border-color: #555;
    border-width: 1px 1px 0 0;
    border-style: solid;
    padding: 3px;
    vertical-align: top;
    text-align: center
}

.table td {
    border-color: #d4d4d4;
    border-width: 1px 1px 0 0;
    border-style: solid;
    padding: 7px 5px;
    vertical-align: middle;
    text-align: center
}

.comment {
    list-style: none none;
    background: rgba(0, 0, 0, 0.01);
    border-radius: 4px;
    padding: 5px 10px 10px 15px;
    margin-left: -40px;
    margin-bottom: 10px;
    border: 1px solid #ccc
}

.form-area {
    display: inline-block;
    background: #fafafa;
    padding: 5px 10px 10px 15px;
    border-radius: 4px;
    border: 1px solid #ccc
}

.comment-body {
    padding-right: 2px;
    padding-left: 30px
}

.comment-author {
    font-weight: bold;
    color: #333
}

.comment-header {
    color: rgba(1, 1, 1, 1);
    background: rgba(0, 0, 0, 0.1);
    padding: 5px 10px 5px 5px;
    margin-left: 30px;
    border: 1px solid #ccc;
    border-radius: 4px
}

.comment-submit {
    width: 100%;
    max-width: 500px
}

.comment-post-wrapper div {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 10px
}

.comment-post-wrapper input, .comment-post-wrapper textarea {
    min-width: 100%
}

div.info-float {
    float: right;
    padding: 10px
}

footer {
    color: gray
}

body {
    margin: 0;
    font-size: 13px;
    line-height: 1.231;
    background: #FFF;
    font-family: 'Segoe UI', 'Lucida Grande', Arial, sans-serif;
    color: #000;
    height: 100%
}

.unselectable {
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-behavior: url("unselectable.9340c5b17351.htc");
    cursor: default
}

h1 {
    font-size: 5em;
    letter-spacing: -2px;
    margin: 0;
    padding: 0;
    line-height: 1em
}

b {
    font-weight: bold
}

h2 {
    font-weight: 300;
    font-size: 2em;
    border-radius: 4px;
    padding: 0;
    margin: 0
}

h3 {
    font-weight: 300;
    font-size: 1.4em;
    border-radius: 4px;
    padding: 0;
    margin: 0
}

h4 {
    font-size: 1.1em;
    padding: 0;
    margin: 0
}

#header a {
    background: #111;
    color: #aaa;
    text-align: left;
    display: block;
    height: 65px;
    margin-top: -10px;
    padding: 10px 10px 10px 5%
}

#user-links {
    bottom: 6px;
    right: 6px;
    position: absolute;
    color: #5c5954
}

#user-links a {
    color: #FFF
}

nav ul {
    margin: 0 0 0 -5px;
    padding: 0 0 0 5%;
    text-align: left;
    display: inline;
    list-style: none
}

nav {
    background: rgba(0, 0, 0, 0.77);
    text-align: left;
    -webkit-box-shadow: 0 0 10px #333;
    box-shadow: 0 0 10px #333
}

nav ul li {
    display: inline;
    color: #FFF;
    text-transform: uppercase;
    font-size: 1em;
    position: relative
}

nav ul li a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 7px;
    color: #FFF
}

nav ul li a:link {
    color: #FFF
}

nav ul li a:hover {
    color: #FFF;
    background: rgba(255, 255, 255, 0.25)
}

nav ul li a.active {
    color: #FFF;
    background: #2980b9
}

nav ul li ul {
    padding: 0;
    position: absolute;
    left: 0;
    display: none
}

nav ul li ul li a {
    padding: 8px 15px 8px 8px;
    font-size: .8em;
    display: block
}

nav ul li:hover > ul, nav ul li:active > ul, nav ul li:focus > ul {
    display: block;
    background: #000;
    color: #fff;
    border-left: 4px solid #2980b9;
    background: rgba(0, 0, 0, 0.77);
    -webkit-box-shadow: 0 0 10px #333;
    box-shadow: 0 0 10px #333
}

hr {
    color: rgba(0, 0, 0, 0.2)
}

#navigation {
    position: relative;
    top: 0;
    width: 100%;
    z-index: 500
}

#content {
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto
}

#content .title {
    color: #393630
}

footer {
    height: 142px
}

a {
    text-decoration: none;
    display: inline
}

.pagination {
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    background: #393630;
    color: #FFF;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 1em
}

.pagination a {
    display: inline-block;
    text-decoration: none;
    padding: 2px 8px;
    color: #FFF
}

.pagination a:hover {
    color: #FFF;
    background: rgba(255, 255, 255, 0.25)
}

.pagination a.active-page {
    color: #FFF;
    background: #2980b9
}

.admin a {
    color: red;
    font-weight: bold
}

.user a {
    color: blue;
    font-weight: bold
}

.setter a {
    color: #9710a3;
    font-weight: bold
}

noscript, #announcement {
    font-family: Arial, sans-serif;
    font-size: 111%;
    color: white;
    font-weight: bold;
    background: #ae0000;
    text-align: center;
    max-width: 30%;
    padding: 15px 10px 5px;
    right: 0;
    position: fixed;
    border-radius: 4px;
    z-index: 100
}

#announcement {
    bottom: -4px;
    right: -4px;
    padding: 5px 6px 6px 5px
}

.comment-area {
    margin-top: 40px
}

.comment-link {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden
}

.toggle {
    font-weight: bold
}

.toggle .fa {
    -webkit-transition: -webkit-transform .4s;
    transition: transform .4s
}

.toggle.open .fa {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}

.comment-score {
    font-weight: bold;
    text-align: center
}

a.upvote-link, a.downvote-link {
    color: black
}

#form-errors {
    background: rgba(255, 0, 0, 0.3);
    border: 3px solid red;
    border-radius: 4px;
    padding: 0 1em .1em 1em;
    margin: .3em 0 .5em 0
}

#navicon {
    display: none
}

@media (max-width: 760px) {
    #navigation {
        display: flex;
        height: 36px;
    }

    #navicon {
        color: white;
        transition-duration: 0.25s;
        display: block;
        line-height: 36px;
        font-size: 1.5em;
        font-style: bold;
        color: white;
        padding-left: 0.5em;
        /* This is to make the highlight look ok */
        padding-right: 0.5em;
    }

	#navicon:hover{
		color:#2980B9;
		transition-duration:.25s
	}

	#nav-list{
		display:none
	}

	#navigation ul{
		padding:0;
		margin-left:0;
		border-left:4px solid #2980B9;
		position:fixed;
		top:0;
		background:black;
		bottom:0;
		width:8em;
		left:0;
		box-shadow: none;
	}


    #navigation ul li, #navigation ul li a {
        display: block
    }

    #navigation ul li ul {
        left: 8em;
        top: auto;
        bottom: auto;
        margin-top: -36px
    }

    #user-links {
        display: block;
        height: 1.5em;
        width: 100%;
        max-width: none;
        position: static;
        vertical-align: bottom;
        text-align: right;
        padding-top: 1.1em;
        margin-right: 1em
    }

}

@media (min-width: 761px) {
    #nav-list {
        display: block !important
    }

}
