.table table{
	border-collapse:collapse;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	border:1px solid #fff;
	background:rgba(0, 0, 0, 0.01);
	box-shadow: 2px 2px 10px #aaa;
}

.table table th{
	color:#FFF;
	background-color:#393630;
	border:1px solid #555;
	padding:3px;
	vertical-align:top;
	text-align:center
}


.top-level-comments{
	width:80%;
}


.comment {
	list-style:none none;
	background:rgba(0, 0, 0, 0.01);
	border-radius: 4px;
	padding-top:5px;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:10px;
	margin-left:-40px;
	box-shadow: 2px 2px 10px #bbb;
	border:1px solid #ccc;
}

.comment-body {
	padding-left:2px;
	padding-right:2px;
}

.comment-author {
	font-weight: bold;
	color:#333;
}

.comment-header {
	color:rgba(1, 1, 1, 1);
	background:rgba(0, 0, 0, 0.1);
	padding-top:5px;
	padding-bottom:5px;
	padding-left:10px;
	padding-right:10px;
	border:1px solid #ccc;
	border-radius: 4px;
}

.table table td{
	border:1px solid #d4d4d4;
	padding:7px 5px;
	vertical-align:middle;
	text-align:center
}

div.info-float{
	float:right;
	padding:10px;
	height:100%;
}

footer{
	color:gray
}

body{
	margin:0;
	font-size:13px;
	line-height:1.231;
	background:#FFF;
	font-family:'Segoe UI','Lucida Grande',Arial,sans-serif;
	color:#000;
	height:100%
}

.unselectable{
	-ms-user-select:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	-khtml-user-select:none;
	user-select:none;
	behavior:url("unselectable.htc")
}

h1{
	font-size:5em;
	letter-spacing:-2px;
	margin:0;
	padding:0;
	display:inline;
	line-height:1em
}

h2{
	font-weight:300;
	font-size:2em;
	border-radius:4px;
	padding:0;
	display:inline;
	margin:0
}

h3{
	font-weight:300;
	font-size:1.4em;
	border-radius:4px;
	padding:0;
	display:inline;
	margin:0
}

h4{
	font-size:1.1em;
	padding:0;
	display:inline;
	margin:0
}

#header h1{
	background:#FFF;
	color:#000;
	text-align:left;
	display:block;
	height:65px;
	padding:10px;
	margin-top:-10px;
	padding-left:60px;
	text-shadow: 2px 2px 2px #ccc;
}

nav ul{
	list-style:none none;
	margin:0;
	padding:0 0 0 60px
}

nav{
	background:#393630;
	text-align:left;
	box-shadow: 2px 2px 10px #333;
}

nav ul li{
	display:inline-block;
	margin-top:11px;
	margin-bottom:11px;
	color:#FFF;
	text-transform:uppercase;
	font-size:1em
}

nav ul li a{
	text-decoration:none;
	padding:10px 7px;
	color:#FFF
}

nav ul li a:link{
	color:#FFF
}

nav ul li a:hover{
	color:#FFF;
	background:rgba(255,255,255,0.25)
}

nav ul li a.active{
	color:#FFF;
	background:#2980b9
}

hr{
	color:rgba(0,0,0,0.2)
}

#navigation{
	position:relative;
	top:0;
	width:100%
}

#content{
	width:90%;
	height:100%;
	display:block;
	margin:0 auto
}

footer{
	height:142px
}

a{
	text-decoration:none;
	display:inline
}

.pagination{
	padding-left:10px;
	padding-right:10px;
	padding-top:3px;
	padding-bottom:3px;
	display:inline-block;
	background:#393630;
	color:#FFF;
	border-radius:4px;
	text-transform:uppercase;
	font-size:1em;
	box-shadow: 2px 2px 10px #777;
	border-radius: 4px;
}

.pagination a{
	margin:11px 0 12px;
	text-decoration:none;
	padding:1px 8px;
	color:#FFF;
	margin:0
}

.pagination a:hover{
	color:#FFF;
	background:rgba(255,255,255,0.25)
}

.pagination a.active-page{
	color:#FFF;
	background:#2980b9
}

.admin a{
	color:red;
	font-weight:bold
}

.user a{
	color:blue;
	font-weight:bold
}

.setter a{
	color:orange;
	font-weight:bold
}

noscript{
	width:100%;
	height:23px;
	font-family:Arial,sans-serif;
	font-size:111%;
	color:white;
	font-weight:bold;
	background:#ae0000;
	text-align:center;
	padding-top:4px;
	position:fixed;
	z-index:100
}

.comment-area{
	margin-top:40px
}
