.info-float
  position: sticky
  top: 60px
  width: 20%

.time .absolute
  display: none

.time .relative
  display: inline

.time:hover > .relative
  display: none

.time:hover > .absolute
  display: inline

#submissions-table
  border: 0
  margin-left: 0
  tr
    transition: background-color linear .2s
    &:hover
      background: #F2F2F2

col
  &.sub-result
    min-width: 80px

  &.sub-prop
    text-align: right

td
  &.sub-result
    min-width: 80px
    .state
      font-size: 0.7em
      font-weight: bold
      padding-top: 0.5em

    .score
      font-size: 1.3em
      color: #000

  &.sub-info
    .name
      font-size: 1.3em
      font-weight: bold

    .time
      color: #555

  &.sub-info-grading
    width: auto !important
    min-width: 58% !important

  &.sub-testcase
    color: #555
    white-space: nowrap
    vertical-align: middle
    text-align: right
    padding-right: 2%
    border-right: none

  &.sub-prop
    text-align: right
    a
      white-space: nowrap

  &.sub-usage
    white-space: nowrap
    .time
      font-weight: bold

col.sub-info, td.sub-info
  width: 90%
  text-align: left
  padding-left: 20px
  border-right: none

.sub-prop .fa
  display: none


#content-left.submission
  flex: 75%

#content-right.submission
  flex: 25%

@media(max-width: 700px)
  .sub-prop
    .label
      display: none

    .fa
      display: inline-block

  #fake-info-float
    display: none

  #statistics-table
    display: none

  #content-left.submission
    flex: 100%

  #content-right.submission
    display: none
