.info-float {
    position: sticky;
    top: 60px;
    width: 20%;
}

#submissions-table {
    border: 0;
    margin-left: 0;

    tr {
        transition: background-color linear 0.2s;

        &:hover {
            background: #F2F2F2;
        }
    }
}

col {
    &.sub-result {
        min-width: 80px;
    }

    &.sub-prop {
        text-align: right;
    }
}

#submissions-table tr td {
    border-top: none;
    border-bottom: 1px solid #d4d4d4;
}

#submissions-table td:first-child {
    border-bottom: 1px solid white;
}

#submissions-table tr:first-child td {
    border-top: 1px solid #d4d4d4;
}

#submissions-table tr:last-child td:first-child {
    border-bottom: 1px solid #d4d4d4;
}

td {
    &.sub-result {
        min-width: 80px;

        .state {
            font-size: 0.7em;
            font-weight: bold;
            padding-top: 0.5em;
        }

        .score {
            font-size: 1.3em;
            color: #000;
        }
    }

    &.sub-info {
        .name {
            font-weight: 700;
            font-size: 1.2em;
        }
    }

    &.sub-info-grading {
        width: auto !important;
        min-width: 58% !important;
    }

    &.sub-testcase {
        color: #555;
        white-space: nowrap;
        vertical-align: middle;
        text-align: right;
        padding-right: 2%;
        border-right: none;
    }

    &.sub-prop {
        text-align: right;

        a {
            white-space: nowrap;
        }
    }

    &.sub-usage {
        white-space: nowrap;
        min-width: 4em;

        .time {
            font-weight: bold;
        }
    }
}

col.sub-info, td.sub-info {
    width: 90%;
    text-align: left;
    padding-left: 20px;
    border-right: none;
}

.sub-prop .fa {
    display: none;
}

label[for="language"], label[for="status"] {
    padding-bottom: 0.25em;
    display: block;
}

#language {
    margin-top: 0.5em;
    width: 100%;
}

#status {
    width: 100%;
}

#statistics-table tr:not(:first-child) td {
    border-top: 1px solid white !important;
}

#statistics-table tr:not(:last-child) td:not(:last-child) {
    border-right: 1px solid white;
}

#content-left.submission {
    flex: 70%;
}

#content-right.submission {
    flex: 12%;
    min-width: initial;
    max-width: 235px;
    padding-top: 2.25em;
}

@media(max-width: 700px) {
    .sub-prop {
        .label {
            display: none;
        }

        .fa {
            display: inline-block;
        }
    }

    #fake-info-float {
        display: none;
    }

    #statistics-table {
        display: none;
    }

    #content-left.submission {
        flex: 100%;
    }

    #content-right.submission {
        display: none;
    }
}

.submission-contest {
    color: #555;
}

.source-ln {
    color: gray;
    border-right: 1px solid gray;
    padding-right: 5px;
    text-align: right;

    a {
        color: gray;
        display: block;

        &:hover {
            text-decoration: underline;
        }

        &::before {
            display: block;
            content: " ";
            margin-top: -50px;
            height: 50px;
            visibility: hidden;
        }
    }
}

.source-code pre, .source-ln pre {
    margin: 0;
    padding: 0;
    white-space: pre;
}

.source-code {
    padding-left: 15px;
}

.source-wrap {
    overflow-x: auto;
}

.statistics-table {
    .status {
        font-weight: bold;
        text-align: left;
    }

    .count {
        color: black;
    }
}