@forward "vars-common";

$is_light_theme: true;

$color_primary0: #fff;
$color_primary5: #f8f8f8;   // light background
$color_primary10: #eee;     // background
$color_primary25: #ccc;     // border
$color_primary33: #aaa;     // widget
$color_primary50: #808080;
$color_primary66: #555;     // tabs
$color_primary75: #3b3b3b;  // widget
$color_primary90: #111;
$color_primary100: #000;

$color_link50: #5b80b9;     // default (title)
$color_link75: #1958c1;     // default
$color_link100: #0645ad;    // hover
$color_link200: #faa700;    // active

$color_pageBg: #fff;

// custom one-off colours
$color_base_description_blockquote: #eee;

$color_contest_ranking_disqualified: #ffa8a8;

$color_martor_resize_dragger: #e8e8e8;

$color_rating_none: #999;
$color_rating_newbie: #999;
$color_rating_amateur: #00a900;
$color_rating_expert: blue;
$color_rating_candidate_master: purple;
$color_rating_master: #ffb100;
$color_rating_grandmaster: #e00;
$color_rating_target: #700;

$color_select2_search_dropdown: $color_primary0;

$color_user_submission_activity0: #ddd;
$color_user_submission_activity1: #9be9a8;
$color_user_submission_activity2: #40c463;
$color_user_submission_activity3: #2f9c4c;
$color_user_submission_activity4: #216e39;

$color_info25: #def;
$color_info50: #bdf;
$color_info100: #368;
$color_warning25: #ffd;
$color_warning50: #feb;
$color_warning100: #863;
$color_danger25: #edd;
$color_danger50: #dbb;
$color_danger100: #944;

$color_problem_submit_select2: #757575;

$path_to_root: '.';     // relative path from style.css to STATIC_ROOT

@mixin vars-img {}
