$highlight_blue: #7070f4;
$widget_black: #3737B4;
$border_gray: #ccc;
$pagination_border: #2c2cb2;
$background_gray: #ededed;
$background_light_gray: #fafafa;
$announcement_red: #ae0000;

$base_font_size: 14px;
$widget_border_radius: 1px;

$table_header_rounding: 1px;

$monospace-fonts: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
