@import "vars-common";

$is_light_theme: true;

$color_primary0: #fff;
$color_primary5: #f8f8f8;   // light background
$color_primary10: #eee;     // background
$color_primary25: #ccc;     // border
$color_primary50: #808080;
$color_primary75: #3b3b3b;  // widget
$color_primary90: #111;
$color_primary100: #000;

$color_link50: #5b80b9;     // default (title)
$color_link75: #1958c1;     // default
$color_link100: #0645ad;    // hover
$color_link200: #faa700;    // active

$color_pageBg: #fff;

$path_to_root: '.';     // relative path from style.css to STATIC_ROOT

@mixin vars-img {}
