@import "vars-common";

$is_light_theme: false;

$color_primary0: #000;
$color_primary5: #080808;   // light background
$color_primary10: #111;     // background
$color_primary25: #3b3b3b;  // border
$color_primary50: #808080;
$color_primary75: #ccc;     // widget
$color_primary90: #eee;
$color_primary100: #fff;

$color_link50: #06d;    // default (title)
$color_link75: #38e;    // default
$color_link100: #59f;   // hover
$color_link200: #960;   // active

$color_pageBg: #222;    // #222 because some elements should be darker than pageBg

$path_to_root: '..';    // relative path from style.css to STATIC_ROOT

@mixin vars-img {
    filter: invert(1) hue-rotate(180deg);
}
