<section id="message-{{ message.id }}" class="message">
    <div class="info">
        <a href="{{ url('user_page', message.user.user.username) }}" class="user">
            <img src="{{ gravatar(message.user, 135) }}" class="gravatar">
            <div class="username {{ message.user.css_class }}">{{ message.user.display_name }}</div>
        </a>
    </div>
    <div class="detail">
        <div class="header">
            <span class="time">{{ relative_time(message.time, abs=_('messaged on {time}'), rel=_('messaged {time}')) }}</span>
            <span class="operation">
                {% if perms.judge.change_ticket and perms.judge.change_ticketmessage %}
                    <a href="{{ url('admin:judge_ticket_change', ticket.id) }}"
                       title="{{ _('Admin') }}"><i class="fa fa-cog fa-fw"></i></a>
                {% endif %}
            </span>
        </div>
        <div class="content content-description">
            {{ message.body|markdown('ticket', MATH_ENGINE)|reference|str|safe }}
        </div>
    </div>
</section>
