extends base

- load i18n

block media
    | #{form.media.css}
    style.
        form#ticket-form {
            display: block;
            margin: 0 auto;
            width: 100%;
            max-width: 750px;
            padding-top: 1em;
        }

        #id_title {
            width: 100%;
        }

        form#ticket-form .submit {
            margin: 10px 0 0 auto;
        }

block js_media
    | #{form.media.js}

block body
    br
    form#ticket-form.form-area(action='', method='POST')
        block guideline_message
        - csrf_token
        .title-block(class=('error' if form['title'].errors else '')) #{form.title}
        .form-errors
            | {{ form.title.errors }}
            | {{ form.body.errors }}
        .body-block #{form.body}
        button.submit(type='submit') {% trans "Create" %}
