extends ticket/new

- load i18n

block guideline_message
    .alert.alert-warning.alert-dismissable
        a.close x
        b {% trans "Thanks for opening an issue!" %}
        br: br
        | {% trans "Please keep in mind that this form is for reporting issues with a problem statement, and not for asking for help. If you require assistance on solving a problem, ask in the comments instead." %}