- load markdown_trois_tags
- load smart_math
- load camo_proxy
- load staticfiles
- load reference

| #{preview_data|markdown:"self-description"|reference|smart_math:MATH_ENGINE|proxy_images}

if REQUIRE_JAX
    div.require-mathjax-support(data-config='{% static "mathjax_config.js" %}')
