extends base

- load gravatar
- load markdown_trois_tags
- load reference
- load smart_math
- load camo_proxy

block media
    style.
        .messages {
            width: 100%;
            max-width: 800px;
            margin: 0 auto;
        }

        .message {
            display: flex;
        }

        .message .username {
            text-align: center;
        }

        .message .gravatar {
            width: 80px;
            display: block;
            margin: 0 auto;
        }

        .message .info {
            margin-right: 10px;
        }

        .message .message-date, .message .message-time {
            text-align: center;
        }

        .message .content {
            border: 1px #999 solid;
            border-radius: 5px;
            padding: 7px;
            flex: 1;
        }

block body
    main.messages
        each message in messages
            section.message
                .info
                    a.user(href='{% url "user_page" message.user.user.username %}')
                        img.gravatar(src='{% gravatar_url message.user.user.email 135 message.user.mute %}')
                        .username #{message.user.user.username}
                    .message-date #{message.time|date:"DATE_FORMAT"}
                    .message-time #{message.time|time:"TIME_FORMAT"}
                .content #{message.body|markdown:"ticket"|reference|smart_math:MATH_ENGINE|proxy_images}
