extends base

- load gravatar

block body
    main.messages
        each message in messages
            section.message
                .info
                    a.user(href='{% url "user_page" message.user.user.username %}')
                        img.gravatar(src='{% gravatar_url message.user.user.email 135 message.user.mute %}')
                        | #{message.user}
                    .time #{message.time}
                .content #{message.body}
