extends base

- load i18n

block body
    form(action='', method='POST', enctype='multipart/form-data')
        - csrf_token
        table.table #{data_form.as_table}
        input(class='button', type='submit', value='{% trans "Submit!" %}')