{% extends "common-content.jade" %}{%  load markdown %}{%  load staticfiles %}{%  load i18n %}{%  load reference %}{% block content_js_media %}{% include "comments/media-js.jade" %}{% endblock %}{% block content_media %}{% include "comments/media-css.jade" %}{% endblock %}{% block header %}
<div style="float:right">{% if  perms.judge.change_problem %}[<a href="{% url "admin:judge_problem_change" problem.id %}">{% trans "Edit" %}</a>]{% endif %}
</div>{% endblock %}
{% block body %}
<div class="content-description">{% if  not has_solved_problem %}
  <div class="alert alert-danger">{% trans "Remember to use this editorial <b>only</b> when stuck, and <b>not to copy-paste code from it</b>. Please be respectful to the problem author and editorialist. <br/><br/> <b>Submitting an official solution before solving the problem yourself is a bannable offence.</b>" %}
  </div>{% endif %}
  <p>Authors: {% include "link-to-user-list.jade" with users=solution.authors.all %}</p>{{solution.content|with_math:MATH_ENGINE|markdown:"solution"|reference|escape}}
</div>
<hr/>
{% include "comments/list.jade" %}{% endblock %}{% block bodyend %}{% if  REQUIRE_JAX %}{% include "mathjax-load.jade" %}{% endif %}{% include "comments/math.jade" %}{% endblock %}