- load markdown_trois_tags
- load smart_math
- load latex_math
- load camo_proxy

| #{preview_data|markdown:"problem"|latex_math|smart_math:MATH_ENGINE|proxy_images}

if REQUIRE_JAX
    div.require-mathjax-support
