- load markdown
- load smart_math
- load latex_math
- load camo_proxy
- load staticfiles
- load reference

| #{preview_data|markdown:"problem"|reference|latex_math|smart_math:MATH_ENGINE|proxy_images}

if REQUIRE_JAX
    div.require-mathjax-support(data-config='{% static "mathjax_config.js" %}')
