- load i18n

div.page-title
    ul.tabs(style='margin: 0px 0px 8px;padding:0px;width:100%')
        h2(style='color:#393630; display: inline-block') {% trans title %}
        span.spacer
        li(class=('active' if tab == 'list' else ''))
            a(href='{% url "problem_list" %}') {% trans "Problems" %}
        li(class=('active' if tab == 'editorials' else ''))
            a(href='{% url "solution" "" %}') {% trans "Editorials" %}
        if perms.judge.change_problem
            li: a(href='{% url "admin:judge_problem_changelist" %}') {% trans "Admin" %}