- load i18n

.page-title: .tabs
    h2(style='color:#393630') {% trans title %}
    span.spacer
    ul
        if perms.judge.edit_all_problem or perms.judge.edit_public_problem or perms.judge.edit_own_problem
            li.tab(class=('active' if tab == 'list' else '')): a(href='{% url "problem_list" %}') #[i.tab-icon.fa.fa-list] {% trans "List" %}
            li.tab: a(href='{% url "admin:judge_problem_changelist" %}') #[i.tab-icon.fa.fa-edit] {% trans "Admin" %}
