- load i18n

div.page-title
    ul.tabs(style='margin: 0px 0px 8px;padding:0px;width:100%')
        h2(style='color:#393630; display: inline-block') {% trans title %}
        span.spacer
        if perms.judge.edit_all_problem or perms.judge.edit_public_problem or perms.judge.edit_own_problem
            li(class=('active' if tab == 'list' else '')): a(href='{% url "problem_list" %}') {% trans "List" %}
            li: a(href='{% url "admin:judge_problem_changelist" %}') {% trans "Admin" %}
