{%  load i18n %}
<div class="page-title">
  <div class="tabs">
    <h2 style="color:#393630">{% trans title %}</h2><span class="spacer"></span>
    <ul>{% if  perms.judge.edit_all_problem or perms.judge.edit_public_problem or perms.judge.edit_own_problem %}
      <li{{__pyjade_attrs(attrs=[('class', (("tab") , (('active' if tab == 'list' else ''))))])}}><a href="{% url "problem_list" %}"><i class="tab-icon fa fa-list"></i> {% trans "List" %}</a>
      </li>
      <li class="tab"><a href="{% url "admin:judge_problem_changelist" %}"><i class="tab-icon fa fa-edit"></i> {% trans "Admin" %}</a>
      </li>{% endif %}
    </ul>
  </div>
</div>