- load markdown_trois_tags
- load smart_math

doctype 5

html
    head
        link(rel='stylesheet', href='style.css')
        link(rel='stylesheet', href='content-description.css')
        link(rel='stylesheet', href='pygment-github.css', type='text/css')
        style
            body {
                overflow: hidden;
                page-break-after: always;
            }

    body
        h2(style='color:#393630; display: inline-block')= problem.name
        hr

        .content-description
            | #{problem.description|markdown:"problem"|smart_math:"tex"}
            hr

        | <script type='text/x-mathjax-config'>
        |   MathJax.Hub.Config({
        |     tex2jax: {
        |       inlineMath: [['~', '~'], ['\\(', '\\)']]
        |     }
        |   });
        | </script>
        script(type='text/javascript', src='http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_SVG')
