<div class="cheatsheet">
<h2>Markdown Cheatsheet</h3>

<h3>Phrase Emphasis</h3>

<pre><code>*italic*   **bold**</code></pre>

<h3>Links</h3>

<p>Inline:</p>

<pre><code>A [link](http://url.com/)
A [link](http://url.com/
"with a title")
</code></pre>

<p>Reference-style labels:</p>

<pre><code>A [link][id]. Then, anywhere
else, define the link:

[id]: http://url.com/ "title"
</code></pre>

<h3>Code Spans</h3>

<pre><code>`&lt;code&gt;` spans are delimited
by backticks.

You can include literal
backticks like `` `this` ``.
</code></pre>

<h3>Preformatted Code Blocks</h3>

<p>Indent every line of a code block by at least 4 spaces.</p>

<pre><code>This is a normal paragraph.

    This is a preformatted
    code block.
</code></pre>

<h3>Lists</h3>

<pre><code>1. an ordered
2. list

* an unordered list
* '-' bullets work too
</code></pre>

<h3>Headers</h3>

<pre><code># Header 1

## Header 2

###### Header 6
</code></pre>

<h3>Blockquotes</h3>

<pre><code>&gt; Email-style angle brackets
&gt; are used for blockquotes.

&gt; &gt; And, they can be nested.

&gt; ## Headers in blockquotes
&gt; 
&gt; * You can quote a list.
&gt; * Etc.
</code></pre>

<h3>Manual Line Breaks</h3>

<p>End a line with two or more spaces:</p>

<pre><code>Roses are red,   
Violets are blue.
</code></pre>

<p style="margin-top: 1.5em;">More <a href="{{ help_url }}">markdown syntax help here</a>.</p>

</div>
