extends base
- load staticfiles
- load cache
- load markdown_trois_tags

block media

block body
    div.post-full
        div.body
            - cache 86400 post_content post.id
                | #{post.content|markdown:"blog"}
