{% extends "base.html" %}

{% block js_media %}
    {% include "comments/media-js.html" %}
{% endblock %}

{% block media %}
    {% include "comments/media-css.html" %}
{% endblock %}

{% block header %}
    {% if post.is_editable_by(request.user) %}
        <div class="title-line-action">[<a href="{{ url('admin:judge_blogpost_change', post.id) }}">{{ _('Edit') }}</a>]
        </div>
    {% endif %}
{% endblock %}

{% block body %}
<section class="{% if post.sticky %}sticky {% endif %}post">
    <h2 class="title">
        {% if post.is_organization_private and show_organization_private_icon %}
        <span title="Private to {{ post.organizations.all()|join(", ") }}"><i class="fa fa-lock"></i></span>
        {% endif %}
        <a href="{{ url('blog_post', post.id, post.slug) }}">{{ post.title }}</a>
    </h2>
    <span class="time">
        {%- if post.sticky %}<i title="Sticky" class="fa fa-star fa-fw"></i>{% endif -%}
        {% with authors=post.authors.all() %}
            {% if authors %}
                <span class="post-authors">{{ link_users(authors) }}</span>
            {% endif %}
        {% endwith %}
        <span class="post-time">
            {% trans time=post.publish_on|date(_("N j, Y, g:i a")) %}
                posted on {{ time }}
            {% endtrans %}
        </span>
    </span>
    <span>
        <a href="{{ url('blog_post', post.id, post.slug) }}#comments" class="blog-comment-count-link">
            <i class="fa fa-comments blog-comment-icon"></i><span class="blog-comment-count">
                {{- post_comment_counts[post.id] or 0 -}}
            </span>
        </a>
    </span>
    <div class="summary content-description">
        {% cache 86400 'post_summary' post.id %}
            {{ post.summary|default(post.content, true)|markdown('blog', 'svg', lazy_load=True)|reference|str|safe }}
        {% endcache %}
    </div>
</section>
