extends base
- load staticfiles
- load cache
- load markdown_trois_tags

block media

block body
    div.post-full
        div.time #{post.publish_on|date:"N j, o, G:i"}
        div.body
            - cache 86400 post_content post.id
                | #{post.content|markdown:"blog"}
    hr
    .comment-area
        script(src='{% static "placeholder-compat.js" %}')
        h2 Comments
        include comments
