extends base
- load staticfiles
- load cache
- load markdown_trois_tags
- load social_share

block media
    include comments/media
    style(type='text/css')
        .social i {
            display:inline;
            font-size:1.9em;
        }
        .facebook-this {
            display:inline;
        }
        .tweet-this {
            display:inline;
        }
        .gplus-this {
            display:inline;
        }
        .tweet-this i {
            color:#55ACEE;
        }
        .facebook-this i {
            color:#133783;
        }
        .gplus-this i {
            color:#DD4B38;
        }
        .social { font-size:1.3em; float:right; }
block body
    div.post-full
        div.time #{post.publish_on|date:"N j, o, G:i"}
        div.body
            - cache 86400 post_content post.id
                | #{post.content|markdown:"blog"}
    hr
    span.social
       - post_to_gplus post "<i class=\"fa fa-google-plus-square\"></i>"
       - post_to_facebook post "<i class=\"fa fa-facebook-official\"></i>"
       - post_to_twitter "DMOJ:" post "<i class=\"fa fa-twitter\"></i>"
    .comment-area
        script(src='{% static "placeholder-compat.js" %}')
        h2 Comments
        include comments/list

block bodyend
    | #{block.super}
    include comments/math