extends base
- load staticfiles
- load cache
- load markdown_trois_tags

block media

block body
    div.post-full
        h2.title= post.title
        div.body
            - cache 86400 post_content post.id
                | #{post.content|markdown:"blog"}
