{% extends "base.jade" %}{%  load staticfiles %}{%  load cache %}{%  load markdown %}{%  load social_share %}{%  load i18n %}{%  load reference %}{% block js_media %}{% include "comments/media-js.jade" %}{% endblock %}{% block media %}{% include "comments/media-css.jade" %}{% endblock %}{% block header %}{% if  perms.judge.change_blogpost %}
<div class="title-line-action">[<a href="{% url "admin:judge_blogpost_change" post.id %}">{% trans "Edit" %}</a>]
</div>{% endif %}{% endblock %}
{% block body %}
<div class="post-full">
  <div class="time">{%  with authors=post.authors.all %}{% if  authors %}<span class="post-authors">{% include "link-to-user-list.jade" with users=authors %}</span>{{' '|escape}}{% endif %}{% endwith %}<span class="post-time">posted on {{post.publish_on|date:_("N j, Y, G:i")|escape}}</span>
  </div>
  <div class="body content-description">{%  cache 86400 post_content post.id MATH_ENGINE %}{{post.content|with_math:MATH_ENGINE|markdown:"blog"|reference|escape}}{% endcache %}
  </div>
</div>
<hr/><span class="social">{%  post_to_gplus post "<i class=\"fa fa-google-plus-square\"></i>" %}{%  post_to_facebook post "<i class=\"fa fa-facebook-official\"></i>" %}{%  post_to_twitter "{{ SITE_NAME }}:" post "<i class=\"fa fa-twitter\"></i>" %}</span>{% include "comments/list.jade" %}{% endblock %}{% block bodyend %}{{block.super|escape}}
{% if  REQUIRE_JAX %}{% include "mathjax-load.jade" %}{% endif %}{% include "comments/math.jade" %}{% endblock %}