style.
    .user-gravatar {
        display: block;
        padding-right: 15px;
        width: 135px;
    }

    .user-gravatar img {
        width: 135px;
        height: 135px;
        display: block;
        border: 1px solid none;
        border-radius: 6px;
    }
