style.
    .user-gravatar {
        display: inline-block;
        padding-right: 15px;
        width: 135px;
    }

    .recently-attempted {
        display: inline-block;
    }

    .recently-attempted ul {
        list-style: none;
        padding-left: 1em;
        padding-right: .5em;
        margin: 0.2em;
    }

    .user-gravatar img {
        width: 135px;
        height: 135px;
        display: block;
        border: 1px solid none;
        border-radius: 6px;
    }
