- load staticfiles
- load cache
- load markdown_trois_tags
- load timedelta
- load latex_math
- load lazy_load
- load camo_proxy
- load i18n
- load nofollow
- load tz
- load gravatar

.sidebox
    h3 Dashboard #[i.fa.fa-dashboard]
    .sidebox-content
        .user-gravatar: img(src='{% gravatar_url request.user.email 135 request.user.profile.mute %}', alt='gravatar', width="135px", height="135px")
        .recently-attempted
            h4 Recently attempted problems
            ul
                each code, name, problem_points, user_points in recently_attempted_problems
                    li
                        a(href='{% url "problem_detail" code %}') #{name}
                        = ' ('
                        a(href='{% url "user_submissions" code request.user.username %}') #{user_points|floatformat}/#{problem_points}
                        = ')'