extends base
- load staticfiles
- load cache
- load markdown_trois_tags

block media
    style
        .blog-content {
            padding-right:1em;
            border-right:1px solid #CCC;
            width:80%;
            display:inline-block;
        }
        .comment-content {
            position:relative;
            display:inline-block;
            float:right;
            width:18%;
        }
        .comment-content h3 {
            border-bottom:1px dashed #CCC;
        }
        .comment-content ul {
            list-style:none;
            padding-left:1em;
            font-size:120%;
        }
        .comment-content ul li {
            margin-bottom:0.75em;
        }

block body
    block before_posts
    
    div.blog-content
        if page_obj.num_pages > 1
            div(style='margin-bottom:10px;')
                include list_pages
    
        each post in posts
            div(class=('sticky post' if post.sticky else 'post'))
                h2.title
                    a(href='{% url "blog_post" post.id post.slug %}')= post.title
                div.time #{post.publish_on|date:"N j, o, G:i"}
                div.summary
                    - cache 86400 post_summary post.id
                        | #{post.summary|default:post.content|markdown:"blog"}
    
        if page_obj.num_pages > 1
            div(style='margin-bottom:10px;')
                include list_pages
    div.comment-content
        h3 Comment Stream

    block after_posts
