extends base
- load staticfiles
- load cache
- load markdown_trois_tags

block media


block body
    block before_posts
    
    if page_obj.num_pages > 1
        div(style='margin-bottom:10px;')
            include list_pages

    each post in posts
        div.post(class=('sticky' if post.sticky else ''))
            h2.title
                a(href='{% url "blog_post" post.id post.slug %}')= post.title
            div.time #{post.publish_on|date:"N j, o, G:i"}
            div.summary
                - cache 86400 post_summary post.id
                    | #{post.summary|default:post.content|markdown:"blog"}

    if page_obj.num_pages > 1
        div(style='margin-bottom:10px;')
            include list_pages

    block after_posts