<style>
    .user-gravatar {
        display: inline-block;
        padding-right: 15px;
        padding-top: 8px;
        width: 135px;
    }

    .user-gravatar img {
        width: 135px;
        height: 135px;
        display: block;
        border-radius: 6px;
    }

    .recently-attempted, .recommended-problems {
        display: inline-block;
    }

    .recently-attempted ul {
        list-style: none;
        padding-left: 1em;
        padding-right: .5em;
        margin: 0.2em;
    }

    .recently-attempted h4, .recommended-problems h4 {
        font-weight: 500;
    }
</style>