- load markdown_trois_tags
- load smart_math
- load latex_math
- load camo_proxy
- load reference
- load nofollow

| #{preview_data|markdown:"blog"|reference|latex_math|smart_math:"svg"|proxy_images|nofollowexternal}
