- load markdown_trois_tags
- load smart_math
- load latex_math
- load camo_proxy
- load reference
- load nofollow

| #{post.content|markdown:"blog"|reference|latex_math|proxy_images|nofollowexternal}
