extends base
- load staticfiles
block media
    link(rel='stylesheet', href='{% static "content-description.css" %}')
    link(rel='stylesheet', href='{% static "pygment-github.css" %}', type='text/css')
    script(type='text/javascript')
        $(function () {
            fix_div($('.info-float'), 40, true, function (info) {
                return $('<div/>', {id: 'fake-info-float', class: 'info-float'}).css({
                    'width': '11%',
                    'max-width': '12em',
                    'min-width': '7em',
                    'padding-left': '1em',
                    'display': 'table-cell'
                }).prependTo('.info-float');
            });
        });
    style
        .content-body { display: table; }
        .content-container { display: table-row; }
        .content-left { display: table-cell; }
    block content_media
block body
    .content-container
        .content-left
            .content-description.screen
                block description
                hr
            block comments
        .info-float(style='width:11%; max-width:12em; min-width:7em; padding-left:1em; display: table-cell')
            block info_float
block bodyend
    include mathjax_load
