{% load gravatar %}
<li class="comment" id="comment-{{ comment.id }}">
    <div class="comment-box">
        <div style="float:left;">
            <a href="javascript:comment_upvote({{ comment.id }})">+</a><br/>
            <span class="comment-score">{{ comment.score }}</span><br/>
            <a href="javascript:comment_downvote({{ comment.id }})">-</a><br/>
        </div>
        <div class="comment-header">
            <span class="comment-author">
                <!--<img src="{% gravatar_url comment.author.user.email 30 %}" width="30" height="30">-->
                <span class="{% if comment.author.is_admin %}admin{% else %}{% if comment.author.is_problem_setter %}setter{% else %}user{% endif %}{% endif %}">
                    <a href="{% url 'judge.views.user' comment.author.user.username %}">{{ comment.author.user.username }}</a>
               </span>
            </span> on
            <span class="comment-time">{{ comment.time|date:"N j, o, g:i a" }}</span>:
            <span class="comment-title">{{ comment.title }}</span>
            <span class="comment-operation">
                <a href="javascript:comment_set_parent('{{ comment.id }}')">Reply</a>
                {% if perms.judge.change_comment %}
                    <a href="{% url 'admin:judge_comment_change' comment.id %}">Admin</a>
                {% endif %}
            </span>
        </div>
        <div class="comment-body">
            {{ comment.body|linebreaks }}
        </div>
    </div>
    {% with replies=comment.replies.all %}
        {% if replies %}
            <ul class="comments">
                {% for reply in replies %}
                    {% with comment=reply template_name="comment.html" %}
                        {% include template_name %}
                    {% endwith %}
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</li>
