extends base
- load staticfiles
block media
    link(rel='stylesheet', href='{% static "content-description.css" %}')
    link(rel='stylesheet', href='{% static "pygment-github.css" %}', type='text/css')
    script(type='text/javascript')
        $(function () {
            fix_div($('.info-float'), 40);
        });
    style
        .content-body { display: table; width: 100%; }
        .content-container { display: table-row; width: 100%; }
        .content-left { display: table-cell; }
        .content-right {
            display: table-cell;
            width: 11%;
            max-width: 12em;
            min-width: 7em; 
            padding-left: 1em;
        }
        div.info-float { float: none; }
    block content_media
block body
    .content-container
        .content-left
            .content-description.screen
                block description
                hr
            block comments
        .content-right
            .info-float
                block info_float
block bodyend
    include mathjax_load
