extends base
- load staticfiles
block media
    link(rel='stylesheet', href='{% static "content-description.css" %}')
    link(rel='stylesheet', href='{% static "pygment-github.css" %}', type='text/css')
    script(type='text/javascript')
        $(function () {
            var info_float = $('.info-float');
            var container = $('#content-right');
            if (window.bad_browser) {
                container.css('float', 'right');
            } else if (!featureTest('position', 'sticky')) {
                fix_div(info_float, 40);
                $(window).resize(function() {
                    info_float.width(container.width());
                });
                info_float.width(container.width());
            }
        });
    style
        #content-body {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: reverse;
            -webkit-flex-direction: row-reverse;
                -ms-flex-direction: row-reverse;
                    flex-direction: row-reverse;
        }

        #content-left {
            -webkit-box-flex: 86%;
            -webkit-flex: 86%;
                -ms-flex: 86%;
                    flex: 86%;
            width: 100%;
        }

        #content-right {
            -webkit-box-flex: 14%;
            -webkit-flex: 14%;
                -ms-flex: 14%;
                    flex: 14%;
            max-width: 12.5em;
            min-width: 8em;
            padding-left: 1em; 
        }

        #content-right .info-float {
            float: none;
            padding: 10px 0 0 0;
            position: -webkit-sticky;
            position: sticky;
            top: 40px;
        }

        .content-description {
            width: 100%;
        }

    block content_media
block body
    #content-right
        .info-float
            block info_float
    #content-left
        .content-description.screen
            block description
            hr
        block comments
block bodyend
    include mathjax_load
