extends base
- load staticfiles
- load compress

block media
    link(rel='stylesheet', href='{% static "libs/clipboard/tooltip.css" %}')
    block content_media        

block js_media
    - compress js
        script(src='{% static "libs/clipboard/clipboard.js" %}')
        script(src='{% static "libs/clipboard/tooltip.js" %}')
        script(type='text/javascript').
            $(function () {
                var info_float = $('.info-float');
                var container = $('#content-right');
                if (window.bad_browser) {
                    container.css('float', 'right');
                } else if (!featureTest('position', 'sticky')) {
                    fix_div(info_float, 55);
                    $(window).resize(function () {
                        info_float.width(container.width());
                    });
                    info_float.width(container.width());
                }

                var copyButton;
                $('pre code').each(function () {
                    $(this).parent().before($('<div/>', {'class': 'copy-clipboard'})
                            .append(copyButton = $('<span/>', {
                                'class': 'btn-clipboard',
                                'data-clipboard-text': $(this).text(),
                                'title' : 'Click to copy'
                            }).text('Copy')));

                    $(copyButton.get(0)).mouseleave(function(){
                        $(this).attr('class', 'btn-clipboard');
                        $(this).removeAttr('aria-label');
                    })

                    var curClipboard = new Clipboard(copyButton.get(0));

                    curClipboard.on('success', function(e) {
                        e.clearSelection();
                        showTooltip(e.trigger, 'Copied!');
                    });

                    curClipboard.on('error', function(e) {
                        showTooltip(e.trigger, fallbackMessage(e.action));
                    });

                });
            });
    block content_js_media

block body
    #common-content
        #content-right
            .info-float
                block info_float
        #content-left
            .content-description.screen
                block description
                hr
            block comments
block bodyend
    if REQUIRE_JAX
        include mathjax_load
