extends base_users
- load timedelta

block before_point_head
    each problem in problems
        th.points.header= forloop.counter
            div.point-denominator= problem.points

block before_point
    each problem in user.problems
        td(class=problem.state)= problem.points
            .solving-time #{problem.time|timedelta:"simple"}
