extends base_users
- load timedelta

block users_media
    style
        #users-table .rank, .points, .problems, .username {
            white-space: nowrap;
        }
    
        #users-table .username {
            width: 100%
        }
    
        #users-table .header {
            vertical-align: middle;
        }
    
        .rank {
            min-width: 2.5em
        }
    
        .points {
            min-width: 4em;
        }
    
        .full-score {
            font-weight: bold;
            color: green;
        }
    
        .partial-score {
            color: green;
        }
    
        .failed-score {
            font-weight: bold;
            color: red;
        }
    
        .user-points {
            font-weight: bold;
            color: black;
        }
    
        .solving-time {
            color: gray;
            font-weight: normal;
            font-size: 0.75em;
            padding-bottom: -0.75em;
        }
    
        .point-denominator {
            border-top: 1px solid gray;
            font-size: 0.7em;
        }

block before_point_head
    each problem in problems
        th.points.header= forloop.counter
            div.point-denominator= problem.points

block before_point
    each problem in user.problems
        if problem
            td(class=problem.state)= problem.points
                .solving-time #{problem.time|timedelta:"noday"}
        else
            td
