extends base
-load staticfiles
-load mathtag
-load markdown_trois_tags
-load cache
block media
    link(rel='stylesheet', href='{% static "status.css" %}')
    link(rel='stylesheet', href='{% static "content-description.css" %}')
    link(rel='stylesheet', href='{% static "pygment-github.css" %}', type='text/css')
    script(type='text/javascript')
        $(function () {
            fix_div($('.info-float'), 40, true, function (info) {
                return $('<div/>', {id: 'fake-info-float', class: 'info-float'}).css({
                    'width': '11%',
                    'padding-left': '40px'
                }).prependTo('#content-body');
            });
            $('button#join').click(function () {
                window.location.href = '{% url "judge.views.join_contest" contest.key %}';
            });
            $('button#leave').click(function () {
                window.location.reload(true);
            });
        });
block body
    .info-float(style='width:11%;padding-left:40px')
        br
        if not in_contest
            button#join(type='submit') Join contest
        else
            button#leave(type='submit', onclick="return confirm('Are you sure want to leave the contest? You won't be able to get back in.')") Leave contest
        hr

        a(href='{% url "judge.views.contest_ranking" contest.key %}') View rankings
        if perms.judge.change_problem
            br
            a(href='{% url "admin:judge_contest_change" contest.id %}') Edit contest
        hr
        br
        b Time Limit:
        | &nbsp;#{contest.time_limit}
    .content-description
        -cache 3600 contest_html contest.id
            | #{contest.description|markdown:"contest"}
        hr
    .comment-area
        h3 Comments
        include comment_list
block bodyend
    if '<!--math-->' in problem.description
        script(type='text/javascript', src='//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML')
