extends base
- load staticfiles

block body
    br
    table.table
        thead
            tr
                th(style='width:85%') Name
                th Time limit
                th Ongoing
        tbody
            each contest in contests
                tr
                    td
                        a(href='{% url "judge.views.contest" contest.key %}')= contest.name
                    td= contest.time_limit
                    td
                        if contest.can_join
                            img(src='{% static "admin/img/icon-yes.gif" %}')
                        else
                            img(src='{% static "admin/img/icon-no.gif" %}')
