extends base

block body
    form.form-area(action='', method='post')
        -csrf_token
        table(border=0) #{form.as_table}
        hr
        input(type='submit', style="float:right;", value='Update profile')
