<html>
  <head>
    <title>{{code|escape}} - {{id|escape}}</title>
    <style>body {
    color: #FFFFFF;
    background-color: #000080;
    font-family: Lucida Console, serif;
    font-size: 14px;
    font-smooth: never;
    -webkit-font-smoothing: none;
    margin-left: 50px;
    margin-top: 20px;
}

a {
    color: #FFFFFF;
    font-weight: bold
}

pre {
    font-family: Lucida Console, serif;
    line-height: 1.3;
    font-smooth: never;
    -webkit-font-smoothing: none;
    white-space: pre-wrap;
}
    </style>
  </head>
  <body>
    <h2>SIGSEGV: {{id|escape}}</h2>
    <pre>{{description|escape}}
site: fatal signal: Segmentation fault
site died (signal <b>{{code|escape}}</b>, exit -11)<br/><br/>panic: <a href="javascript:history.back()">go back</a>
    </pre>
{% if  request.user.is_superuser and traceback %}
    <pre>{{traceback|escape}}</pre>{% endif %}
  </body>
</html>