extends blog/list

- load evaluate

block before_posts
    if misc_config.home_page_top
        | {% evaluate misc_config.home_page_top %}

block meta
    if misc_config.meta_description
        meta(name='description', content=misc_config['meta_description'])
    script(type='application/ld+json')
        |    {
        |      "@context": "https://schema.org",
        |      "@type": "WebSite",
        |      "url": "//{{ site.domain }}/",
        |      "potentialAction": {
        |        "@type": "SearchAction",
        |        "target": "//{{ site.domain }}/problems/?search={search_term_string}",
        |        "query-input": "required name=search_term_string"
        |      }
        |    }
