extends blog/list

- load evaluate

block before_posts
    if misc_config.home_page_top
        | {% evaluate misc_config.home_page_top %}

block meta
    if misc_config.meta_description
        meta(name='description', content=misc_config['meta_description'])
