{% extends "blog/list.html" %}
{% block before_posts %}
    {% if i18n_config.home_page_top %}
        {{ render_django(i18n_config.home_page_top, request=request, user_count=user_count, problem_count=problem_count, submission_count=submission_count, language_count=language_count, perms=perms) }}
    {% endif %}
{% endblock %}
{% block meta %}
    {% if i18n_config.meta_description %}
        <meta name="description" content="{{ i18n_config['meta_description'] }}">
    {% endif %}
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "WebSite",
            "url": "{{ DMOJ_SCHEME }}://{{ site.domain }}/",
            "potentialAction": {
                "@type": "SearchAction",
                "target": "{{ DMOJ_SCHEME }}://{{ site.domain }}/problems/?search={search_term_string}",
                "query-input": "required name=search_term_string"
            }
        }
    </script>
{% endblock %}
