- load staticfiles
link(rel='stylesheet', href='{% static "libs/clipboard/tooltip.css" %}')
style.
    .runtime-label { position: relative; white-space: nowrap }
    .tooltipped:after { text-align: left }
    td.ping { white-space: nowrap }