extends base

-load static from staticfiles

block media
    script(src='{% static "tablesorter.js" %}', type='text/javascript')
    script(type='text/javascript')
        $(document).ready(function () {
            var table = $("#judge-status");
            table.tablesorter();
            setInterval(function () {
                $.ajax({
                    url: '{% url "judge.views.status_table" %}'
                }).done(function (data) {
                    table.html(data);
                });
            }, 10000);
        });

block body
    p.
        This page shows the live status of DMOJ's judging servers.
    h3 Judges
    hr
    table#judge-status.table
        include judge_status_table
