extends base
- load staticfiles
- load cache
- load markdown_trois_tags

block media
    link(rel='stylesheet', href='{% static "content-description.css" %}')
    script(src='{% static "tablesorter.js" %}', type='text/javascript')
    script(type='text/javascript')
        $(document).ready(function () {
            var table = $("#judge-status");
            table.tablesorter();
            setInterval(function () {
                $.ajax({
                    url: '{% url "runtime_judge_ajax" language.key %}'
                }).done(function (data) {
                    table.html(data);
                });
            }, 10000);
        });
    style.
        .content-description { margin-top: auto; }

block body
    ul
        li
            b Short name:
            = ' '
            = language.short_display_name
        li
            b Category:
            = ' '
            = language.common_name
        li
            b Basic Runtime Info:
            = ' '
            = language.info
    if language.description
        .content-description
            - cache 86400 language_html language.id
                | #{language.description|markdown:"language"}

    h3 Judges
    hr
    table#judge-status.table
        include judge_status_table