extends common-content
- load cache
- load markdown_trois_tags

block description
    - cache 3600 license_html license.id
        | #{license.text|markdown:"license"}

block info_float
    b Source:
    a(href='{{ license.link }}')  #{license.link}
