{% extends "common-content.jade" %}{%  load cache %}{%  load markdown %}{%  load i18n %}{% block description %}{%  cache 3600 license_html license.id %}{{license.text|markdown:"license"|escape}}{% endcache %}{% endblock %}
{% block info_float %}{% if  perms.judge.change_license %}
<div><a href="{% url "admin:judge_license_change" license.id %}">{% trans "Edit" %}</a>
</div>{% endif %}
<div><b>{% trans "Source:" %}</b> <a{{__pyjade_attrs(attrs=[('href',(license.link))])}}>{{license.link|escape}}</a>
</div>{% endblock %}