.pagination
    if page_obj.has_previous
        if page_obj.previous_page_number == 1 and first_page_href != None
            a(href='{{ first_page_href }}') <<
        else
            a(href='{{ page_prefix }}{{ page_obj.previous_page_number }}') <<

    each page in page_obj.page_range
        if not page
            | ...
        else
            if page == 1 and first_page_href != None
                a(class=('active-page' if page == page_obj.number else undefined), href='{{ first_page_href }}')= page
            else
                a(class=('active-page' if page == page_obj.number else undefined), href='{{ page_prefix }}{{ page }}')= page

    if page_obj.has_next
        a(href='{{ page_prefix }}{{ page_obj.next_page_number }}') >>
