script(type='text/javascript')
    var imgs = document.getElementsByClassName('tex-image');
    for (var i = 0; i < imgs.length; ++i) imgs[i].style = 'display: none';
    var txts = document.getElementsByClassName('tex-text');
    for (var i = 0; i < txts.length; ++i) txts[i].style = '';
| <script type='text/x-mathjax-config'>
|   MathJax.Hub.Config({
|     messageStyle: 'none',
|     tex2jax: {
|       inlineMath: [['~', '~'], ['\\(', '\\)']]
|     }
|   });
| </script>
script(type='text/javascript', src='//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML')
