extends common-content
-load staticfiles
-load markdown_trois_tags
-load cache
-load smart_math

block info_float
    if request.user.is_authenticated
        - with profile=request.user.profile
            if not profile.organization_id
                a.unselectable.button.full(href='{% url "judge.views.join_organization" organization.key %}')
                    | Join organization
                hr
            elif profile.organization_id == organization.id
                a.unselectable.button.full(href='{% url "judge.views.leave_organization" organization.key %}')
                    | Leave organization
                hr
    a(href='{% url "judge.views.organization_users" organization.key %}') View members
        
block description
    -cache 3600 organization_html organization.id
        | #{organization.about|markdown:"organization-about"|smart_math}
