extends base
-load staticfiles

block media
    | #{form.media}

    | <script type='text/javascript'>
    | $(function () {
    |     var modes = {
    each lang in langs
        |      "#{lang.id}": "#{lang.ace|escapejs}",
    |     };
    |     $('#id_language').change(function () {
    |         var lang = $("#id_language").find("option:selected").attr('value');
    |         window.ace_source.getSession().setMode("ace/mode/" + modes[lang]);
    |     });
    |     $('#ace_source').on('ace_load', function (e, editor) {
    |         var source = $('textarea#id_source');
    |         if (source.val() == '') {
    |             var problem = $('#id_problem').find('option:selected').attr('value');
    |             var code = localStorage.getItem('submit:' + problem);
    |             if (code) {
    |                 source.val(code);
    |                 editor.getSession().setValue(code);
    |             }
    |         }
    |     });
    | });
    | </script>

block body
    form#problem_submit.form-area(action='', method='post')
        -csrf_token
        table(border=0) #{form.as_table}
        input(type='submit', value='Submit!')