{% extends "base.html" %}
{% block body %}
<div class="table">
        <table>
            <tr>
                <th style="width:100%">Problem</th>
                <th style="white-space:nowrap">Category</th>
                <th style="white-space:nowrap">Code</th>
                <th style="white-space:nowrap">Points</th>
                <th style="white-space:nowrap">Users</th>
            </tr>
            {% for problem in problems %}
            <tr>
                <td><a href="{% url "judge.views.problem" problem.code %}">{{ problem.name }}</a></td>
                <td>{{ problem.types_list|join:"<br>" }}</td>
                <td>{{ problem.code }}</td>
                <td>{{ problem.points }}{% if problem.partial %}p{% endif %}</td>
                <td>0</td>
            </tr>
            {% endfor %}
        </table>
</div>
{% endblock %}
