{% extends "base.html" %}
{% load static from staticfiles %}
{% block css %}
    <link rel="stylesheet" href="{% static "status.css" %}">
{% endblock %}
{% block body %}
<a href="{% url 'judge.views.problem_submit' problem.code %}">Submit</a>
<br/>
<a href="{% url 'judge.views.chronological_submissions' problem.code %}">All submissions</a>
<br/>
<a href="{% url 'judge.views.ranked_submissions' problem.code %}">Best submissions</a>
<br/>
{% include "results_table.html" %}
{{ problem.description|safe }}
{% endblock %}