{% extends "base.html" %}
{% block body %}
<div class="fancy">
        <table>
            <tr>
                <th style="white-space:nowrap">Problem</th>
                <th style="width:100%">Category</th>
                <th style="white-space:nowrap">Points</th>
            </tr>
            {% for problem in problems %}
            <tr>
                <td><a href="{% url "judge.views.problem" problem.code %}">{{ problem.name }}</a></td>
                <td>{{ problem.types_list|join:"<br>" }}</td>
                <td>{{ problem.points }}{% if problem.partial %}p{% endif %}</td>
            </tr>
            {% endfor %}
        </table>
</div>
{% endblock %}
