{% extends "base.html" %}
{% load static from staticfiles %}
{% load mathtag %}
{% block css %}
    <link rel="stylesheet" href="{% static "status.css" %}">
{% endblock %}
{% block body %}
    <div class="info-float" style="width:11%;padding-left:40px">
        <a href="{% url 'judge.views.problem_submit' problem.code %}">Submit</a>
        <br/>
        <a href="{% url 'judge.views.chronological_submissions' problem.code %}">All submissions</a>
        <br/>
        <a href="{% url 'judge.views.ranked_submissions' problem.code %}">Best submissions</a>
        {% if perms.judge.change_problem %}
            <hr/>
            <a href="{% url 'admin:judge_problem_change' problem.id %}">Edit problem</a>
            <br/>
            <hr/>
        {% else %}
            <hr/>
            <br/>
            <br/>
            <br/>
        {% endif %}
        <br/>
        <b>Points: </b> {{ problem.points }} {% if problem.partial %} (partial){% endif %}
        <br/>
        <b>Time Limit: </b> {{ problem.time_limit }}s
        <br/>
        <b>Memory Limit: </b>
        {% with memory=problem.memory_limit %}
            {% if memory < 1000 %}
                {{ memory|floatformat:"-2" }}K
            {% else %}
                {% math memory "$1 / 1024" as megabytes %}
                {{ megabytes|floatformat:"-2" }}M
            {% endif %}
        {% endwith %}
        <br/>
        <br/>
        <b>Problem type(s): </b>
        <br/>
        {{ problem.types_list|join:", " }}
        <br/>
        <br/>
        <b>Languages allowed: </b>
        <br/>
        {{ problem.languages_list|join:", " }}
        <br/>
    </div>
    <div class="problem-description">
        {{ problem.description|safe }}
    </div>
    <div class="comment-area">
        <h3>Comments</h3>
        {% include 'comment_list.html' %}
    </div>
{% endblock %}
