div.table
    h3 Statistics
    hr
    table
        for k, v in results
            tr(class='#{k.1}')
                td(style='font-weight:bold;text-align:left') #{k.0}
                td(style='color:black') #{v}