each name, versions in lang.runtime_versions
    if versions
        if versions[0] == versions[-1]
            | #{versions[0]} - #{versions[-1]}
        else
            | #{versions[0]}
    else
        = name
    if not forloop.last
        = ', '