extends base
- load markdown_trois_tags
- load staticfiles
- load smart_math

block media
    link(rel='stylesheet', href='{% static "pygment-github.css" %}', type='text/css')
    include comments/media

block site_title
    span(style='color: #FFDE05') DM::
    span(style='color: #AAA') Solutions

block title
    | #{solution.title} - Don Mills Online Judge

block content_title
    | #{solution.title}
    if perms.judge.change_solution
        div(style='float:right')
            | [
            a(href='{% url "admin:judge_solution_change" solution.id %}') Edit
            | ]

block body
    .content-description
        | #{solution.content|markdown:"trusted"|smart_math}

    include comments/list

block bodyend
    include mathjax_load
    include comments/math
