- load markdown
- load smart_math
- load staticfiles
- load reference

| #{preview_data|markdown:"solution"|reference|smart_math:MATH_ENGINE}

if REQUIRE_JAX
    div.require-mathjax-support(data-config='{% static "mathjax_config.js" %}')
