- load static from staticfiles
- load mathtag
- load admin_urls
- load variables
if submission.status == 'IE' or submission.status == 'CE'
    - setvar '{{ submission.status }}' as submission_class
else
    - setvar '{{ submission.result }}' as submission_class
td(class='{{ submission_class }}', style='width:10%')
    span.score
        if not submission.is_graded
            img(src='{% static "loading.gif" %}', alt='Grading...', height='20px')
        else
            span(style='font-size:1.3em;color:black')
                if submission.status == 'IE' or submission.status == 'CE' or submission.status == 'AB'
                    | ---
                else
                    | {{ submission.points|default_if_none:0|floatformat:"-2" }} /
                    | {{ submission.problem.points|floatformat:"0" }}
    br
    span(style='font-size:0.7em;font-weight:bold')
        span.status {{ submission.result|default_if_none:submission.status }}</span>
        | |
        span.language {{ submission.language.key }}
td(style='width:90%;text-align:left;padding-left:20px')
    if show_problem
        span(style='font-size:1.3em;font-weight:bold')
            a(href='{% url "judge.views.problem" submission.problem.code %}') {{ submission.problem.name }}
        br
    span(class='{% if submission.user.is_admin %}admin{% else %}{% if submission.user.is_problem_setter %}setter{% else %}user{% endif %}{% endif %}')
        a(href='{% url "judge.views.user" submission.user.user.username %}') {{ submission.user.user.username }}
    span(style="color:#555") on {{ submission.date|date:"N j, o, g:i a" }}
td(style='white-space:nowrap')
    if request.user.is_authenticated
        if request.user.profile == submission.user or request.user.profile.is_admin or submission.problem.code in completed_problem_codes %}
            a(href='{% url "judge.views.submission_source" submission.id %}') view
            | |
            a(href='{% url "judge.views.submission_status" submission.id %}') detail
    if perms.judge.change_submission
        | |
        a(href='{% url "admin:judge_submission_change" submission.id %}') admin
td(style='white-space:nowrap')
    if submission.status != 'QU' and submission.status != 'G' and submission.status != 'CE' and submission.status != 'IE' and submission.status != 'AB'
        span.time(style='font-weight: bold')
            if "TLE" != submission.result
                | {{ submission.time|default_if_none:0|floatformat:"2" }}s
            else
                | ---
        br
        span.memory
            - with memory=submission.memory|default_if_none:0
                if memory < 1000
                    | {{ memory|floatformat:"-2" }} K
                else
                    - math memory "$1 / 1024" as megabytes
                    | {{ megabytes|floatformat:"-2" }} M
    else
        span.time(style='font-weight: bold') ---
        span.memory ---

