{% extends "base.html" %}
{% block body %}
<table>
    <tr>
        <th style="white-space:nowrap">Score</th>
        <th style="width:100%">Details</th>
        <th style="white-space:nowrap">Execution</th>
    </tr>
    {% for submission in submissions %}
    <tr>
        <td>{{ submission.points }} / {{ submission.problem.points }} ({{ submission.status }})</td>
        <td><a href="{% url "judge.views.user" submission.user.username %}">{{ submission.user.long_display_name }}</a></td>
        <td>Time: {{ submission.time }}s<br/>
            Memory: {{ submission.memory }}kb</td>
        <td>0</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
