{% extends "base.html" %}
{% load static from staticfiles %}
{% block css %}
    <script src="{% static 'simple-comet.min.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            SimpleComet.subscribe("{{ SIMPLE_COMET_URL }}channels/sub_{{ submission.id }}.jsonp", function (message) {
                alert(message);
            });
        });
    </script>
{% endblock %}
{% block body %}
Submitted on {{ submission.time }}
<br/>
{% if request.user == submission.user.user %}
<a href="{% url 'judge.views.problem_submit' submission.problem.code %}">Click here to revise and resubmit!</a>
<br/>
{% endif %}
<b>Test case status</b>
<br/>
Status: {{ submission.status }}
<br/>
Score: {{ submission.points }} / {{ submission.problem.points }}
{% endblock %}
