<div class="pagination">
    {% if submissions.has_previous %}
        <a href="{{ submissions.previous_page_number }}">&lt;&lt;</a>
    {% endif %}

    {% for page in submissions.page_range %}
       {% if not page %} ...
       {% else %}<a href="{{ page }}"{% if page == submissions.number %} class="active-page"{% endif %}>{{ page }}</a>
       {% endif %}
    {% endfor %}

    {% if submissions.has_next %}
        <a href="{{ submissions.next_page_number }}">&gt;&gt;</a>
    {% endif %}
</div>