{% extends "base.html" %}
{% load static from staticfiles %}
{% block css %}
<link rel="stylesheet" href="{% static "status.css" %}">
{% endblock %}
{% block body %}
{% include "results_table.html" %}
<div class="table" style="width:75%;border:0px;">
    <table>
        {% for submission in submissions %}
        <tr>
            <td style="width:10%" class="{{ submission.result }}">{{ submission.points|default_if_none:0|floatformat:"-2" }} / {{ submission.problem.points|floatformat:"0" }}<br/>{{ submission.result|default_if_none:submission.status }} | {{ submission.language.key }}</td>
            <td style="width:90%">{% if show_problem %}<a href="{% url 'judge.views.problem' submission.problem.code %}">{{ submission.problem.name }}</a> by {% endif %}
                <a href="{% url 'judge.views.user' submission.user.user.username %}">{{ submission.user.long_display_name }}</a><br/>
            {{ submission.date }}</td>
            {% if can_see_results %}
            <td style="white-space:nowrap"><a href="{% url 'judge.views.submission_status' submission.id %}">View</a></td>
            {% endif %}
            <td style="white-space:nowrap"><b>{{ submission.time|default_if_none:0|floatformat:"2" }}s</b><br/>
                {{ submission.memory|default_if_none:0 }} KB
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
<div class="pagination">
    <span class="step-links">
        {% if submissions.has_previous %}
            <a href="{{ submissions.previous_page_number }}">&lt;&lt; Previous</a>
        {% endif %}

        <span class="current">
            Page {{ submissions.number }} of {{ submissions.paginator.num_pages }}.
        </span>

        {% if submissions.has_next %}
            <a href="{{ submissions.next_page_number }}">Next &gt;&gt;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
