{% extends "base.html" %}
{% load static from staticfiles %}
{% block css %}
    <script src="{% static 'simple-comet.js' %}" type="text/javascript"></script>
    <script src="{% static 'common.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            function on_receive(message) {
                var packet = message.split(" ");
                var node = null;
                switch (packet[0]) {
                    case "test-case":
                        node = document.createTextNode("Test case #{0}: {1} [{2}s, {3}kb] ({4}/{5})".format(packet[1], packet[2], packet[3], packet[4], packet[5], packet[6]));
                        break;
                    case "grading-end":
                        list.appendChild(document.createElement("br"));
                        list.appendChild(document.createElement("br"));
                        node = document.createTextNode("Final score: {0}/{1}".format(packet[3], packet[4]));
                        break;
                    default:
                        return;
                }
                var list = document.getElementById("test-cases");
                list.appendChild(node);
                list.appendChild(document.createElement("br"));
            }

            SimpleComet.subscribe("{{ SIMPLE_COMET_URL }}channels/sub_{{ submission.id }}.jsonp", function (resp) {
                var messages = resp['messages']['sub_{{ submission.id }}'];
                for (var i = 0; i < messages.length; ++i) {
                    on_receive(messages[i].content);
                }
            });
            SimpleComet.start();
        });
    </script>
{% endblock %}
{% block body %}
    Submitted on {{ submission.date }}
    <br/>
    {% if request.user == submission.user.user %}
        <a href="{% url 'judge.views.problem_submit' submission.problem.code %}">Click here to revise and resubmit!</a>
        <br/>
    {% endif %}
    <br/>
    <br/>
    <h3>Execution Results</h3>
    <br/>
    <div id="test-cases"></div>
{% endblock %}
