extends base

- load static from staticfiles
- load strings

block media
    link(rel='stylesheet', href='{% static "pygment-github.css" %}', type='text/css')
    style
        .submission-info {
            text-align: right;
            float: right;
        }
    
        .submission-info .submission-date {
            color: gray;
        }

        .source-ln {
            color: gray;
            border-right: 1px solid gray;
            padding-right: 5px;
            text-align: right;
        }

        pre {
            margin: 0;
            padding: 0;
        }

        .source-code {
            padding-left: 15px;
        }

        .source-wrap {
            overflow-x: auto;
        }

block header
    span.submission-info
        span.submission-date
            | #{submission.date|date:"N j, o, g:i a"}
        br
        | #{submission.language}

block body
    a(href='{% url "judge.views.submission_status" submission.id %}') View status
    br
    if request.user == submission.user.user
        a(href='{% url "judge.views.problem_submit" submission.problem.code submission.id %}') Resubmit
        br
    hr(style='float:left;width:30%')
    br
    .source-wrap
        table
            tr
                td.source-ln
                    div
                        for line in raw_source|split
                            pre #{forloop.counter}
                td.source-code #{highlighted_source}
