{% extends "base.html" %}
{% load static from staticfiles %}
{% block css %}
    <script src="{% static 'common.js' %}" type="text/javascript"></script>
    {% if not submission.is_graded %}
        <script type="text/javascript">
            $(function () {
                var socket = new WebSocket("{{ EVENT_DAEMON_LOCATION }}");

                socket.onopen = function (event) {
                    socket.send(JSON.stringify({
                        command: 'start-msg',
                        start: {{ last_msg }}
                    }));
                    socket.send(JSON.stringify({
                        command: 'set-filter',
                        filter: ['sub_' + {{ submission.id }}]
                    }));
                };

                socket.onmessage = function (event) {
                    var data = JSON.parse(event.data);
                    var list = $("#test-cases");
                    switch (data.message.type) {
                        case 'test-case':
                            list.append('<b>Test case #{0}:</b> {1} [{2}s, {3}kb] ({4}/{5})<br/>'.format(
                                    data.message.id, data.message.status, data.message.time,
                                    data.message.memory, data.message.points, data.message.total));
                            break;
                        case "grading-begin":
                            break;
                        case "grading-end":
                            list.append("<br/><br/><b>Final score:</b> {0}/{1}<br/>".format(
                                    data.message.points, data.message.total
                            ));
			                $("#abort-button").remove();
                            $("#grading-label").remove();
                            break;
                        case "compile-error":
                            $("#execution-title").append("<h3>Compilation Error</h3>");
                            list.append(data.message.log.replace("\n", "<br/>"));
			                $("#abort-button").remove();
                            $("#grading-label").remove();
                            break;
                    }
                };
            });
        </script>
    {% endif %}
{% endblock %}
{% block body %}
    Submitted on {{ submission.date }}
    <br/>
    <b>Language: </b> {{ submission.language }}
    <br/>
    <b>Problem: </b> <a href="{% url 'judge.views.problem' submission.problem.code %}">{{ submission.problem.name }}</a>
    <br/>
    {% if request.user == submission.user.user %}
        <a href="{% url 'judge.views.problem_submit' submission.problem.code submission.id %}">Click here to revise and
            resubmit!</a>
        <br/>
    {% endif %}
    <br/>
    <div id="execution-title">
        {% if submission.is_graded %}

        {% endif %}
    </div>
    <h3>Execution Results</h3>
    <br/>

    <div id="test-cases">
        {% if submission.is_graded %}
            {% for case in test_cases %}
                <b>Test case #{{ forloop.counter }}:</b> {{ case.status }} [{{ case.time|floatformat:"3" }}s,
                {{ case.memory }}kb] ({{ case.points }}/{{ case.total }})<br/>
            {% endfor %}
            <br/><br/>
            {% if submission.result != "AB" %}
                <b>Final score:</b> {{ submission.points }}/{{ submission.problem.points }}
            {% else %}
                <b>Submission aborted!</b>
            {% endif %}
        {% endif %}
        <br/>
    </div>
    {% if not submission.is_graded %}
        <br/>
        {% if request.user == submission.user.user or submission.user.is_admin %}
            <div id="abort-button">
                <form action="{% url 'judge.views.abort_submission' submission.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Abort"/>
                </form>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
