{% extends "base.html" %}
{% load static from staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static "status.css" %}">
    <script src="{% static 'common.js' %}" type="text/javascript"></script>
    <script src="{% static 'event.js' %}" type="text/javascript"></script>
    {% if dynamic_update %}
        <script type="text/javascript">
            $(function () {
                var table = $('#submissions-table');
                var receiver = new EventReceiver(
                    "{{ EVENT_DAEMON_LOCATION }}", "{{ EVENT_DAEMON_POLL_LOCATION }}",
                    ['submissions'], {{ last_msg }}, function (message) {
                        if (message.type == 'update-submission') {
                            var id = message.id;
                            var cell = table.find('tr#' + id);
                            if (cell.length < 1) {
                                table.prepend('<tr id="{0}"></tr>'.format(id));
                                cell = table.find('tr#' + id);
                            }
                            $.ajax({
                                url: '{% url 'judge.views.single_submission_query' %}',
                                data: {id: id}
                            }).done(function (data) {
                                cell.html(data);
                            }).fail(function (data) {
                                console.log('Failed to update submission: ' + id);
                            });
                        }
                    }
                );
            });
        </script>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="info-float" style="width:20%">
        {% include "results_table.html" %}
    </div>
    <div style="margin-bottom:10px;">
    	{% include "submissions_pages.html" %}
    </div>
    <div class="table" style="width:75%;border:0px;">
        <table id="submissions-table">
            {% for submission in submissions %}
                <tr id="{{ submission.id }}">
                    {% include "submission_row.html" %}
                </tr>
            {% endfor %}
        </table>
    </div>
    <div style="margin-top:10px;">
    	{% include "submissions_pages.html" %}
    </div>
{% endblock %}
