extends base
-load staticfiles

block media
    link(rel='stylesheet', href='{% static "status.css" %}')
    script(type='text/javascript', src='{% static "common.js" %}')
    script(type='text/javascript', src='{% static "event.js" %}')
    style
        #submissions-table {
            width: 75%;
            border: 0;
            margin-left: 0
        }

    if dynamic_update
        script(type='text/javascript')
            $(function () {
                var table = $('#submissions-table');
                var receiver = new EventReceiver(
                        "{{ EVENT_DAEMON_LOCATION }}", "{{ EVENT_DAEMON_POLL_LOCATION }}",
                        ['submissions'], {{ last_msg }}, function (message) {
                            if (message.type == 'update-submission') {
                                var id = message.id;
                                var cell = table.find('tr#' + id);
                                if (cell.length < 1) {
                                    table.prepend('<tr id="{0}"></tr>'.format(id));
                                    cell = table.find('tr#' + id);
                                }
                                $.ajax({
                                    url: '{% url "judge.views.single_submission_query" %}',
                                    data: {id: id}
                                }).done(function (data) {
                                    cell.html(data);
                                }).fail(function (data) {
                                    console.log('Failed to update submission: ' + id);
                                });
                            }
                        }
                );
            });

block body
    .info-float(style='width:20%')
        include results_table
    div(style='margin-bottom:10px;')
        include submissions_pages

    table#submissions-table.table
        for submission in submissions
            tr(id=submission.id)
                include submission_row.html

    div(style='margin-top:10px;')
        include submissions_pages