{% extends "base.html" %}
{% load static from staticfiles %}
{% block css %}
<link rel="stylesheet" href="{% static "status.css" %}">
{% endblock %}
{% block body %}
{% include "results_table.html" %}
<div class="table" style="width:75%;border:0px;">
    <table>
        {% for submission in submissions %}
        <tr>
            <td style="width:10%" class="{{ submission.result }}">{{ submission.points|floatformat:"-2" }} / {{ submission.problem.points|floatformat:"0" }}<br/>{{ submission.result }} | {{ submission.language.key }}</td>
            <td style="width:90%"><a href="{% url 'judge.views.problem' submission.problem.code %}">{{ submission.problem.name }}</a> by
                <a href="{% url 'judge.views.user' submission.user.user.username %}">{{ submission.user.long_display_name }}</a><br/>
            {{ submission.date }}</td>
            {% if can_see_results %}
            <td style="white-space:nowrap"><a href="{% url 'judge.views.submission_status' submission.id %}">View</a></td>
            {% endif %}
            <td style="white-space:nowrap"><b>{{ submission.time|floatformat:"2" }}s</b><br/>
                {{ submission.memory }}kb
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
