extends base
-load staticfiles

block media
    script(type='text/javascript', src='{% static "common.js" %}')
    script(type='text/javascript', src='{% static "event.js" %}')
    style
        .batch-cases {
            margin:0;
            padding-left:1.5em;
            padding-bottom:3px;
            padding-top:3px;
            border: 1px solid #BBB;
            border-left-width: .5em;
            border-radius:4px;
            color:#222
        }
        .submission-info {
            text-align:right;
            float: right;
        }
        .submission-info .submission-date {
            color: gray;
        }
    if not submission.is_graded
        script(type='text/javascript')
            $(function () {
                var receiver = new EventReceiver(
                    "{{ EVENT_DAEMON_LOCATION }}", "{{ EVENT_DAEMON_POLL_LOCATION }}",
                    ['sub_{{ submission.id }}'], {{ last_msg }}, function (message) {
                        var list = $('#test-cases');
                        switch (message.type) {                                                                          
                            case 'grading-end':
                               $('#abort-button').remove();
                               $('#grading-label').remove();
                            case 'test-case':
                            case 'grading-begin':
                            case 'compile-error':
                                $.ajax({
                                    url: '{% url "judge.views.submission_testcases_query" %}',
                                    data: {id: '{{ submission.id }}'}
                                }).done(function (data) {
                                    list.html(data);
                                }).fail(function (data) {
                                    console.log('Failed to update testcases!');
                                });
                                break;
                        }
                    }
                );
            });

block header
    span.submission-info
        span.submission-date
            | #{submission.date|date:"N j, o, g:i a"}
        br
        | #{submission.language}

block body
    a(href='{% url "judge.views.submission_source" submission.id %}') View source
    br
    if request.user == submission.user.user
        a(href='{% url "judge.views.problem_submit" submission.problem.code submission.id %}') Resubmit
        br
    hr
    br
    h3 Execution Results
    br
    
    #test-cases
        include submission_testcases
    
    if not submission.is_graded
        if request.user == submission.user.user or submission.user.is_admin
            #abort-button
                br
                form(action='{% url "judge.views.abort_submission" submission.id %}', method='post')
                    -csrf_token
                    input(type='submit', value='Abort')
            
