{% macro make_tab(name, fa, url, text) %}
    <li class="tab{% if tab == name %} active{% endif %}">
        {%- if url %}<a href="{{ url }}">{% else %}<span>{% endif -%}
        <i class="tab-icon fa {{ fa }}"></i> {{ text }}
        {%- if url %}</a>{% else %}</span>{% endif -%}
    </li>
{% endmacro %}

<div class="page-title">
    <div class="tabs">
        <h2>{{ content_title or title }}</h2>
        <span class="spacer"></span>
        {% block post_tab_spacer %}{% endblock %}
        <ul>
            {% block tabs %}{% endblock %}
        </ul>
    </div>
</div>