{% extends "base.html" %}
{% load gravatar %}
{% block header %}
    {% if user.user == request.user %}
        <a style="float:right;padding-top:1em;" href="{% url 'judge.views.edit_profile' %}">Edit profile</a>
    {% endif %}
{% endblock %}
{% block body %}
    {% if user.name %}
        <img src="{% gravatar_url user.user.email %}"><b></b> {{ user.name }}
        <br/>
        <br/>
    {% endif %}
    <h4>{{ user.problems }} problems solved.</h4>
    <br/>
    <b>Total points: </b>{{ user.calculate_points }}
    <br/>
    <ul>
        {% for entry in best_submissions %}
            <li><a href="{% url 'judge.views.problem' entry.problem__code %}">{{ entry.problem__name }}</a>
                ({{ entry.points }} / {{ entry.problem__points }})
            </li>
        {% endfor %}
    </ul>
{% endblock %}
