extends base_users

- load staticfiles

block users_media
    script(src='{% static "tablesorter.js" %}' type='text/javascript')
    script(type='text/javascript')
        $(document).ready(function () {
            $("#users-table").tablesorter({ sortList: [[2, 1]] });
        });

block after_point_head
    th.problems Problems

block after_point
    td #{user.problems}
