{% extends "admin/change_form.html" %}
{% load i18n %}

{% block extrahead %}{{ block.super }}
    <script>
        django.jQuery(function ($) {
            $('.rejudgelink').appendTo('div#bottombar').show();
        });
    </script>
{% endblock extrahead %}

{% block after_field_sets %}{{ block.super }}
    {% if original and not original.is_locked %}
        <a style="display: none" title="{% trans "Rejudge" %}" href="{% url 'admin:judge_submission_rejudge' original.pk %}"
           class="button rejudgelink">
            <i class="fa fa-lg fa-refresh"></i>
            <span class="text">{% trans "Rejudge" %}</span>
        </a>
    {% endif %}
{% endblock %}