{% extends "base.jade" %}{%  load i18n %}{% block media %}
<style>th { text-align: left }

</style>{% endblock %}
{% block body %}
<table>
  <tr>
    <th>{% trans "User:" %}</th>{%  with user=object.user %}
    <td{{__pyjade_attrs(attrs=[('class', ((user.display_rank)))])}}><a href="{% url "user_page" user.user.username %}">{{user.long_display_name|escape}}</a>
    </td>{% endwith %}
  </tr>
  <tr>
    <th>{% trans "Organization:" %}</th>
    <td>{%  with org=object.organization %}<a href="{% url "organization_home" org.key %}">{{org.name|escape}}</a>{% endwith %}
    </td>
  </tr>
  <tr>
    <th>{% trans "Time:" %}</th>
    <td>{{object.time|date:_("N j, Y, g:i a")|escape}}</td>
  </tr>
  <tr>
    <th colspan="2">{% trans "Reason:" %}</th>
  </tr>
  <tr>
    <td colspan="2" style="padding-left: 2em">{{object.reason|escape}}</td>
  </tr>
</table>{% endblock %}