{% extends "base.html" %}

{% block js_media %}
    <script type="text/javascript">
        $(function () {
            $('#id_reason').keydown(function (e) {
                if (e.ctrlKey && (e.keyCode === 13 || e.keyCode === 10)) {
                    $(this).closest('form').submit();
                }
            });
        });
    </script>
{% endblock %}

{% block body %}
    <form action="" method="post" class="form-area">
        {% csrf_token %}
        {% if form.show_classes %}
            {% if form.class_.errors %}
                <div class="alert alert-danger">
                    {{ form.class_.errors }}
                </div>
            {% endif %}
            <p><label for="{{ form.class_.id_for_label }}"><b>{{ _('Select your class:') }}</b></label></p>
            <p>{{ form.class_ }}</p>
        {% endif %}
        <p><label for="{{ form.reason.id_for_label }}"><b>{{ _('Your reason for joining:') }}</b></label></p>
        <p>{{ form.reason }}</p>
        <button type="submit">{{ _('Request!') }}</button>
    </form>
{% endblock %}
