extends base
- load i18n

block body
    form.form-area(action='', method='post')
        - csrf_token
        p
            label(for='{{ form.reason.id_for_label }}')
                b {% trans "Your reason for joining:" %}
        p #{form.reason}
        button(type='submit') {% trans "Request" %}
