ul.tabs
    li(class=('active' if tab == 'pending' else ''))
        a(href='{% url "organization_requests_pending" object.key %}') Pending
    li(class=('active' if tab == 'log' else ''))
        a(href='{% url "organization_requests_log" object.key %}') Log
    li(class=('active' if tab == 'approved' else ''))
        a(href='{% url "organization_requests_approved" object.key %}') Approved
    li(class=('active' if tab == 'rejected' else ''))
        a(href='{% url "organization_requests_rejected" object.key %}') Rejected
