- load markdown_trois_tags
- load camo_proxy
- load lazy_load
- load smart_math
- load rating
- load reference

| #{comment.body|markdown:"comment"|reference|smart_math:MATH_ENGINE|proxy_images|lazy_load}
