extends base
- load media_extract
- load compress

block media
    - compress css
        | #{form.media|media_type:"css"}

block js_media
    | #{form.media|media_type:"js"}

block body
    .form-area
        include comments/edit_ajax