<div class="comment-submit">
    <form id="comment-edit" action="{{ request.get_full_path() }}" method="post">
        <span style="display: none" class="comment-id">{{ comment.id }}</span>
        <span style="display: none" class="read-back">{{ url('comment_content', comment.id) }}</span>
        {% csrf_token %}
        {% if form.non_field_errors() or form.body.errors %}
            <div class="form-errors">
                {{ form.non_field_errors() }}
                {{ form.body.errors }}
            </div>
        {% endif %}
        <div class="comment-post-wrapper">
            <div id="comment-form-body">{{ form.body }}</div>
        </div>
        <hr>
        <input style="float: right" type="submit" value="{{ _('Post!') }}" class="button">
    </form>
</div>
