- load markdown_trois_tags

if not title
    h2 Revisions for {{ comment.title }}
    hr
span.comment-author Author:
    = ' '
    - with author=comment.author
        span(class='{{ author.display_rank }}')
            a(href='{% url "user_page" author.user.username %}')= author.long_display_name
each version in revisions
    table.comment-revision(id='revision-{{ forloop.counter }}')
        tr
            th Date:
            td.revision-date #{version.revision.date_created|date:"N j, o, g:i a"}
        tr
            td.revision-text(colspan=2) #{version.field_dict.body|markdown:"comment"}
    if not forloop.last
        hr