- load media_extract
- load compress

- compress js
    script(src=FEATHERLIGHT_JS, type='text/javascript', charset='utf-8')
    | #{comment_form.media|media_type:"js"}
- compress css
    link(href=FEATHERLIGHT_CSS, type='text/css', rel='stylesheet')
    | #{comment_form.media|media_type:"css"}
    style.
        .featherlight {
            z-index: 1000;
        }

        .revision-text p:first-child { margin-top: 0; }
        .revision-text p:last-child { margin-bottom: 0; }
        .comment-author { margin-bottom: 1em }
        .featherlight-edit .featherlight-content {
            background: #FAFAFA;
            padding: 10px 15px 10px 10px;
            border-radius: 10px;
            border: 1px solid #CCC;
        }

        .comment-author img {
            width: 1.25em;
            height: 1.25em;
            border-radius: 0.2em;
            vertical-align: bottom;
            margin-right: 0.3em;
        }
