link(href='//cdn.rawgit.com/noelboss/featherlight/1.2.2/release/featherlight.min.css', type='text/css', rel='stylesheet')
script(src='//cdn.rawgit.com/noelboss/featherlight/1.2.2/release/featherlight.min.js', type='text/javascript', charset='utf-8')
style.
    .featherlight {
        z-index: 1000;
    }

    .revision-text p:first-child { margin-top: 0; }
    .revision-text p:last-child { margin-bottom: 0; }
    .comment-author { margin-bottom: 1em }
    .featherlight-edit .featherlight-content {
        background: #FAFAFA;
        padding: 10px 15px 10px 10px;
        border-radius: 10px;
        border: 1px solid #CCC;
    }

    .comment-author img {
        width: 1.25em;
        height: 1.25em;
        border-radius: 0.2em;
        vertical-align: bottom;
        margin-right: 0.3em;
    }
| #{comment_form.media}