link(href='//cdn.rawgit.com/noelboss/featherlight/1.2.2/release/featherlight.min.css', type='text/css', rel='stylesheet')
script(src='//cdn.rawgit.com/noelboss/featherlight/1.2.2/release/featherlight.min.js', type='text/javascript', charset='utf-8')
style.
    .featherlight {
        z-index: 1000;
    }