{% compress css %}
    {{ comment_form.media.css }}
    <style media="all">
        .featherlight {
            z-index: 1000;
        }

        .revision-text p:first-child {
            margin-top: 0;
        }

        .revision-text p:last-child {
            margin-bottom: 0;
        }

        .featherlight-edit .featherlight-content {
            background: #FAFAFA;
            padding: 10px 15px 10px 10px;
            border-radius: 10px;
            border: 1px solid #CCC;
        }

        .new-comments .comment-display {
            display: flex;
            margin-top: -0.25em !important;
            padding-left: 1em;
            padding-top: 0.5em !important;
            border: 1px solid #ccc;
            background: #fafafa;
        }

        .new-comments .comment .detail {
            margin: 0px 15px 0px;
            width: 100%;
        }

        .new-comments .comment-edits {
            padding-right: 0.75em;
        }

        .new-comments .comment .detail .header {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 2px 0px;
            font-weight: normal;
            border-bottom: 1px #888 solid;
            color: #888;
            text-align: right;
        }

        .previous-revision, .next-revision {
            color: #444;
        }

        .new-comments .header i {
            color: #888 !important;
        }

        .new-comments .info {
            padding-top: 0.4em;
            display: flex;
        }

        .new-comments .gravatar {
            width: 75px;
            max-width: 75px;
        }

        .new-comments .gravatar-mobile {
            display: none;
        }

        .new-comments .gravatar-main {
            display: unset;
        }

        .new-comments .vote {
            margin-right: 1em;
            height: 75px;
            padding-top: 0.4em;
        }

        @media (max-width: 760px) {
            .new-comments .gravatar {
                width: 10px;
                max-width: 10px;
            }

            .new-comments .gravatar-mobile {
                display: unset;
            }

            .new-comments .gravatar-main {
                display: none;
            }

            .new-comments .vote {
                margin-right: 0em;
            }
        }

        .new-comments .comment-display {
            border-radius: 4px;
        }

        .new-comments .comment:target > .comment-display {
            border: 1px solid #2980b9;
            border-left: 10px solid #2980b9;
            padding-left: 5px;
        }

        .comments.top-level-comments {
            margin-bottom: -3px;
        }

        .bad-comment {
            opacity: 0.3;
        }

        .bad-comment:hover {
            opacity: 1;
            /* This is necessary to prevent random flickering */
            -webkit-transform: translatez(0);
            -moz-transform: translatez(0);
            -ms-transform: translatez(0);
            -o-transform: translatez(0);
            transform: translatez(0);
        }
    </style>
{% endcompress %}
