- load compress

- compress css
    | #{comment_form.media.css}
    style(media='all').
        .featherlight {
            z-index: 1000;
        }

        .revision-text p:first-child { margin-top: 0; }
        .revision-text p:last-child { margin-bottom: 0; }
        .featherlight-edit .featherlight-content {
            background: #FAFAFA;
            padding: 10px 15px 10px 10px;
            border-radius: 10px;
            border: 1px solid #CCC;
        }
