- load compress

- compress css
    | #{comment_form.media.css}
    if perms.judge.test_site
        style.
            .top-level-comments:not(.new-comments) { display: none !important; }
            .new-comments { display: block !important; }

    style(media='all').
        .featherlight {
            z-index: 1000;
        }

        .revision-text p:first-child { margin-top: 0; }
        .revision-text p:last-child { margin-bottom: 0; }
        .featherlight-edit .featherlight-content {
            background: #FAFAFA;
            padding: 10px 15px 10px 10px;
            border-radius: 10px;
            border: 1px solid #CCC;
        }

        .new-comments { display: none; }

        .new-comments .comment {
            display: flex;
            margin-bottom: 1em !important;
        }

        .new-comments .comment .detail {
            margin: 0px 15px 0px;
            width: 100%;
        }

        .new-comments .comment-title {
            font-weight: 600;
            color: black;
            padding-top: 0.8em;
        }

        .new-comments .comment .detail .header {
            display: flex;
            padding: 2px 0px;
            font-weight: normal;
            border-bottom: 1px #ccc solid;
            color: #888;
            text-align: right;
        }

        .new-comments .header i {
            color: #888 !important;
        }

        .new-comments .info {
            padding-top: 0.4em;
            display: flex;
        }

        .new-comments .gravatar { width: 75px }

        .new-comments .vote {
            margin-right: 1em;
            height: 75px;
            padding-top: 0.4em;
        }