- load compress

- compress css
    | #{comment_form.media.css}
    style(media='all').
        .featherlight {
            z-index: 1000;
        }

        .revision-text p:first-child { margin-top: 0; }
        .revision-text p:last-child { margin-bottom: 0; }
        .featherlight-edit .featherlight-content {
            background: #FAFAFA;
            padding: 10px 15px 10px 10px;
            border-radius: 10px;
            border: 1px solid #CCC;
        }

        .new-comments { display: none; }

        .new-comments .comment {
            display: flex;
            margin-bottom: 1em;
        }

        .new-comments .comment .info {
            text-align: center;
            display: flex;
            align-items: center;
        }

        .new-comments .comment .detail {
            margin: 0px 15px 0px;
            border: 1px #ccc solid;
            border-radius: 5px;
            width: 100%;
        }

        .new-comments .comment-title {
            font-weight: 600;
            color: black;
            padding-left: 0.2em;
        }

        .new-comments .comment .detail .header {
            display: flex;
            padding: 2px 5px;
            font-weight: normal;
            border-bottom: 1px #ccc solid;
            color: #777;
            background: #eee;
            border-radius: 5px 5px 0 0;
            text-align: right;
        }

        .new-comments .comment .content {
            padding: 0 1em;
        }

        .new-comments .gravatar { width: 75px }