- load markdown_trois_tags
- load smart_math
- load reference
- load camo_proxy
- load lazy_load


- with node=revision.field_dict
    .comment-title(style=('display: none' if not node['title'] or node['title'].startswith('Re:') else '')) #{node.title}
    | #{node.body | markdown:"comment"|reference|smart_math:MATH_ENGINE|proxy_images|lazy_load}
