extends stats/base

- load i18n

block chart_body
    h3 {% trans "Submissions by Language" %}
    canvas#by-lang(width=400, height=400)

block bodyend
    script(type='text/javascript').
        $(function () {
            $.getJSON('{% url "language_stats_data" %}', {
                complete: function (data) {
                    var ctx = $('canvas#by-lang').get(0).getContext('2d');
                    var chart = new Chart(ctx).Pie(data);
                }
            });
        });