extends stats/base

- load i18n

block media
    style.
        .chart {
            margin: 10px 0;
        }

        ul.legend {
            list-style-type: none;
            padding: 0;
        }

        .legend .square {
            display: inline-block;
            width: 1em;
            height: 1em;
            margin-right: .3em;
        }

        @media (max-width: 450px) {
            ul.legend {
                -moz-columns: 5 7em;
            }
        }

        @media (min-width: 451px) {
            .chart {
                display: flex;
            }

            ul.legend {
                margin-left: 20px;
            }
        }


block chart_body
    h3 {% trans "Submissions by Language" %}
    div.chart#by-lang
        canvas(width=300, height=300)
        ul.legend

block bodyend
    script(type='text/javascript').
        $(function () {
            $.getJSON('{% url "language_stats_data" %}', function (data) {
                var $lang = $('#by-lang');
                var ctx = $lang.find('canvas').get(0).getContext('2d');
                var chart = new Chart(ctx).Pie(data);

                var $legend = $lang.find('.legend');
                for (var i = 0; i < data.length; ++i) {
                    $legend.append($('<li>')
                            .append($('<span>').addClass('square').css('background-color', data[i].color))
                            .append($('<span>').text(data[i].label))
                    );
                }
            });
        });