extends stats/base

- load i18n

block media
    style.
        .chart {
            margin: 10px 0;
        }

        ul.legend {
            list-style-type: none;
            padding: 0;
        }

        .legend .square {
            display: inline-block;
            width: 1em;
            height: 1em;
            margin-right: .3em;
        }

        @media (max-width: 450px) {
            ul.legend {
                -moz-columns: 5 7em;
            }

            .chart canvas {
                display: block;
                margin: 0 auto;
            }
        }

        @media (min-width: 451px) {
            .chart {
                display: flex;
            }

            ul.legend {
                margin-left: 20px;
            }
        }


block chart_body
    h3 {% trans "Submissions by Language" %}
    div.chart#lang-all
        canvas(width=300, height=300)
        ul.legend
    h3 {% trans "AC Submissions by Language" %}
    div.chart#lang-ac
        canvas(width=300, height=300)
        ul.legend

block bodyend
    script(type='text/javascript').
        $(function () {
            function draw_pie_chart(url, $chart) {
                $.getJSON(url, function (data) {
                    var ctx = $chart.find('canvas').get(0).getContext('2d');
                    var chart = new Chart(ctx).Pie(data);

                    var $legend = $chart.find('.legend');
                    for (var i = 0; i < data.length; ++i) {
                        $legend.append($('<li>')
                                .append($('<span>').addClass('square').css('background-color', data[i].color))
                                .append($('<span>').text(data[i].label))
                        );
                    }
                });
            }
            draw_pie_chart('{% url "language_stats_data_all" %}', $('#lang-all'));
            draw_pie_chart('{% url "language_stats_data_ac" %}', $('#lang-ac'));
        });