extends base
- load markdown
- load staticfiles
- load smart_math
- load latex_math
- load lazy_load
- load camo_proxy
- load reference

block title
    | #{flatpage.title} - #{SITE_LONG_NAME}

block content_title
    | #{flatpage.title}

block header
    include flatpages/admin_link

block body
    .content-description
        | #{flatpage.content|markdown:"solution"|reference|latex_math|smart_math:MATH_ENGINE|proxy_images|lazy_load}

block bodyend
    if REQUIRE_JAX
        include mathjax-load
