extends base
- load markdown
- load staticfiles
- load lazy_load
- load reference

block title
    | #{flatpage.title} - #{SITE_LONG_NAME}

block content_title
    | #{flatpage.title}

block header
    include flatpages/admin_link

block body
    .content-description
        | #{flatpage.content|with_math_engine:MATH_ENGINE|markdown:"solution"|reference|lazy_load}

block bodyend
    if REQUIRE_JAX
        include mathjax-load
