extends base
-load markdown_trois_tags
-load staticfiles

block media
    link(rel='stylesheet', href='{% static "pygment-github.css" %}', type='text/css')                                                                                         
    link(rel='stylesheet', href='{% static "content-description.css" %}')

block title
    | #{flatpage.title} - Sword Art Online Judge

block content_title
    | #{flatpage.title}

block body
    .content-description
        | #{flatpage.content|markdown:"trusted"}
