extends common-content

- load i18n

block js_media
    block users_js_media
    if has_select2
        script(type='text/javascript', src='{{ SELECT2_JS_URL }}')
        script.
            $(function () {
                $('#search').replaceWith($('<select/>').attr({
                    id: 'search',
                    name: 'handle',
                    onchange: 'form.submit()'
                }));
                $('#search').select2({
                    placeholder: '{% trans "Search by handle..." %}',
                    ajax: {
                        url: '{% url "user_search_select2_ajax" %}'
                    },
                    minimumInputLength: 1,
                    escapeMarkup: function (markup) { return markup; },
                    templateResult: function (data, container) {
                        return '<span class="' + data.display_rank + '">' + data.text + "</span>";
                    }
                });

                var hash = window.location.hash;
                if (hash.startsWith('!')) {
                    var $user = $('#user-' + hash.substring(1)).css('background', '#fff897');
                    if ($user)
                        $(document).scrollTop($user.top() - 50);
                }
            });
    script.
        $(function() {
            var info_float = $('.info-float');
            var container = $('#content-right');
            if (window.bad_browser) {
                container.css('float', 'right');
            } else if (!featureTest('position', 'sticky')) {
                fix_div(info_float, 55);
                $(window).resize(function () {
                    info_float.width(container.width());
                });
                info_float.width(container.width());
            }
        });

block media
    if has_select2
        link(href="{{ SELECT2_CSS_URL }}", type="text/css", media="screen", rel="stylesheet")
    style.
        .select2-selection__arrow { display: none; }
        .select2-selection__rendered { cursor: text; }
        .select2-results__option--highlighted { background-color: #DEDEDE !important; }

        #users-table .rank, .points, .problems, .username {
            white-space: nowrap;
        }

        #users-table .username {
            width: 100%
        }

        #users-table .header {
            vertical-align: middle;
        }

        #users-table tr {
            -webkit-transition: background-color linear .2s;
            -moz-transition: background-color linear .2s;
            -o-transition: background-color linear .2s;
            transition: background-color linear .2s;
        }

        #users-table tr:hover {
            background: #EAEAEA;
        }

    if show_organization
        style.
            .userinfo {
                position: relative;
            }

            .organization a {
                position: absolute;
                left: 0;
                font-weight: bold;
                color: gray;
            }

    block users_media

block body
    #common-content
        #content-right.users: .info-float
            h3 {% trans "Search for user" %}
            hr
            form#search-form(name='form', action='{% url "user_ranking_redirect" %}', method='get')
                input#search(type='text', name='search', placeholder='{% trans "Search by handle..." %}')

        #content-left.users
            if page_obj.num_pages > 1
                div(style='margin-bottom: 7px; margin-top: 5px;')
                    include list_pages

            table#users-table.table
                block users_table

            if page_obj.num_pages > 1
                div(style='margin-top:10px;')
                    include list_pages