{% extends "common-content.html" %}

{% block js_media %}
    {% block users_js_media %}{% endblock %}
    <script>
        $(function () {
            $('#search-handle').replaceWith($('<select>').attr({
                id: 'search-handle',
                name: 'handle',
                onchange: 'form.submit()'
            }));
            var in_user_redirect = false;
            $('#search-handle').select2({
                theme: '{{ DMOJ_SELECT2_THEME }}',
                placeholder: '{{ _('Search by handle...') }}',
                ajax: {
                    url: '{{ url('user_search_select2_ajax') }}'
                },
                minimumInputLength: 1,
                templateResult: function (data, container) {
                    return $('<span>')
                        .append($('<img>', {
                            'class': 'user-search-image', src: data.gravatar_url,
                            width: 24, height: 24
                        }))
                        .append($('<span>', {'class': data.display_rank + ' user-search-name'}).text(data.text));
                }
            }).on('select2:selecting', function () {
                return !in_user_redirect;
            });

            var $last = null;
            $(window).on('hashchange', function () {
                var hash = window.location.hash;
                if (hash.startsWith('#!')) {
                    var $user = $('#user-' + hash.substring(2)).addClass('highlight');
                    if ($user) {
                        $(document).scrollTop($user.position().top - 50);
                        if ($last !== null) $last.removeClass('highlight');
                        $last = $user;
                    }
                }
            }).trigger('hashchange');
        });
    </script>
{% endblock %}

{% block media %}
    {% block users_media %}{% endblock %}
{% endblock %}

{% block body %}
    {% if page_obj and page_obj.has_other_pages() %}
        <div class="top-pagination-bar">
            {% include "list-pages.html" %}
            {% if not organization %}
                <form id="search-form" name="form" action="{{ url('user_ranking_redirect') }}" method="get">
                    <input id="search-handle" type="text" name="search"
                           placeholder="{{ _('Search by handle...') }}">
                </form>
            {% endif %}
        </div>
    {% endif %}

    <div id="common-content">
        <div id="content-left" class="users">
            {% block before_users_table %}{% endblock %}

            <div class="h-scrollable-table">
                {% block users_table %}{% endblock %}
            </div>
        </div>
    </div>
    {% if page_obj and page_obj.has_other_pages() %}
        <div class="bottom-pagination-bar">{% include "list-pages.html" %}</div>
    {% endif %}
{% endblock %}
