extends base

block media
    style
        #users-table .rank, .points, .problems, .username {
            white-space: nowrap;
        }
        #users-table .username {
            width: 100%
        }
        #users-table .header {
            vertical-align: middle;
        }
    if show_organization
        style
            .userinfo {
                position: relative;
            }

            .organization a {
                position: absolute;
                left: 0;
                font-weight: bold;
                color: gray;
            }

    block users_media

block body
    br
    table#users-table.table
        block users_table
