extends base

block js_media
    block users_js_media

block media
    style
        #users-table .rank, .points, .problems, .username {
            white-space: nowrap;
        }

        #users-table .username {
            width: 100%
        }

        #users-table .header {
            vertical-align: middle;
        }

        #users-table tr {
            -webkit-transition: background-color linear .2s;
            -moz-transition: background-color linear .2s;
            -o-transition: background-color linear .2s;
            transition: background-color linear .2s;
        }

        #users-table tr:hover {
            background: #EAEAEA;
        }

    if show_organization
        style
            .userinfo {
                position: relative;
            }

            .organization a {
                position: absolute;
                left: 0;
                font-weight: bold;
                color: gray;
            }

    block users_media

block body
    br
    table#users-table.table
        block users_table
