{%  load cache %}{%  load i18n %}{%  load rating %}
<thead>
  <tr>
    <th class="header rank">{{rank_header|default:_("Rank")|escape}}</th>{% block after_rank_head %}{% endblock %}
    <th class="header username">{% trans "Username" %}</th>{% block before_point_head %}{% endblock %}{% if  sort_links %}
    <th class="header points"><a{{__pyjade_attrs(attrs=[('href',(sort_links['performance_points']))])}}>{% trans "Points" %}{{sort_order.performance_points|escape}}</a>
    </th>{% else %}
    <th class="header points">{% trans "Points" %}</th>{% endif %}{% block after_point_head %}{% endblock %}
  </tr>
  <tbody>{% for rank,user in __pyjade_iter(users,2) %}
    <tr id="user-{{ user.user.username }}">
      <td>{{rank|escape}}</td>{% block after_rank %}{% endblock %}
      <td class="user-name rating {{ user.rating|rating_class }} {{ user.display_rank }}"><a href="{% url "user_page" user.user.username %}">{{user.user.username|escape}}</a>
      </td>{% block before_point %}{% endblock %}{% block point %}
      <td title="{{ user.performance_points|floatformat:2 }}" class="user-points">{{user.performance_points|floatformat:0|escape}}</td>{% endblock %}{% block after_point %}{% endblock %}
    </tr>{% endfor %}
  </tbody>
</thead>