{% extends "user/user-base.html" %}

{% block user_media %}
    {% include "timezone/media-css.html" %}
    {{ form.media.css }}
    <style>
        .sortedm2m-container, .sortedm2m-container p.selector-filter {
            width: 300px;
        }

        .sortedm2m-container p.selector-filter input {
            width: 262px;
        }

        ul.sortedm2m {
            width: 284px;
            min-height: 70px;
            max-height: 200px;
            height: 70px
        }

        .grayed {
            color: #666;
        }

        .inline-header {
            float: left;
            font-size: 1.1em;
            padding: 4px 8px;
            padding-left: 0;
        }

        .block-header {
            color: #666;
            font-size: 1.1em;
        }

        .fullwidth {
            display: block;
            overflow: hidden;
        }

        #edit-form {
            border: unset;
            background: unset;
            max-width: 700px;
        }

        .settings {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .pane {
            display: block;
            width: 337px;
        }

        .api-token {
            padding-top: 5px;
            font-family: Consolas, Liberation Mono, Monaco, Courier New, monospace;
            font-size: 12px;
            -webkit-user-select: all;
            -ms-user-select: all;
            user-select: all;
            white-space: nowrap;
        }

        .ml-5 {
            margin-left: 5px;
        }
    </style>
{% endblock %}

{% block js_media %}
    {% include "timezone/media-js.html" %}
    {{ form.media.js }}
    <script type="text/javascript">
        $(function () {
            $('#ace_user_script').on('ace_load', function (e, editor) {
                editor.getSession().setMode("ace/mode/javascript");
            });

            $('#disable-2fa-button').click(function () {
                alert("The administrators for this site require all the staff to have Two-factor Authentication enabled, so it may not be disabled at this time.");
            });

            $('#generate-api-token-button').click(function (event) {
                event.preventDefault();
                if (confirm("{{ _('Are you sure you want to generate or regenerate your API token?') }}\n"
                          + "{{ _('This will invalidate any previous API tokens.') }} "
                          + "{{ _('It also allows access to your account without Two-factor Authentication.') }}\n\n"
                          + "{{ _('You will not be able to view your api token after you leave this page!') }}")) {
                    $('#api-token').text("{{ _('Generating...') }}");

                    $.ajax({
                        type: 'POST',
                        url: $(this).attr('href'),
                        dataType: 'json',
                        success: function(data) {
                            $('#api-token').text(data.data.token);
                            $('#generate-api-token-button').text("{{ _('Regenerate') }}");

                            // Add remove button on-the-fly
                            if ($('#remove-api-token-button').length == 0) {
                                $('#generate-api-token-button').after($('<a id="remove-api-token-button" \
                                    href="{{ url('remove_api_token') }}" \
                                    class="button inline-button ml-5">{{ _('Remove') }}</a>'));
                            }
                        },
                    });
                }
            });

            // Delegated event handler because the remove button may have been added on-the-fly
            $('#api-token-td').on('click', '#remove-api-token-button', function (event) {
                event.preventDefault();
                if (confirm("{{ _('Are you sure you want to remove your API token?') }}")) {
                    $.ajax({
                        type: 'POST',
                        url: $(this).attr('href'),
                        dataType: 'json',
                        success: function(data) {
                            $('#api-token').text('');
                            $('#generate-api-token-button').text("{{ _('Generate') }}");
                            $('#remove-api-token-button').remove();
                        },
                    });
                }
            });
        });
    </script>
    <script>
        // This is basically impossible to write without ES6, hence separate script block.
        $(() => {
            {% include "user/webauthn-helpers.js" %}

            $('#new-webauthn').click(event => {
                event.preventDefault();

                if (typeof window.PublicKeyCredential === 'undefined') {
                    alert('{{ _('WebAuthn is not supported by your browser.') }}');
                    return;
                }

                $.getJSON('{{ url('webauthn_attest') }}')
                    .done(publicKey => {
                        decodeJSONBytes(publicKey);
                        navigator.credentials.create({publicKey})
                            .then(credential => {
                                credential = {
                                    id: credential.id,
                                    response: {
                                        attObj: urlSafeBase64Encode(credential.response.attestationObject),
                                        clientData: urlSafeBase64Encode(credential.response.clientDataJSON),
                                    }
                                };
                                $.post('{{ url('webauthn_attest') }}', {
                                    credential: JSON.stringify(credential),
                                    name: $('#new-webauthn-name').val(),
                                })
                                    .then(() => window.location.reload())
                                    .fail((jqXHR) => alert(jqXHR.responseText));
                            });
                    })
                    .fail(() => alert('{{ _('Failed to contact server.') }}'));
            });

            $('.webauthn-delete').click(function (event) {
                event.preventDefault();
                if (confirm("{{ _('Are you sure you want to delete this security key?') }}")) {
                    $.post($(this).attr('data-delete-url'))
                        .then(() => window.location.reload())
                        .fail((jqXHR) => alert(jqXHR.responseText));
                }
            });
        });
    </script>
{% endblock %}

{% block title_ruler %}{% endblock %}

{% block title_row %}
    {% set tab = 'edit' %}
    {% set user = request.profile %}
    {% include "user/user-tabs.html" %}
{% endblock %}

{% block body %}
    <div class="centered-form">
        <form id="edit-form" action="" method="post" class="form-area">
            {% if form.errors %}
                <div class="alert alert-danger alert-dismissable">
                    <a href="#" class="close">x</a>
                    {{ form.non_field_errors() }}
                </div>
            {% endif %}

            {% csrf_token %}

            <div style="padding-top:0.5em" class="block-header">{{ _('Self-description') }}:</div>
            {{ form.about }}
            <hr>

            <div class="settings" style="padding-top:0.7em">
                <div class="pane" style="vertical-align:top">
                    <table style="padding-right:0.8em">
                        <tr title="{{ _('Select your closest major city') }}">
                            <td><label class="inline-header grayed">{{ _('Timezone') }}:</label></td>
                            <td><span class="fullwidth">{{ form.timezone }}</span></td>
                        </tr>
                        <tr>
                            <td><label class="inline-header grayed">{{ _('Language') }}:</label></td>
                            <td><span class="fullwidth">{{ form.language }}</span></td>
                        </tr>
                        <tr>
                            <td><label class="inline-header grayed">{{ _('Editor theme') }}:</label></td>
                            <td><span class="fullwidth">{{ form.ace_theme }}</span></td>
                        </tr>
                        {% if has_math_config %}
                            <tr>
                                <td><label class="inline-header grayed">{{ _('Math engine') }}:</label></td>
                                <td><span class="fullwidth">{{ form.math_engine }}</span></td>
                            </tr>
                        {% endif %}
                    </table>
                </div>
                <div class="pane">
                    <div style="padding-bottom:0.3em; margin-top:0.3em" class="block-header">
                        {{ _('Affiliated organizations') }}:
                    </div>
                    {{ form.organizations }}
                </div>
            </div>
            <hr>
            <div class="settings" style="padding-top:0.7em">
                <div class="pane">
                    <table border="0">
                        {% if form.newsletter %}
                            <tr><td>
                                {{ form.newsletter }}
                                <label for="id_newsletter" style="float: unset" class="inline-header grayed">
                                        {{- _('Notify me about upcoming contests') -}}
                                </label>
                            </td></tr>
                        {% endif %}
                        <tr><td>
                            {{ form.test_site }}
                            <label for="id_test_site" style="float: unset" class="inline-header grayed">
                                {{- form.test_site.label -}}
                            </label>
                        </td></tr>
                        <tr><td>
                            <a href="http://www.gravatar.com/" title="{{ _('Change your avatar') }}"
                               target="_blank" class="inline-header">
                                {{ _('Change your avatar') }}
                            </a>
                        </td></tr>
                        <tr><td>
                            <a href="{{ url('password_change') }}" class="inline-header">
                                {{ _('Change your password') }}
                            </a>
                        </td></tr>
                    </table>
                </div>
                <div class="pane">
                    <div>
                        <span class="inline-header grayed">
                            {% if profile.is_totp_enabled %}
                                {{ _('Two-factor Authentication is enabled') }}:
                            {% else %}
                                {{ _('Two-factor Authentication is disabled') }}:
                            {% endif %}
                        </span>
                        {% if profile.is_totp_enabled %}
                            {% if require_staff_2fa and request.user.is_staff %}
                                <a id="disable-2fa-button" class="button inline-button">{{ _('Disable') }}</a>
                            {% else %}
                                <a href="{{ url('disable_2fa') }}" class="button inline-button">{{ _('Disable') }}</a>
                            {% endif %}
                        {% else %}
                            <a href="{{ url('enable_2fa') }}" class="button inline-button">{{ _('Enable') }}</a>
                        {% endif %}
                    </div>
                    <br>
                    {% if HAS_WEBAUTHN %}
                        <div style="padding-bottom:0.4em" class="block-header">
                            {{ _('Security keys') }}:
                        </div>
                        <table class="table">
                            {% if profile.is_webauthn_enabled %}
                                {% for credential in profile.webauthn_credentials.all() %}
                                    <tr>
                                        <td>{{ credential.name }}</td>
                                        <td>
                                            <button class="webauthn-delete inline-button"
                                                    data-delete-url="{{ url('webauthn_delete', credential.id) }}">
                                                {{ _('Delete') }}
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            <tr>
                                <td><input id="new-webauthn-name" type="text" placeholder="{{ _('Enter a name for this key') }}"></td>
                                <td><button id="new-webauthn" class="inline-button">{{ _('Add') }}</button></td>
                            </tr>
                        </table>
                    {% endif %}
                    <span id="api-token-td" class="inline-header grayed">
                        {{ _('API Token') }}:
                        {% if profile.api_token %}
                            <a id="generate-api-token-button" href="{{ url('generate_api_token') }}"
                               class="button inline-button">{{ _('Regenerate') }}</a>
                            <a id="remove-api-token-button" href="{{ url('remove_api_token') }}"
                               class="button inline-button ml-5">{{ _('Remove') }}</a>
                            <div class="api-token" id="api-token">{{ _('Hidden') }}</div>
                        {% else %}
                            <a id="generate-api-token-button" href="{{ url('generate_api_token') }}"
                               class="button inline-button">{{ _('Generate') }}</a>
                            <div class="api-token" id="api-token"></div>
                        {% endif %}
                    </span>
                </div>
            </div>
            <hr>
            <div class="block-header">{{ _('User-script') }}:</div>
            {{ form.user_script }}
            <hr>

            <input type="submit" class="submit-bar" value="{{ _('Update profile') }}">
        </form>
    </div>
{% endblock %}
