{% extends "user/user-base.html" %}

{% block user_media %}
    {% include "timezone/media-css.html" %}
    {{ form.media.css }}
    <style>
        .sortedm2m-container, .sortedm2m-container p.selector-filter {
            width: 300px;
        }

        .sortedm2m-container p.selector-filter input {
            width: 262px;
        }

        ul.sortedm2m {
            width: 284px;
            min-height: 70px;
            max-height: 200px;
            height: 70px
        }

        .grayed {
            color: #666;
        }

        .inline-header {
            float: left;
            font-size: 1.1em;
            padding: 4px 8px;
            padding-left: 0;
        }

        .block-header {
            color: #666;
            font-size: 1.1em;
        }

        .fullwidth {
            display: block;
            overflow: hidden;
        }

        #edit-form {
            border: unset;
            background: unset;
            max-width: 700px;
            width: 100%;
        }

        #center-float {
            position: relative;
            margin: 0 auto auto -28.5em;
            left: 50%;
            width: 700px;
        }
    </style>
{% endblock %}

{% block js_media %}
    {% include "timezone/media-js.html" %}
    {{ form.media.js }}
    <script type="text/javascript">
        $(function () {
            $('#ace_user_script').on('ace_load', function (e, editor) {
                editor.getSession().setMode("ace/mode/javascript");
            });
        });
    </script>
{% endblock %}

{% block title_ruler %}{% endblock %}

{% block title_row %}
    {% set tab = 'edit' %}
    {% set user = request.user.profile %}
    {% include "user/user-tabs.html" %}
{% endblock %}

{% block body %}
    <div id="center-float">
        <form id="edit-form" action="" method="post" class="form-area">
            {% if form.errors %}
                <div class="alert alert-danger alert-dismissable">
                    <a href="#" class="close">x</a>
                    {{ form.non_field_errors() }}
                </div>
            {% endif %}

            {% csrf_token %}

            <table style="padding-right:0.8em; width: 100%">
                <tr>
                    <td><label class="inline-header grayed">{{ _('Preferred language') }}:</label></td>
                    <td><span class="fullwidth">{{ form.language }}</span></td>
                </tr>
                <tr>
                    <td><label class="inline-header grayed">{{ _('Editor theme') }}:</label></td>
                    <td><span class="fullwidth">{{ form.ace_theme }}</span></td>
                </tr>
                {% if has_math_config %}
                    <tr>
                        <td><label class="inline-header grayed">{{ _('Math engine') }}:</label></td>
                        <td><span class="fullwidth">{{ form.math_engine }}</span></td>
                    </tr>
                {% endif %}
                <tr>
                    <td colspan="2">
                        <a href="{{ url('password_change') }}" class="inline-header">
                            {{ _('Change your password') }}
                        </a>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><span class="inline-header">
                        {% if profile.is_totp_enabled %}
                            {{ _('Two Factor Authentication is enabled.') }}
                            <a href="{{ url('disable_2fa') }}" class="button inline-button">Disable</a>
                        {% else %}
                            {{ _('Two Factor Authentication is disabled.') }}
                            <a href="{{ url('enable_2fa') }}" class="button inline-button">Enable</a>
                        {% endif %}
                    </span></td>
                </tr>
            </table>

            <hr>
            <div class="block-header">{{ _('User-script') }}:</div>
            {{ form.user_script }}
            <hr>

            <input type="submit" style="float:right" value="{{ _('Update profile') }}">
        </form>
    </div>
{% endblock %}
