extends user/base_users

- load staticfiles
- load cache

block users_media
    link(rel='stylesheet', href='{% static "rating.css" %}')
    script(src='{% static "tablesorter.js" %}', type='text/javascript')
    script(type='text/javascript')
        $(document).ready(function () {
            $("#users-table").tablesorter();
        });
    style
        #users-table td:nth-child(2) {
            font-size: 0.85em;
            border-right: none;
        }

        #users-table th:nth-child(2) {
            border-right: none;
        }

block users_table
    include user/users_table
