extends user/base_users

- load staticfiles
- load cache
- load i18n

block users_js_media
    script(src='{% static "tablesorter.js" %}', type='text/javascript')
    script(type='text/javascript').
        $(document).ready(function () {
            $("#users-table").tablesorter();
        });

block users_media
    style.
        #users-table td:nth-child(2), #users-table th:nth-child(2) {
            border-right: none;
            text-align: left;
        }

block title_row
    - var tab = 'list'
    - var title = '{% trans "Users" %}'
    include user/user_list_tabs

block users_table
    include user/users_table
