extends user/base_users

- load staticfiles
- load cache

block users_media
    link(rel='stylesheet', href='{% static "rating.css" %}')
    script(src='{% static "tablesorter.js" %}', type='text/javascript')
    script(type='text/javascript')
        $(document).ready(function () {
            $("#users-table").tablesorter();
        });

block users_table
    include user/users_table
