extends user/base-users

- load staticfiles
- load cache
- load i18n

block users_media
    style.
        #users-table td:nth-child(2), #users-table th:nth-child(2) {
            border-right: none;
            text-align: left;
        }

        #users-table th a {
            color: white;
        }

block title_ruler

block title_row
    - var tab = 'list'
    - var title = 'Leaderboard'
    include user/user-list-tabs

block users_table
    include user/users-table
