{% extends "user/base-users.html" %}

{% block users_media %}
    <style>
        #users-table td:nth-child(2), #users-table th:nth-child(2) {
            border-right: none;
            text-align: left;
        }

        #users-table th a {
            color: white;
        }
    </style>
{% endblock %}

{% block title_ruler %}{% endblock %}

{% block title_row %}
    {% set tab = 'list' %}
    {% set title = 'Leaderboard' %}
    {% include "user/user-list-tabs.html" %}
{% endblock %}

{% block users_table %}
    {% include "user/users-table.html" %}
{% endblock %}