{% spaceless %}
    <span class="rate-group" title="{{ rating_name(rating) }}">
        {% if rating_class(rating) == 'rate-target' %}
            <svg class="rate-box rate-target" viewBox="0 0 16 16">
                <circle cx="8" cy="8" r="7"></circle>
                <circle cx="8" cy="8" r="3"></circle>
            </svg>
        {% else %}
            <svg class="rate-box {{ rating_class(rating) }}" viewBox="0 0 16 16">
                <circle cx="8" cy="8" r="7"></circle>
                <path clip-path="url(#rating-clip)"
                      d="M0 16v-{{ (rating_progress(rating) * 16)|round(2) }}h16 0v16z"></path>
            </svg>
        {% endif %}
        <span class="rating {{ rating_class(rating) }}">{{ rating.rating|default(rating) }}</span>
    </span>
{% endspaceless %}