extends base
- load staticfiles

block media

block body
    table.table
        tr
            th Contest
            th Rating
        each rating in ratings
            tr
                td= rating.contest.name
                td= rating.rating
