- load i18n

div.page-title
    ul.tabs(style='margin: 0px 0px 8px;padding:0px;width:100%')
        h2(style='color:#393630; display: inline-block')= title
        span.spacer
        li(class=('active' if user_tab == 'about' else ''))
            a(href='{% url "user_page" user.user.username %}') {% trans "About" %}
        li(class=('active' if user_tab == 'problems' else ''))
            a(href='{% url "user_problems" user.user.username %}') {% trans "Problems" %}
        if request.user.is_superuser and user.user != request.user
            li: a(href='{% url "impersonate-start" user.user.id %}') {% trans "Impersonate" %}
        if user.user == request.user
            li(class=('active' if user_tab == 'edit' else ''))
                a(href='{% url "user_edit_profile" %}') {% trans "Edit profile" %}
        else
            if perms.auth.change_user
                li: a(href='{% url "admin:auth_user_change" user.user.id %}') {% trans "Admin User" %}
            if perms.judge.change_profile
                li: a(href='{% url "admin:judge_profile_change" user.id %}') {% trans "Admin Profile" %}
