- load i18n

div.page-title
    ul.tabs(style='margin: 0px 0px 8px;padding:0px;width:100%')
        h2(style='color:#393630; display: inline-block') {% trans title %}
        span.spacer
        li(class=('active' if tab == 'list' else ''))
            a(href='{% url "user_list" %}') {% trans "Ranks" %}
        li(class=('active' if tab == 'organizations' else ''))
            a(href='{% url "organization_list" %}') {% trans "Organizations" %}