{% extends "user/base-users-table.html" %}

{% block after_rank_head %}
    <th class="header rank">
        {% if sort_links %}<a href="{{ sort_links.rating }}">{% endif %}
        <span class="rate-group">
            <svg class="rate-box" viewBox="0 0 16 16">
                <circle cx="8" cy="8" r="7" stroke="white"></circle>
                <path clip-path="url(#rating-clip)" d="M0 16v-4.8h16 0v16z" fill="white"></path>
            </svg>
        </span>
        {%- if sort_links %}{{ sort_order.rating }}</a>{% endif %}
    </th>
{% endblock %}

{% block after_rank %}
    <td>{% if user.rating %}{{ rating_number(user) }}{% endif %}</td>
{% endblock %}

{% block after_point_head %}
    <th class="problems">
        {% if sort_links %}<a href="{{ sort_links.problem_count }}">{% endif %}
        {{ _('Problems') }}
        {%- if sort_links %}{{ sort_order.problem_count }}</a>{% endif %}
    </th>
{% endblock %}

{% block after_point %}
    <td>{{ user.problem_count }}</td>
{% endblock %}
