- load i18n

.page-title: .tabs
    h2 {% trans title %}
    span.spacer
    ul
        li(class=('active' if tab == 'list' else ''))
            a(href='{% url "user_list" %}') {% trans "Leaderboard" %}
        li(class=('active' if tab == 'organizations' else ''))
            a(href='{% url "organization_list" %}') {% trans "Organizations" %}
