extends user/base_users_table
- load rating

block after_point_head
    th Rating
    th.problems Problems

block after_point
    td
        a.rating(class='{{ user.rating|rating_class }}', title='{{ user.rating|rating_name }}',
                 href='{% url "user_rating" user.user.username %}') #{user.rating|default_if_none:"N/A"}
    td #{user.problems}
