extends user/base_users_table
- load rating

block after_rank_head
    th

block after_rank
    td
        if user.rating
            a(href='{% url "user_rating" user.user.username %}', title='{{ user.rating|rating_name }}')
                span.rate-box(class='{{ user.rating|rating_class }}')
                    span(style='height: {{ user.rating|rating_progress|floatformat:3 }}em')
                span.rating(class='{{ user.rating|rating_class }}') #{user.rating}

block after_point_head
    th.problems Problems

block after_point
    td #{user.problems}
