if page_obj.num_pages > 1
    div(style='margin-bottom: 7px; margin-top: 5px;')
        include list_pages

table#users-table.table
    block users_table

if page_obj.num_pages > 1
    div(style='margin-top:10px;')
        include list_pages