extends user/base_users_table
- load rating

block after_point_head
	th Rating
    th.problems Problems
block after_point
	td.rating(class='{{ rating.rating|rating_class }}', title='{{ rating.rating|rating_name }}')= user.rating
    td #{user.problems}
